
<section id="promotion" class="promotion-section">
    <div class="container promotion-inner">
        <div class="row">
            <div class="col-md-12 box promotion-program animated1" data-animation="fadeInUp" data-animation-delay="300">
                <!-- Title --> 
                <div class="row">
                    <div class="col-md-3 ispeak-box-link">
                        <a href="#" class="ispeak-link-img ispeak_intro_open"><img src="assets/img/screens/box-link3.jpg" /><span class="transition icons"><i class="fa fa-play"></i>Giới thiệu <br>về iSpeak</span></a>

                        <div id="ispeak_intro" class="bg_white mypopup" style="max-width: 100%; width: 600px;display:none;">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/138289638" rameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-3 ispeak-box-link">
                        <a href="" class="ispeak-link-img">
                        	<img src="assets/img/screens/box-link2.jpg"/>
                        	<span class="transition">Làm bài <br>test online</span>
                        </a>
                    </div>

                    <div class="col-md-3 ispeak-box-link">
                        <a href="" class="ispeak-link-img"><img src="assets/img/screens/box-link1.jpg" /><span class="transition">Học thử <br>miễn phí</span></a>
                    </div>
                    
                    <div class="col-md-3 promotion-video">
           				<login-form></login-form>
                    </div>
                </div>                        
            </div>
        </div>

        <div class="row only-ispeak-features">
            <div class="title-ispeak"><h2>Chỉ có tại iSpeak.vn</h2></div>
            <div class="row-fluid ispeak-main-services">
                <div class="col-md-3">
                    <div class="group-service trich-doan">
                        <a href="#" title="trích đoạn">
                            <div class="icon-service icon-trich-doan"><img src="assets/img/screens/teacher.png"></div>
                            <div class="group-link">
                                <div class="title-link">Giáo viên nước ngoài</div>
                            </div>
                            
                            <div class="content">
                                <p>100+ giáo viên có kinh nghiệm giảng dạy đến từ Anh, Pháp, Mỹ, Philippines, Canada. Tất cả đều có bằng cấp giảng dạy tiếng Anh chuyên nghiệp.</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="group-service tra-cuu">
                        <a href="#" title="tra cứu dữ liệu">
                            <div class="icon-service "><img src="assets/img/screens/clock.png"></div>
                            <div class="group-link">
                                <div class="title-link">Học thời gian ngắn, cường độ cao</div>
                            </div>
                            
                            <div class="content">
                                <p>Học viên học trên lớp trong 25’ hoặc 55’ với giáo viên. Thời gian khác trong ngày học viên sẽ làm bài tập, đọc tin tức, giải trí trên hệ thống nội bộ của iSpeak.</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="group-service tu-van-nganh">
                        <a href="#" title="tư vấn ngành">
                            <div class="icon-service"><img src="assets/img/screens/face-to-face.png"></div>
                            <div class="group-link">
                                <div class="title-link">Học 1 thầy - 1 trò</div>
                            </div>
                            
                            <div class="content">
                                <p>Học 1 thầy - 1 trò với giáo viên theo đúng trình độ và lộ trình của riêng mình</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="group-service dao-tao">
                        <a href="/Home/DaoTao" title="đào tạo">
                            <div class="icon-service icon-dao-tao"><img src="assets/img/screens/low-price.png"></div>
                            <div class="group-link">
                                <div class="title-link">Chi phí học thấp, chất lượng cao</div>
                            </div>
                            
                            <div class="content">
                                <p>Chúng tôi cung cấp nhiều khóa học đa dạng với chi phí thấp nhất và giá trị đem lại cho học viên cao nhất<br>
                                Giá chỉ từ: <span class="hot-price">16.000đ/buổi</span></p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 box step-to-learn">
                <!-- Title --> 
            <div class="row ">
                <div class="col-md-5 step-text animated1" data-animation="fadeInUp" data-animation-delay="300">
                    <div class="row">
                    <h2 class="ispeak-title">Các bước đơn giản để học tại iSpeak</h2>
                    <hr class="legend">
                    </div>
                    <div class="ispeak-timeline">
                        <div class="row row-timeline">
                            <div class="col-md-12 animated1" data-animation="fadeInUp" data-animation-delay="600">
                            <div class="timeline-number pull-left">
                                <span class="number">1</span>
                            </div>
                            <div class="pull-left left-timeline">
                                <div class="icon-timeline"><img src="assets/img/screens/icon-register.png"></div>
                                <div class="timeline-text">
                                    <h2 class="timeline-title">Đăng ký tài khoản dễ dàng<br>- Học thử miễn phí</h2>
                                    <p class="timeline-content">Bạn chưa phải thành viên? <a href="">đăng ký tại đây</a></p>
                                </div>
                            </div>
                            </div>
                        </div>
                        <div class="row row-timeline" >
                            <div class="col-md-12 animated1" data-animation="fadeInUp" data-animation-delay="800">
                            <div class="timeline-number pull-left">
                                <span class="number">2</span>
                            </div>
                            <div class="pull-left left-timeline">
                                <div class="icon-timeline"><img src="assets/img/screens/icon-calendar.png"></div>
                                <div class="timeline-text">
                                    <h2 class="timeline-title">Tuỳ chọn giáo viên và thời gian phù hợp</h2>
                                    <p class="timeline-content">Chọn giáo viên >  Đặt lịch học > Chọn bài học</p>
                                </div>
                            </div>
                            </div>
                        </div>
                        <div class="row row-timeline" >
                            <div class="col-md-12 animated1" data-animation="fadeInUp" data-animation-delay="1000">
                            <div class="timeline-number pull-left">
                                <span class="number">3</span>
                            </div>
                            <div class="pull-left left-timeline">
                                <div class="icon-timeline"><img src="assets/img/screens/icon-computer.png"></div>
                                <div class="timeline-text">
                                    <h2 class="timeline-title">Học tại bất kỳ đâu</h2>
                                    <p class="timeline-content">Máy tính, ĐTDĐ bất cứ lúc nào, bất cứ nơi nào</p>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-7 promotion-video">
                    <img src="assets/img/screens/step-to-learn.jpg" class="animated1 fadeInUp" data-animation="fadeInUp" data-animation-delay="500">
                </div>                        
            </div>
        </div>
    </div>
</section>

<section id="skills" class="skills-section bg-blue">
    <div class="container skills-inner">
        <div class="row">
            <div class="title-ispeak-nobottom">
                <h2 class=" text-center white">
                	Tại iSpeak, bạn sẽ được học đầy đủ 4 kỹ năng
                </h2>
            </div>
            <div class="container-skills">
                <div class="row">
                    <div class="col-md-3 animated1" data-animation="fadeInUp" data-animation-delay="400">
                        <div id="nghe" class="detail-skill-icon">
                            <span class="icon-skill"><i class="fa fa-volume-down" aria-hidden="true"></i></span>
                            <span class="skill-text">Nghe</span>
                        </div>
                    </div>
                    <div class="col-md-3 animated1" data-animation="fadeInUp" data-animation-delay="600">
                        <div class="detail-skill-icon" data-animation-delay="600">
                            <span class="icon-skill"><i class="fa fa-microphone" aria-hidden="true"></i></span>
                            <span class="skill-text">Nói</span>
                        </div>
                    </div>
                    <div class="col-md-3 animated1" data-animation="fadeInUp" data-animation-delay="800">
                        <div class="detail-skill-icon" data-animation-delay="800">
                            <span class="icon-skill"><i class="fa fa-file-text" aria-hidden="true"></i></span>
                            <span class="skill-text">Đọc</span>
                        </div>
                    </div>
                    <div class="col-md-3 animated1" data-animation="fadeInUp" data-animation-delay="1000">
                        <div class="detail-skill-icon" data-animation-delay="1000">
                            <span class="icon-skill"><i class="fa fa-pencil" aria-hidden="true"></i></span>
                            <span class="skill-text">Viết</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="course" class="course-section">
    <div class="container course-inner">
        <div class="row">
            <div class="col-md-12">                        
                <div class="row">
                    <div class="col-md-4 animated1 " data-animation="fadeInUp" data-animation-delay="600">
                        <div class="flip-container">
                            <div class="course-link flipper">                                    
                                <div class="front">
                                    <img src="assets/img/screens/main-course-link1.jpg" />
                                    <span class="course-link-hover-front bg-transparent-green">Tiếng Anh <br>cho người lớn</span>
                                </div>
                                <a href="" class="back">
                                    <img src="assets/img/screens/main-course-link1.jpg" />
                                    <span class="course-link-hover-front">Tiếng Anh <br>cho người lớn</span>
                                </a>
                            </div>
                        </div>
                        <div class="flip-container">
                            <div class="course-link flipper">
                                <div class="front">
                                    <img src="assets/img/screens/main-course-link2.jpg" />
                                    <span class="course-link-hover-front bg-transparent-red">Tiếng Anh <br>cho thiếu nhi</span>
                                </div>                                    
                                <a href="" class="back">
                                    <img src="assets/img/screens/main-course-link2.jpg" />
                                    <span class="course-link-hover ">Tiếng Anh <br>cho thiếu nhi</span>
                                </a>
                            </div>
                        </div>
                        <div class="flip-container">
                            <div class="course-link flipper">  
                                <div class="front">
                                    <img src="assets/img/screens/main-course-link3.jpg" />
                                    <span class="course-link-hover-front bg-transparent-purple">Cửa hàng sách <br>học tiếng Anh</span>
                                </div>                                  
                                <a href="http://shop.ispeak.vn" target="_blank" class="back">
                                    <img src="assets/img/screens/main-course-link3.jpg" />
                                    <span class="course-link-hover ">Cửa hàng sách <br>học tiếng Anh</span>
                                </a>
                            </div>
                        </div>
                        <div class="flip-container">
                            <div class="course-link flipper">
                                <div class="front">
                                    <img src="assets/img/screens/main-course-link4.jpg" />
                                    <span class="course-link-hover-front bg-transparent-yellow">Dịch vụ <br>biên tập tiếng Anh</span>
                                </div>                                    
                                <a href="http://ispeak.vn/service" target="_blank" class="back">
                                    <img src="assets/img/screens/main-course-link4.jpg" />
                                    <span class="course-link-hover ">Dịch vụ <br>biên tập tiếng Anh</span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div id="favorite-course" class="col-md-4 animated1" data-animation="fadeInUp" data-animation-delay="800" ng-controller="favoriteCourseController">
                        <div class="box-course course-features">
                            <div class="box-course-title"><h2>Khoá học nổi bật</h2></div>
                            <hr class="box-course-legend">
                            <div class="box-course-main">

                                <div class="box-course-link" ng-repeat="(key, item) in favorite_courses">
                                    <a class="box-course-link-img">
                                        <img ng-src="{{_base.api_host}}{{item.image}}" alt="{{item.name}}" class="img-responsive">
                                    </a>
                                    <div class="box-course-text">
                                        <a class="title-link" href="" title="{{item.name}}">{{item.name}}</a>
                                        <div class="count-student">
                                            <span class="box-course-icon"><i class="fa fa-user" aria-hidden="true"></i></span>
                                            <span class="text-detail">
                                            	{{item.student_studied}} Học viên đã học
                                            </span>
                                        </div>
                                        <div class="level-student">
                                            <span class="box-course-icon"><i class="fa fa-signal" aria-hidden="true"></i></span>
                                            <span class="text-detail">Level: {{item.start_level}} - {{item.end_level}}</span>
                                        </div>
                                    </div>
                                </div>
                              
                            </div>
                        </div>
                    </div>

                    <div id="open-class" class="col-md-4 animated1" data-animation="fadeInUp" data-animation-delay="1000" ng-controller="openClassController">
                        <div class="box-course course-features">
                            <div class="box-course-title"><h2>Luyện nói trực tuyến</h2></div>
                            <hr class="box-course-legend">
                            <div class="box-course-main">
                              	
                        
                                <div class="box-course-link" ng-if="open_classes" ng-repeat="(key, class) in open_classes">
                                    <a href="" class="box-course-link-img">
                                        <img ng-src="{{_base.api_host}}{{class.image}}"/>
                                    </a>
                                    <div class="box-course-text">
                                        <div class="listen-text">
                                            <div class="pass-course-listen begining">
                                                <i class="fa fa-circle" aria-hidden="true"></i>
                                               	<span>{{class.status}}</span>
                                            </div>
                                            <div class="subject-course-listen"><span><strong>Chủ đề:</strong>{{class.name}}</span></div>
                                            <div class="timing">
                                                <i class="fa fa-clock-o" aria-hidden="true"></i>
                                                <span>
                                                	{{ class.start_time*1000 | date : "hh:mm" }}-{{class.end_time*1000 | date : "hh:mm"}} {{class.start_time*1000 | date : "dd/MM"}}
                                                </span>

                                            </div>
                                        </div>
                                       
                                            <!-- Hiện nút vào lớp -->
                                        <a class="btn-ispeak-small joined" ng-if="class.userBooking" href="#">Vào lớp</a>

                                        <a href="" class="btn-ispeak-small joined" href="#" ng-if="!class.userBooking">Tham gia</a>
                                       
                                    </div>
                                </div>
                            
                       
	                            <div ng-if="!open_classes" class="box-course-link">
	                                    <a class="box-course-link-img"><img src="assets/img/screens/khoahoc1.jpg"/></a>
	                                    <div class="box-course-text">
	                                        <div class="listen-text">
	                                            <div class="pass-course-listen begining"><i class="fa fa-circle" aria-hidden="true"></i><span>Đang diễn ra</span></div>
	                                            <div class="subject-course-listen"><span><strong>Chủ đề:</strong> The English alphabet and spelling</span></div>
	                                            <div class="timing"><i class="fa fa-clock-o" aria-hidden="true"></i><span>18:00-19:00 ngày 14/8</span></div>
	                                        </div>
	                                        <a href="#" class="btn-ispeak-small joined">Tham gia</a>
	                                    </div>
                                </div>

                                <div ng-if="!open_classes" class="box-course-link">
                                    <a class="box-course-link-img"><img src="assets/img/screens/khoahoc2.jpg"/></a>
                                    <div class="box-course-text">
                                        <div class="listen-text">
                                            <div class="pass-course-listen notyet"><i class="fa fa-circle" aria-hidden="true"></i><span>Chưa bắt đầu</span></div>
                                            <div class="subject-course-listen"><span><strong>Chủ đề:</strong> Do you speak english</span></div>
                                            <div class="timing"><i class="fa fa-clock-o" aria-hidden="true"></i><span>18:00-19:00 ngày 14/8</span></div>
                                        </div>
                                        <a href="#" class="btn-ispeak-small joined">Tham gia</a>
                                    </div>
                                </div>

                                <div ng-if="!open_classes" class="box-course-link">
                                    <a class="box-course-link-img"><img src="assets/img/screens/khoahoc3.jpg"/></a>
                                    <div class="box-course-text">
                                        <div class="listen-text">
                                            <div class="pass-course-listen finish"><i class="fa fa-circle" aria-hidden="true"></i><span>Kết thúc</span></div>
                                            <div class="subject-course-listen"><span><strong>Chủ đề:</strong> Love, job and life in future</span></div>
                                            <div class="timing"><i class="fa fa-clock-o" aria-hidden="true"></i><span>18:00-19:00 ngày 14/8</span></div>
                                        </div>
                                        <a href="#" class="btn-ispeak-small">Tham gia</a>
                                    </div>
                                </div> 
                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="clearfix"></div>

<section id="featured_teachers" class="course-section" ng-controller="featureTeacherController">
    <div class="container course-inner">
        <div class="row">
            <div class="col-md-12">
                <div class="title-ispeak"><h2>Giáo viên giảng dạy tích cực</h2></div>
                <div class="row row-fluid">
                    <div class="carousel slide teacher-ispeaks" id="feature-teacher-carousel">
                        <div class="carousel-inner">
                           
                            <ul class="bxslider thumbnails">
                                <li ng-repeat="(key, teacher) in feature_teachers" on-finish-render="ngRepeatFinished" class="col-md-3">
                                    <div class="thumbnail teacher-img">
                                        <a href="">
                                            <img ng-src="{{_base.api_host}}{{teacher.user.avatar}}" alt="{{teacher.user.fullname}}" class="img-responsive" style="width:100%;height:254px;">
                               
                                            <span class="teacher-intro">
                                                <span class="teacher-name">
                                                	{{teacher.user.fullname}}
                                                </span>
                                                <span class="quality-teacher">
                                                    {{teacher.level.name}}
                                                </span>
                                            </span>
                                        </a>
                                        <div class="caption">
                                            <h3 class="introduce-self" ng-bind-html="teacher.intro">
                                            </h3>
                                        </div>

                                        <hr>

                                        <div class="count-level-teacher">
                                            <div class="count-class pull-left">
                                            	<span>
                                            		<span class="orange">{{teacher.teaching_count}}</span> Lớp đã dạy
                                            	</span>
                                            </div>

                                            <div class="star-level pull-right">

                                                <i class="fa fa-star orange" aria-hidden="true" ng-repeat="x in _base.numberToArray(teacher.rate) track by $index">
                                                </i>
                                                <span>{{teacher.rate_count}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <!-- /Slide1 --> 
                        </div>
                        
                       
                                              
                    </div><!-- /#myCarousel -->
                </div>
            </div>
        </div>
    </div>
</section>

<div class="clearfix"></div>

<!-- Testimonials -->
<div id="testimonials" class="introduce animated1" data-animation="fadeInUp" data-animation-delay="600" ng-controller="testimonialController">
    <div class="container">
        <h2 class="tit-section upper">Học viên nói về iSpeak</h2>
        <div id="carousel-testimonial" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li ng-class='{active:$first}' data-target="#carousel-testimonial" data-slide-to="{{$index}}" ng-repeat="(key, item) in testimonials">
                    <img ng-src="{{_base.api_host}}{{item.avatar}}" alt="{{item.name}}">
                </li>
            </ol>
            <div class="carousel-inner">
             
                <div ng-repeat="(key, item) in testimonials" class="item" ng-class="{active:$first}" on-finish-render="ngRepeatFinished">
                    <div class="container">
                        <p class="review">{{item.review}}</p>
                        <p class="customer">{{item.name}}</p>
                        <p class="position">{{item.address}}</p>
                    </div>
                </div>
            </div>
            <!-- <a class="left carousel-control" href="#carousel-testimonial" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
            <a class="right carousel-control" href="#carousel-testimonial" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a> -->
        </div><!-- /#carousel-testimonial -->
    </div>
</div>

<section id="advisory" class="advisory-section">
    <div class="container advisory-inner">
        <div class="row">
            <div class="col-md-12">
                <div class="main-title-section text-center text-white">
                    <h2>Bạn cần tư vấn thêm?</h2>
                    <span>Nhập thông tin liên lạc, chúng tôi sẽ gọi lại cho bạn ngay</span>
                    
                </div>
                <div class="form-advisory">
                    <form class="form-horizontal" role="form" method="post" action="">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="text" class="form-control" id="inquiry_name" name="name" placeholder="Họ và tên">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="text" class="form-control" id="inquiry_phone" name="phone" placeholder="Số điện thoại">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                 <input type="email" class="form-control" id="inquiry_email" name="email" placeholder="Email">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12 text-center">
                                <p id="inquiry_status"></p>
                                
                                <input id="send_inquiry" name="submit" type="submit" value="Gửi yêu cầu" class="btn btn-primary">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
