<!DOCTYPE html>
<html ng-app="app">
<head>
	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<link rel="icon" type="image/png" href="assets/img/favicon.png">
	<title ng-bind="metaservice.getTitle()"></title>
	<meta name="description" content="{{metaservice.getDescription()}}"/>
    <meta name="keywords" content="{{metaservice.getKeywords()}}">
    <meta name="google-site-verification" content="5mVQtQQmHXrg89vufMMraktV01d7YwhJulGeGzKk36g" />

	<link rel="stylesheet" href="assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
	<link rel="stylesheet" href="assets/css/noto.css">
	<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="assets/css/flaticon.css">
	<link rel="stylesheet" href="assets/css/portfolio.css">
	<link rel="stylesheet" href="assets/css/animate.css">
	<link rel="stylesheet" href="assets/css/prettyPhoto.css">
	<link rel="stylesheet" href="assets/css/flexslider.css">
	<link rel="stylesheet" href="assets/css/tweet-carousel.css">
	<link rel="stylesheet" href="assets/css/simpletextrotator.css">
	<link rel="stylesheet" href="assets/css/jquery.circliful.css">
	<link rel="stylesheet" href="assets/css/jquery.bxslider.css">
	<link rel="stylesheet" href="assets/css/jquery.dataTables.min.css">
	<link rel="stylesheet" href="assets/css/responsive.css">
<!-- 	<link rel="stylesheet" href="assets/css/color_panel.css">
	<link rel="stylesheet" href="assets/css/slick/slick.css">
	<link rel="stylesheet" href="assets/css/slick/slick-theme.css">
    <link rel="stylesheet" href="assets/css/color-schemes/red.css">         --> 
    <link rel="stylesheet" href="assets/css/layerslider.css">
    <link rel="stylesheet" href="assets/css/jquery.toast.css">
    <link rel="stylesheet" href="assets/css/customSelectBox.css">
    <link rel="stylesheet" href="assets/css/fancybox/jquery.fancybox.css">
    <link rel="stylesheet" href="assets/css/summernote.css">
    <link rel="stylesheet" href="assets/css/chosen.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/v4/style.css">
    <link rel="stylesheet" href="assets/css/custom.css">
    <link rel="stylesheet" href="assets/css/chatbox.css">

	<style>
		@charset 'UTF-8';[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
		  display: none !important;
		}
		.bx-wrapper .bx-prev:hover, .bx-wrapper .bx-prev:focus {background-position:  0 -32px;}
		.bx-wrapper .bx-next:hover, .bx-wrapper .bx-next:focus {background-position: -43px -32px;}
	</style>
</head>
<body ng-controller="appCtrl">

	<ng-include src="'app/shared/header/header.html'"></ng-include>
	<ng-include src="'app/shared/slider/slider.html'"></ng-include>

	<div ng-view></div>
	
	<ng-include src="'app/shared/footer/footer.html'" ng-controller="footerController"></ng-include>
	
	<!-- ASSETS -->
	    <script src="assets/js/jquery-1.11.0.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular-sanitize.min.js">
		</script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular-route.min.js">
		</script>
		<script src="assets/js/bootstrap.min.js"></script>
		<script src="assets/js/owl.carousel.js"></script>
		<script src="assets/js/jquery.matchHeight-min.js"></script>
		<script src="assets/js/jquery.bxslider.min.js"></script>
		<script src="assets/js/jquery.popupoverlay.js"></script>

    <!-- APP MODULES -->
        <script src="app/app.routes.js"></script>
        <script src="app/app.config.js"></script>
        <script src="app/app.core.js"></script>
        <script src="app/app.services.js"></script>
        <script src="app/app.js"></script>

    <!-- CONTROLLERS -->
    	<!-- // <script src="app/shared/header/header.controller.js"></script> -->

    	<script src="app/shared/slider/slider.controller.js"></script>

        <script src="app/shared/loginform/loginform.controller.js"></script>

        <script src="app/shared/footer/footer.controller.js"></script>
        
        <script src="app/component/home/home.controller.js"></script>

    <!-- SERVICES -->
        

    <!-- DIRECTIVES -->
    	<script src="app/component/home/home.directive.js"></script>
		<script src="app/shared/loginform/loginform.directive.js"></script>
		
		
		
</body>
</html>