<!-- Page Loader -->
<!-- <div id="pageloader">
    <div class="loader-item fa fa-spin colored-border"></div>
</div>
 -->
<header id="header">
    <div class="navbar " id="navigation">
        <div class="container">
            <!-- Navigation Bar -->
            <div class="top-header">
                <div class="logo-header">
                    <a href="" title="iSpeak-Gia sư tiếng anh trực tuyến.">
						<img src="assets/img/logo.png" alt="">
					</a>
                    <span>Gia sư tiếng Anh của bạn</span>
                </div>
                <div class="hotline-gateinfo right">
                    <div class="hotline left">
                        <span class="icon-phone left">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                        </span>
                        <span class="info-hotline left">
                            Hotline: <span class="phone-number">(024) 66.50.88.62 – 0902.155.068 (giờ HC)</span><br>
                            <span class="time-phone"><strong>0968.950.850</strong>(18:00 - 21:00 Thứ 2 đến Thứ 7)</span>
                        </span>
                    </div>
                    <div class="gateinfo left">
                        <a href="" target="_blank">
                            <span>
                                Cổng thông tin<br>
                                học tiếng Anh của iSpeak
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="navbar-header">
                <!-- Responsive Menu Button -->
                <button data-target=".bs-navbar-collapse" data-toggle="collapse" type="button" class="navbar-toggle">
                    <span class="sr-only">Toggle navigation</span> 
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- Logo Image -->
            </div>
            <!-- End Navigation Bar -->
            <!-- Navigation Menu -->
            <nav id="topnav" role="navigation" class="collapse navbar-collapse bs-navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="" class="scroll">Giới thiệu</a></li>
                    <li><a href="" class="scroll">Giáo viên</a></li>
                    <!-- <li><a href="" class="scroll">Hình thức học</a></li> -->
                    <li><a href="" class="scroll">Danh sách Khoá học</a></li>
                    <li><a href="" class="scroll">Các gói học phí</a></li>
                    <li><a href="" class="scroll">Tiếng Anh thiếu nhi <span class="hot-link">Hot</span></a></li>
                    <!-- <li><a href="" class="scroll">Tiếng Anh Cho Người Đi Làm <span class="hot-link">Hot</span></a></li> -->
                    <li>
                    	<a href="" class="scroll">Hướng dẫn</a>
                    </li>
                    <li class="active">
                    	<a href="">ĐẶT LỊCH HỌC</a>
                    </li>
                    <li>
                    	<a href="" class="scroll">OPEN CLASS</a>
                    </li>
                    <li>
                    	<a href="">BLOG</a>
                    </li>
                </ul>
            </nav>
            <!-- End Navigation Menu -->
        </div>
        <!-- End container -->
    </div>
</header>

