#ispeak-chat-box{
	position: fixed;
	right: 20px;
	bottom: 90px;
	z-index: 999;
	width: 350px;
	max-width: 100%;
}


#ispeak-chat-box .chatbox-icon{
	position: fixed;
    right: 20px;
    bottom: 20px;
    display: inline-block;
    line-height: 68px;
    text-align: center;
    width: 60px;
    height: 60px;
    background:#f37925;
    border-radius: 50%;
    cursor: pointer;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: visible;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#ispeak-chat-box .chatbox-icon:hover{
	background: #008dd5;
}

#ispeak-chat-box .chatbox-icon-open{
    background-image: url(../img/icon/chatbox-ico-open.png);
    background-size: 32px 36px;
    background-repeat: no-repeat;
    background-position: center 14px;
    -webkit-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
  	text-align: center;
  	
}

#ispeak-chat-box .message-count{
    font-size: 0.9em;
    background: #f10d08;
    top: 0;
    position: absolute;
    right: 0;
    width: 20px;
    height: 20px;
    line-height: 20px;
    z-index: 999;
    border-radius: 50%;
    display: block;
    box-shadow: 0 0 3px #888;
    color: #fff;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
}

#ispeak-chat-box .chatbox-icon-close{
    background-image: url(../img/icon/chatbox-ico-close.png);
    background-size: 14px 14px;
    background-repeat: no-repeat;
    /*-webkit-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    transform: rotate(-30deg);*/
}

#ispeak-chat-box .chatbox-icon-open,
#ispeak-chat-box .chatbox-icon-close{
	position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    transition: opacity .08s linear,-webkit-transform .16s linear;
    transition: transform .16s linear,opacity .08s linear;
    transition: transform .16s linear,opacity .08s linear,-webkit-transform .16s linear;
    background-position: 50%;
    background-repeat: no-repeat;
}

#ispeak-chat-box .chatbox-icon .chatbox-icon-open,
#ispeak-chat-box .chatbox-icon.active .chatbox-icon-close{
	opacity: 1;
}

#ispeak-chat-box .chatbox-icon .chatbox-icon-close,
#ispeak-chat-box .chatbox-icon.active .chatbox-icon-open{
	opacity: 0;
}

#ispeak-chat-box .float-chatbox {
    position: fixed;
    bottom: 20px;
    right: 90px;
    width: 375px;
}

#ispeak-chat-box .chatbox-avatar {
    width: 20%;
    float: left;
    text-align: right;
}

#ispeak-chat-box .chatbox-avatar img {
    border-radius: 50%;
    max-width: 100%;
    width: 48px;
    height: 48px;
    border: 1px solid #ff9900;
    box-shadow: 0 0 10px #f5f5f5;
}

#ispeak-chat-box .chatbox-message-body {
    width: 75%;
    float: right;
    padding: 10px 20px;
    border: 1px solid #ddd;
    background: rgb(35, 169, 226);
    border-radius: 10px;
    font-size: 95%;
    margin-bottom: 2px;
}

#ispeak-chat-box .float-chatbox .chatbox-message-meta {
    color: #141823;
    padding-bottom: 5px;
    font-weight: bold;
}

#ispeak-chat-box .float-chatbox .chatbox-message {
    color: #f5f5f5;
    font-size: 90%;
}

#ispeak-chat-box .float-chatbox .chatbox-message-rely {
    width: 75%;
    float: right;
    padding: 15px 20px;
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 5px;
    font-size: 95%;
    color: #ddd;
}

.blink_me {
  animation: blinker 1.1s linear infinite alternate;
}

@keyframes blinker {  
  60% { opacity: 0; }
}

/* List chat */

.ispeak-chat-box-warp {
    width: 100%;
    float: left;
}

.list-chat {
}

.list-header {
    background: blue;
    color: #fff;
    padding: 20px 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-transform: uppercase;
}

.list-body {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 20px;
    background: #f1f1f1;
    height: 280px;
    max-height: 100%;
    overflow-y: scroll;
}
.user-info {
    width: 100%;
    float: left;
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}
.user-avatar {
    width: 20%;
    float: left;
    margin-right: 5%;
}
.user-avatar img {
    border-radius: 50%;
    border: 1px solid #eee;
    box-shadow: 0 0 2px blue;
    width: 48px;
    height: 48px;
}
.user-info-detail {
    width: 75%;
    float: left;
}
.user-meta {
    color: #008dd5;
    margin-bottom: 5px;
    margin-top: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap;
}
.user-last-message {
    font-size: 11px;
    color: #555;
    font-style: italic;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap;
}

/*Chat box*/
.chatbox{

}

.chatbox-header {
    background: blue;
    padding: 20px;
    color: #fff;
    width: 100%;
    float: left;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.chatbox-header .fa {
    margin-right: 15px;
    display: inline-block;
    float: left;
}

.chatbox-header img {
    width: 32px;
    height: 32px;
    display: inline-block;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
}

.chatbox-header span {
    width: 200px;
    display: inline-block;
    float: left;
}

.chatbox-body {
    height: 266px;
    padding: 20px;
    width: 100%;
    overflow-y: scroll;
    background: #f1f1f1;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
}

.chatbox-message.left {
    background: #72e285;
    width: 80%;
     float: left; 
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.chatbox-message.right {
    background: #fff;
    width: 80%;
    float: right;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    /* color: #fff; */
}

.chatbox-footer, .list-footer {
    width: 100%;
    float: left;
    padding: 20px;
    border: 1px solid #ddd;
    background: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.chatbox-message small.time {
    float: right;
    color: #999;
}