.int-kh {
        margin: 0;
    padding: 30px 0 20px;
}

.productbox img {height: auto;}

.cc-menu {    
    margin-bottom: 20px;
}
.cc-menu .heading {    
    background: #028ed2;
    padding: 11px;
    font-size: 18px;
    color: #fff;
    margin: 0;
    line-height: 24px;
}

.cc-menu > ul {    
    padding: 15px;
    background: #fff;
}
.cc-menu > ul > li {
    position: relative;
}

.cc-menu > ul > li:last-child a {
    border: none;
}

.cc-menu > ul > li > a {
    padding: 10px 10px 10px 32px;
    display: block;
    border-bottom: 1px solid #e6e6e6;
    color: #666;
    font-size: 14px;
    position: relative;
    vertical-align: middle;
}

.cc-menu > ul > li:hover > a, .cc-menu > ul > li.has-submenu.active > a, .cc-menu > ul > li.current > a {
    background: #F8F7FF;
}

.cc-menu > ul > li > ul {
    display: none;
}
/*.cc-menu > ul > li.active > ul {display: block;}*/

.cc-menu > ul > li ul li {
    width: 100%;
    border-width: 0px 0px 0px 0px;
    border-style: solid;
    border-color: #f1f1f1;
    font-size: 13px;
}

.cc-menu > ul > li ul li > a:hover, .cc-menu > ul > li ul li.current > a {
    background: #eee;
}

.cc-menu > ul > li ul li > a {
    padding: 10px 10px 10px 40px;
    display: block;
    color: #666;
    background: #fff;
    border-bottom: 1px solid #f5f5f5;
}

/*.cc-menu > ul > li > ul > li > a:before {
    content: '';
    display: inline-block;
    background: #028ed2;
    width: 6px;
    height: 6px;
    margin-right: 10px;
    border-radius: 15px;
    vertical-align: middle;
}*/

.cc-menu > ul > li ul li ul {
    padding-left: 20px;
}

/*.cc-menu > ul > li > ul > li ul li {
}

.cc-menu > ul > li > ul > li ul li a {
    padding: 10px 0 10px 20px;
    color: #666;
    display: block;
}*/

.cc-menu > ul > li.has-submenu > .toggle {
    color: #666;
    text-align: center;
    font-size: 16px;
    height: 100%;
    width: 35px;
    line-height: 14px;
    border-radius: 2px;
    cursor: pointer;
    z-index: 999;
    position: absolute;
    left: 0;
    top: 0;
    color: #028ED2;
    vertical-align: middle;
    -webkit-transition: 0.2s all;
    -moz-transition: 0.2s all;
    -o-transition: 0.2s all;
    transition: 0.2s all;
}

.cc-menu > ul > li > .toggle .fa {position: absolute;top: 10px;left: 0px;width: 100%;}

.cc-menu ul li.has-submenu:hover .toggle {
    border-color: #fff;
    border-radius: 3px;
}


#new-courses {
    padding-top: 15px;
}
#new-courses .column {width: 100%;float: left;}
#new-courses .message {font-size: 14px;font-weight: bold;color: #028ed2;margin: 0;padding: 10px;background: #fafafa;}
#new-courses .product-description {font-size: 12px;color: #666;text-align: left;padding-bottom: 5px;}
#new-courses .producttitle {color: #FF9E00;}

.btn.page-nav {background: #888;color: #fff;margin-left: 7px;padding: 3px 11px;border: none;}
.btn.page-nav:hover,.btn.page-nav.active {background: #35bfff;}
.nav-form {margin-bottom: 5px;}

.cont-post h3, .tit-post {font-size: 14px;line-height: 1.5;margin-bottom: 5px;}
.cont-post p {font-size: 13px;}

.course-detail .fa {margin-right: 5px;}
.course-detail .fa-heart {color: #ff5a79;}
.course-detail .fa-plus {color: #028ed2;}

@media (min-width: 480px){
    #new-courses .column {width: 50%;}
    #new-courses .column:nth-child(2n+1) {
        clear: left;
    }
}

@media (min-width: 768px){
    #new-courses .column {width: 33.333333%;}
    #new-courses .column:nth-child(2n+1) {
        clear: none;
    }
    #new-courses .column:nth-child(3n+1) {
        clear: left;
    }

}
