table td{
    word-wrap: break-word;
}
.booking-choose-form {
    padding: 15px 0;
    text-align: center;
}
.teacher-intro{
        text-align: justify;
    }
    
.origin_price{
    color: #888;
    text-decoration: line-through;
}

a.mypopup_btn_close {
    position: absolute;
    right: 9px;
    top: 5px;
    color: #a94442;
    text-decoration: none;
}

a.mypopup_btn_close:hover{
    color: #d0100c;
}
    
.text-bold, .bold{
    font-weight: 700;
}

.box .box-title, .table caption{
    border-bottom: 1px solid #0baedc;
    padding: 8px 0;
    /*margin-bottom: 15px;*/
    color: #4e4e4e;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
}

.box .box-content{
    padding-top: 15px;
}

.box-bordered caption, .box-bordered .box-title{
    border-bottom: #5A98CF 1px solid;
    padding-left: 8px; 
    background-color: #f2f2f2;
}

.page-title{
    color: #4e4e4e;
    text-transform: uppercase;
    font-size: 18px;
}
/* Tutor page */
#tutor_wrap{
    margin-top: 10px;
    margin-bottom: 50px;
}
#tutor_wrap .nav li a, #tutor_wrap .title{
    text-transform: uppercase;
    /*color: #fff;*/
    /*background: none;*/
}

#tutor_wrap .title{
    margin-top: 20px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    position: relative;
}

#tutor_wrap .title span{
    display:block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 85px;
    height: 3px;
    background:#ec971f;
}

#tutor_wrap .form-horizontal .control-label{
    text-align: left;
    font-weight: normal;
}

#tutor_wrap .btn{
    text-transform: uppercase;
}


#tutor_wrap h4.lighter {
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
  margin-top: 30px;
}


.date-dropdowns select {
    display: inline-block;
    /* width: 100%; */
    margin-right: 10px;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.popup_content{
    background: #fff;
    /*padding: 15px;*/
}

.popup_content .panel{
    margin-bottom: 0;
}

.form-header{
    margin-top: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ddd;
}

.way-us{
    background: #eee;
}


#main{
    background: #fff;
}

.box-teacher{
    margin-bottom: 15px;
}

.mypanel{
    padding: 15px;
}

.box-teacher a{
	/*color: #333;*/
	text-decoration: none;
}

.bg_white{
	background: #fff !important;
}

.upper{
	text-transform: uppercase;
}

.text-center{
	text-align: center;
}

.post{
	padding-top: 15px;
	padding-bottom: 15px;
}

.content-blog{
	padding-bottom: 30px;
}

li.flip {
    list-style: none;
    margin-top: 25px;
}

.flip h2 {
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.flip span {
    color: #FFF;
    background: #0786AF;
    border-radius: 50%;
    padding: 5px 9px;
    margin-right: 5px;
}

.rating-symbol .glyphicon {
    color: orange !important;
}

.panel span {
    background: transparent;
    padding: 0;
    font-weight: bold;
}

.flip h2:hover {
    color: #0786AF;
}

.content-blog img{
    max-width: 100% !important;
    height: auto !important;
}


.customtab .nav-tabs { border-bottom: 2px solid #DDD; }
.customtab .nav-tabs > li.active > a, .customtab .nav-tabs > li.active > a:focus, .customtab .nav-tabs > li.active > a:hover { border-width: 0; }
.customtab .nav-tabs > li > a { border: none; color: #666; }
.customtab .nav-tabs > li.active > a, .customtab .nav-tabs > li > a:hover { border: none; color: #4285F4 !important; background: transparent; }
.customtab .nav-tabs > li > a::after { content: ""; background: #4285F4; height: 2px; position: absolute; width: 100%; left: 0px; bottom: -1px; transition: all 250ms ease 0s; transform: scale(0); }
.customtab .nav-tabs > li.active > a::after, .customtab .nav-tabs > li:hover > a::after { transform: scale(1); }
.tab-nav > li > a::after { background: #21527d none repeat scroll 0% 0%; color: #fff; }
.tab-pane { padding: 15px 0; }
.tab-content{
    padding: 20px;
    border: 1px solid #ddd;
    border-top: none;
    margin-bottom: 30px;
}

.student-static .tab-content{
    padding: 0;
    border: none;
    border-top: none;
    margin-bottom: 0;
}

.student-static .nav li{
    width: 50%;
    text-align: center;
}

.student-static .nav li:first-child a{
    padding-left: 0;
}

.student-static .nav a{
    text-transform: uppercase;
}

.student-static .table{
    padding-bottom: 0;
    margin-bottom: 0;
}

.student-static .table tr, .student-static .table tr td{
    border-top: none;
    border-bottom: 1px dotted #e2e2e2;
    font-size: 12px;
    font-style: italic;
}

.course-detail .tab-content{
    border: none;
}

.card {background: #FFF none repeat scroll 0% 0%; box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3); margin-bottom: 30px; }

.course-detail .nav-tabs .glyphicon:not(.no-margin) { margin-right:10px; }
.tab-pane .list-group-item:first-child {border-top-right-radius: 0px;border-top-left-radius: 0px;}
.tab-pane .list-group-item:last-child {border-bottom-right-radius: 0px;border-bottom-left-radius: 0px;}
.tab-pane .list-group .checkbox { display: inline-block;margin: 0px; }
.tab-pane .list-group input[type="checkbox"]{ margin-top: 2px; }
.tab-pane .list-group .glyphicon { margin-right:5px; }
.tab-pane .list-group .glyphicon:hover { color:#FFBC00; }
.tab-pane .list-group .badge { color:#FFBC00; }
a.list-group-item.read { color: #222;background-color: #F3F3F3; }
hr { margin-top: 5px;margin-bottom: 10px; }
.nav-pills>li>a {padding: 5px 10px;}

.ad { padding: 5px;background: #F5F5F5;color: #222;font-size: 80%;border: 1px solid #E5E5E5; }
.ad a.title {color: #15C;text-decoration: none;font-weight: bold;font-size: 110%;}
.ad a.url {color: #093;text-decoration: none;}

.mypopup {
    transform: scale(0.8);
}
.popup_visible .mypopup {
    transform: scale(1);
}

.progress-bar {
    color: #333;
} 

/*
Reference:
http://www.bootstrapzen.com/item/135/simple-login-form-logo/
*/

.login-form {
    margin-top: 30px;
    border-radius: 15px;
}

form[role=login] {
    color: #5d5d5d;
    background: #f2f2f2;
    padding: 26px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
form[role=login] img {
    display: block;
    margin: 0 auto;
    margin-bottom: 35px;
}
form[role=login] input,
form[role=login] button {
    font-size: 18px;
    margin: 16px 0;
}
form[role=login] > div {
    text-align: center;
}
    
.form-links {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 50px;
}
.form-links a {
    color: #fff;
}

.navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size
{
    font-size: 87px;
}


.list_gv .page-header{
    margin-top: 0;
}



i.ar_hour1.fa.fa-caret-down {
    margin-right: 10px;
}

.form_datlich{
    margin-bottom: 20px;
    text-align: center;
}

.div_lich .list-inline>li{
    padding-left: 0;
    padding-right: 0;
}

.img-lich {
    width: 36px;
    height: 72px;
    display: inline-block;
    background-image: url(../img/img-off.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    /*margin-right: 2px;*/
    /*margin-left: 2px;*/
}

.img-lich.open {
    background: url(../img/img-online.png);
}

.img-lich.booked {
    background: url(../img/booked.png);
    background-position: 100%;
}

.img-lich.reserved {
    background: url(../img/ico-reserved.png);
    background-position: 100%;
}

.lichhoc-cuaban table.table-striped {
    border-left: 1px solid #E5E5E5;
    border-bottom: 1px solid #E5E5E5;
}


/*course product*/

.productbox {
    background-color:#ffffff;
    border: 1px solid #ddd;
    padding:10px;
    margin-top: 15px;
    margin-bottom: 20px;
    /*-webkit-box-shadow: 0 8px 6px -6px  #999;
       -moz-box-shadow: 0 8px 6px -6px  #999;
            box-shadow: 0 8px 6px -6px #999;*/
    /*min-height: 360px;*/
    text-align: center;
}

.productbox img{
    height: 248px;
    display: inline-block;
    width: auto;
}

.producttitle {
    /*font-weight:bold;*/
    padding: 10px 0 5px 0;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.productprice {
    border-top:1px solid #eee;
    padding-top: 5px;
}

.pricetext {
    /*font-weight:bold;*/
    color: #FF9E00;
    text-align: left;
}

a:hover .productbox {
    opacity: 0.6;
    filter: alpha(opacity=60);
}