

/*setting css*/
.carousel-control{
    max-width: 35px;
    color: #5dafea;
    text-shadow: none;
}

.carousel-control.left,
.carousel-control.right{
    background: transparent;
}

.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev{
    top: 30%;
}

.nowrap{
    white-space: nowrap;
}

.one-line{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

.tags{
    margin-bottom: 15px;
    margin-top: 20px;
}

span.count.badge {
    float: right;
    background-color: orange;
    color: #fff;
}

span.count{
    color: orange;
    font-weight: bold;
}

span.kid{
    display: inline-block;
    height: 15px;
    width: 35px;
    margin-right: 5px;
    background: url(../img/ico-kid.png) center left no-repeat;
    background-size: auto 15px;
    text-indent: -9999px;
}

span.adult{
    display: inline-block;
    height: 32px;
    width: 32px;
    margin-right: 5px;
    text-indent: -9999px;
}

span.adult.gen_1{
    background: url(../img/ico-man.png) no-repeat;
}

span.adult.gen_0{
    background: url(../img/ico-men.png) no-repeat;
}

legend{
    padding-bottom: 5px;
}

body {
    background: #eee;
    color: #141823;
    /*font-family: "Open Sans",sans-serif;*/
    font-family: 'Noto Serif', serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    position: relative;
}

@font-face {
    font-family: 'UTMCaviar';
    src: url('../fonts/UTMCaviar.eot');
    src: url('../fonts/UTMCaviar.eot') format('embedded-opentype'),
         url('../fonts/UTMCaviar.woff2') format('woff2'),
         url('../fonts/UTMCaviar.woff') format('woff'),
         url('../fonts/UTMCaviar.ttf') format('truetype'),
         url('../fonts/UTMCaviar.svg#UTMCaviar') format('svg');
}

.inlineContent{
    position: relative;
}

.inlineEditor{
    min-height: 28px;
    width: 100%;
    position: relative;
}

.inlineEditor.hover{
    background: #A1DEDD;
}

.inlineEditor.hover:after{
    position: absolute;
    top: 0;
    right: 0;
    content: "...\f040";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.inlineSelector.hover{
    background: #A1DEDD;
}

.inlineSelector.hover:after{
    position: absolute;
    top: 0;
    right: 0;
    content: "...\f040";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.icon-saving{
    display: block;
    position: absolute;
    content: "";
    top: 5px;
    right: 5px;
    width: 16px;
    height: 16px;
    background: url(../img/input-spinner.gif);
    z-index: 99;
}

span.new{
    display: block;
    float: right;
    width: 47px;
    height: 24px;
    background: url(../img/new_icon.gif);
    text-indent: -999px;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
a:hover{
    text-decoration: none;
}

.pd-15{
    padding: 15px;
}

.btn-flat{
    border-radius: 0 !important;
}

.m-b-5{
    margin-bottom: 5px !important;
}


.m-t-10{
    margin-top: 10px !important;
}

.m-t-15{
    margin-top: 15px !important;
}

.m-t-20{
    margin-top: 20px !important;
}

.m-r-10{
    margin-right: 10px !important;
}

.m-r-15{
    margin-right: 15px !important;
}

.m-r-20{
    margin-right: 20px !important;
}

.m-l-10{
    margin-left: 10px !important;
}

.m-l-15{
    margin-left: 15px !important;
}

.m-l-20{
    margin-left: 20px !important;
}

.m-b-10{
    margin-bottom: 10px !important;
}

.m-b-15{
    margin-bottom: 15px !important;
}

.m-b-20{
    margin-bottom: 20px !important;
}

.text-bold{
    font-weight: bold !important;
}

.block{
    position: relative;
}

.absolut{
    position: absolute;
}

.absolut-rb{
    right: 15px;
    bottom: 15px;
}

#statics .block{
    min-height: 170px;
}

.container{
    /*width: 100%;*/
    max-width: 1170px;
}

body{
    padding-top: 129px;
}

body.page #content{
    padding-bottom: 40px;
    background: #eee;
    padding-top: 25px;
}
body.page #content > .container{
    margin-top: 25px;
}

.utilities{
    text-align: right;
}

/*start css*/
.top-header{
    background: #028ed2;
    /*padding: 10px 0;*/
}

.top-header .nav>li>a{
    color: #fff;
}

.hotline a{
    color: #fff;
}

.hotline strong{
    margin-right: 15px;
    font-size: 13px;
    line-height: 19px;
}
ul.regiter{
    text-align: right;
}
ul.regiter > li{
    display: inline-block;
    padding: 0 24px;
}
ul.regiter > li:first-child{
    background: url("../img/icon-lg.png") no-repeat scroll left 2px;
}
ul.regiter > li:last-child{
    background: url("../img/icon-reg.png") no-repeat scroll left 2px;
}
ul.regiter > li a, ul.regiter > li span{
    color: #fff;
    font-size: 13px;
    line-height: 19px;
    font-weight: 600;
    display: inline-block;
}
ul.regiter > li a:hover{
    text-decoration: underline;
}
/*logout*/
ul.logout li{
    position: relative;
}
ul.logout > li:first-child{
    background: url("../img/icon-yourname.png") no-repeat scroll left 1px;
}
ul.logout > li:first-child > span{
    background: url("../img/icon-drd.png") no-repeat scroll right 7px;
    padding-right: 20px;
    display: block;
    cursor: pointer;
}
ul.logout li > ul.dropdown-menu li a{
    color: #141823;
    font-weight: normal;
}
ul.logout li > ul.dropdown-menu li:first-child a:focus, ul.logout li > ul.dropdown-menu li:first-child a:hover{
    background: url("../img/icon-tq1.png") no-repeat scroll left 14px;
}
ul.logout li > ul.dropdown-menu li:hover{
    background: none;
}
ul.logout li > ul.dropdown-menu{
    margin: 0;
    z-index: 99999;
}
ul.logout li:hover > ul.dropdown-menu{
    display: block;
}

/*end logout*/
.main-header{
    background: #fff;
    padding: 15px 0;
    -webkit-box-shadow: 0 8px 6px -6px #777;
    -moz-box-shadow: 0 8px 6px -6px #777;
    box-shadow: 0 8px 6px -6px #777;
    position: relative;
    z-index: 999;
}
.logo h1{
    margin: 0 25px 0 0;
}
.logo a{
    display: inline-block;
}
.navbar{
    border: none;
    margin-bottom: 0;
}
.navbar-collapse{
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
.navbar-nav>li>a{
    color: #039be5;
    font-size: 14px;
    font-weight: bold;
    padding: 6px 10px 5px 10px;
}
.navbar-nav>li>a:hover, .navbar-nav>li>a:focus{
    background: none;
}
.navbar .navbar-header .navbar-toggle:focus, .navbar .navbar-header .navbar-toggle:hover {
    background-color: #ddd;
}
.navbar .navbar-header .navbar-toggle {
    border-color: #028ed2;
}
.sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
.navbar .navbar-header .navbar-toggle .icon-bar {
    background-color: #028ed2;
}
.navbar-nav:after { visibility: hidden; display: block; content: ""; clear: both; height: 0; }
*:first-child+html .navbar-nav { zoom: 1; } /* IE7 */
/* nav_effect */
.nav>li{
    /*position: initial;*/
}
#nav_effect{
    margin: 0 auto;
    list-style: none;
    position: relative;
}
#magic-line{
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100px;
    height: 2px;
    background: #039be5;
}
.ie6 #nav_effect li, .ie7 #nav_effect li{
    display: inline;
}
.ie6 #magic-line{
    bottom: -3px;
}
/*dropdow menu*/
ul.child-main-menu{
    background: #fff;
    display: none;
    position: absolute;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
    min-width: 200px;
    padding: 10px;
    border-radius: 4px;
    z-index: 1000;
    top: inherit;
    left: inherit;
    margin-top: 2px;
}
.navbar .nav.navbar-nav li:hover > ul.child-main-menu{
    display: block;
}
.navbar .nav.navbar-nav li > ul.child-main-menu li a{
    color: #141823;
    font-size: 14px;
    line-height: 20px;
    padding: 5px 0;
    display: block;
    border-bottom: 1px solid #d9d9d9;
}
.navbar .nav.navbar-nav li > ul.child-main-menu li:last-child a{
    border-bottom: none;
}
/*end dropdown menu*/
.banner{
    /*margin-bottom: 25px;*/
}

.banner .main-banner .item img{
    width: 100%;
    height: auto;
    display: block;
}
.banner .main-banner{
    position: relative;
}
.owl-theme .owl-controls{
    margin-top: 0;
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
}
.owl-theme .owl-controls .owl-page span{
    background: #028ed2;
    opacity: 1;
}
.owl-theme .owl-controls .owl-page.active span{
    background: #cccccc;
    border: 2px solid #028ed2;
    width: 15px;
    height: 15px;
}
.search-course{
    background: #028ed2;
    padding: 20px 0;
}
.search-cld{
    color: #fff;
    float: left;
    font-size: 15px;
    font-weight: bold;
    margin-top: 13px;
}
.navbar-form{
    margin: 0;
}
.search-course .form-control{
    margin-right: 10px;
    border-radius: 0;
    width: 200px;
    height: 42px;
    border: none;
    text-transform: capitalize;
}
.navbar-form select, .navbar-form input{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url("../img/icon-sl.png") 95% 50% no-repeat #fff;
    background-size: 15px, 100%;
    font-weight: normal;
    color: #141823;
}
.navbar-form input::-webkit-input-placeholder {
   color: #141823;
}
.navbar-form input:-moz-placeholder { /* Firefox 18- */
   color: #141823;
}
.navbar-form input::-moz-placeholder {  /* Firefox 19+ */
   color: #141823;
}
.navbar-form input:-ms-input-placeholder {
   color: #141823;
}
.navbar-form select option{
    padding: 5px;
}
.search-course input.btn{
    background: url("../img/iconsearch.png") no-repeat scroll 35px center transparent;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    border: 2px solid #fff;
    border-radius: 0;
    margin-left: 20px;
    width: 200px;
    height: 42px;
}
.imgyw{
    display: block;
    text-align: center;
}
.icon-font{
    width: 75px;
    height: 60px;
    float: left;
}
.icon-font i{
    color: #028ed2;
    font-size: 60px;
}
.list-yw li{
    margin-top: 30px;
    margin-bottom: 50px;
}
.list-yw li a{
    display: block;
}
.cont-yw{
    margin-left: 85px;
}
.cont-yw h3{
    /*color: #141823;*/
    color: #E06013;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 5px;
}
.cont-yw p{
    color: #141823;
    font-size: 13px;
    line-height: 16px;
    font-weight: 600;
    letter-spacing: -0.3px;
    font-weight: normal;
}
.you-want{
    background: #eee;
    padding-top: 30px;
}
.you-want>div.container>div.row>div.col-sm-4:first-child{
    padding-right: 0;
}
.you-want>div.container>div.row>div.col-sm-4:last-child{
    padding-left: 0;
}

.why-us {
    background: #fff;
    padding: 60px 0;
}

.step-learn{
    background: #eee;
    padding: 80px 0;
}

.step-learn .box-step{
    background: #fff;
}

.tit-section{
    font-size: 24px;
    line-height: 30px;
    color: #141823;
    font-weight: bold;
    text-align: center;
    position: relative;
    margin-top: 0;
    padding-bottom: 35px;
}
.tit-section{
    color: #E06013;
}
.tit-section:after{
    background: url("../img/bg-titss.png") no-repeat scroll center bottom;
    content: "";
    position: absolute;
    width: 118px;
    height: 24px;
    bottom: 0;
    left: 50%;
    margin-left: -59px;
}
.box-step{
    border: 1px solid #dadada;
    padding: 20px;
    margin-top: 15px;
    text-align: center;
    height: 206px;
    position: relative;
}
.box-step > span{
    font-size: 13px;
    line-height: 19px;
    font-weight: 600;
}
.box-step:after, .box-step:before {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.box-step:after {
    border-color: rgba(255, 255, 255, 0);
    border-left-color: #ffffff;
    border-width: 15px;
    margin-top: -15px;
}
.box-step:before {
    border-color: rgba(218, 218, 218, 0);
    border-left-color: #dadada;
    border-width: 16px;
    margin-top: -16px;
}
.container .row .col-sm-4:last-child .box-step{
    overflow: hidden;
}
.box-step h4{
    font-size: 16px;
    line-height: 22px;
    font-weight: bold;
    margin-bottom: 25px;
}
.box-step a{
    color: #141823;
    display: block;
    margin-top: 5px;
    font-size: 13px;
    line-height: 19px;
    font-weight: 600;
}
.box-step a:hover{
    text-decoration: underline;
}
.stt-step{
    background: url("../img/bg-ar.png") no-repeat scroll 0 0;
    text-align: left;
    position: absolute;
    width: 44px;
    height: 41px;
    top: -1px;
    left: -1px;
}
.stt-step span{
    color: #fff;
    font-size: 15px;
    line-height: 25px;
    font-weight: bold;
    display: block;
    padding-left: 8px;
}
.login a{
    background: #028ed2;
    color: #fff;
    font-size: 15px;
    line-height: 20px;
    font-weight: bold;
    padding: 10px;
    width: 100%;
    max-width: 200px;
    margin: 0 auto 12px;
    display: block;
}
.box-step ul li{
    background: url("../img/ar-st.png") no-repeat scroll right 3px;
    display: inline-block;
    padding: 0 20px;
    margin-top: 5px;
}
.box-step ul li a{
    text-decoration: none!important;
}
.box-step ul li:first-child{
    padding-left: 0;
}
.box-step ul li:nth-child(2){
    padding-left: 10px;
}
.box-step ul li:last-child{
    padding-right: 0;
    padding-left: 10px;
    background: none;
}
.box-step ul li span i{
    font-size: 30px;
    display: block;
    color: #028ed2;
    margin-bottom: 20px;
}
.iconbig-step i{
    color: #028ed2;
    font-size: 50px;
    display: inline-block;
    margin: 0 15px 3px;
}
.contact-us{
    background: url("../img/bg-contact.jpg") no-repeat scroll center center;
    padding: 30px 0;
    text-align: center;
}
.box-ctus{
    padding: 0 25px;
}
.tit-us{
    font-size: 18px;
    margin-bottom: 20px;
    margin-top: 0;
}
.tit-us a{
    color: #2196f3;
    font-weight: bold;
}
.icon-ct{
    background: #2196f3;
    width: 70px;
    height: 70px;
    float: left;
    border-radius: 50%;
}
.icon-ct i{
    color: #fff;
    font-size: 40px;
    line-height: 70px;
    -webkit-transition: -webkit-transform 0.5s ease-out;
    -moz-transition: -moz-transform 0.5s ease-out;
    transition: transform 0.5s ease-out;
}
.icon-ct i:hover{
     -webkit-transform: rotateZ(360deg);
     -moz-transform: rotateZ(360deg);
     transform: rotateZ(360deg);
}
span.ct-via{
    font-size: 24px;
    line-height: 70px;
    text-align: left;
    display: block;
    margin-left: 90px;
    font-weight: 600;
}

.way-us{
    background: #fff;
    padding: 50px 0;
}
.post-course{
    background: #fff;
    padding: 100px 0;
}

.way-us span{
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    text-align: center;
    display: block;
    margin-top: 10px;
    color: #141823;
}
.thumb-dv, .thumb-post, .avt-teacher{
    overflow: hidden;
    position: relative;
}
.thumb-dv img{
    width: 100%;
}
.thumb-dv, .thumb-post{
    text-align: center;
}
.thumb-dv span.hv-icon, .thumb-post span.hv-icon{
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    font-size: 20px;
    line-height: 20px;
    font-weight: bold;
    display: block;
    vertical-align: middle;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    -webkit-transition: opacity .25s ease;
    -moz-transition: opacity .25s ease;
    transition: opacity .25s ease;
}
.thumb-dv span.hv-icon{
    font-size: 40px;
    line-height: 40px;
}
.thumb-dv:hover span.hv-icon, .thumb-post:hover span.hv-icon{
    opacity: 1;
}
.thumb-dv span.hv-icon i, .thumb-post span.hv-icon i{
    top: 0%;
    position: absolute;
    visibility: hidden\0/;
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}
.thumb-dv:hover span.hv-icon i, .thumb-post:hover span.hv-icon i{
    top: 40%;
    visibility: hidden\1/;
}
.thumb-post span.hv-icon i{
    margin-left: -10px;
}
.thumb-dv span.hv-icon i{
    margin-left: -20px;
}

/*.thumb-dv img, .thumb-post img{
    transition: all 0.17s ease-in-out;
    -moz-transition: all 0.17s ease-in-out;
    -webkit-transition: all 0.17s ease-in-out;
    -o-transition: all 0.17s ease-in-out;
}
.thumb-dv:hover img, .thumb-post:hover img{
    transform: scale(1.22) rotate(8deg);
    -webkit-transform: scale(1.22) rotate(8deg);
    -moz-transform: scale(1.22) rotate(8deg);
    -o-transform: scale(1.22) rotate(8deg);
}*/
.divide-course{
    margin-bottom: 30px;
}
.divide-course h3.tit-dv, .divide-course h3.tit-dv a{
    background: #028ed2;
    font-family: 'UTMCaviar';
    color: #fff;
    font-size: 22px;
    line-height: 30px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0;
    padding: 10px 0 5px;
    text-align: center;
}
.divide-course:last-child h3.tit-dv{
    background: #f06d17;
}
.divide-course h3.tit-dv a{
    background: none;
    display: block;
    padding: 0;
}
.tit-types{
    color: #E06013;
    font-size: 24px;
    line-height: 24px;
    /*font-weight: 600;*/
    margin-top: 0;
    padding-bottom: 10px;
    margin-bottom: 25px;
    position: relative;
}
.tit-types:after{
    border: 1px solid #028ed2;
    width: 35px;
    height: 1px;
    content: "";
    left: 0;
    bottom: 0;
    position: absolute;
}
ul.post-home li{
    margin-bottom: 30px;
}
ul.post-ser li{
    margin-bottom: 20px;
}
ul.post-ser li{
    background: #eeeeee;
}
ul.post-home .thumb-post, ul.post-ser .thumb-post-ser{
    width: 71px;
    height: 71px;
    float: left;
}
ul.post-ser li{
    padding: 13px 15px;
}
ul.post-ser .thumb-post-ser{
    height: auto;
}
ul.post-home .thumb-post{
    display: block;
}
ul.post-home .cont-post, ul.post-ser .cont-post-ser{
    margin-left: 90px;
}
.cont-post h3, .tit-post{
    color: #141823;
    margin-top: 0;
    font-size: 15px;
    line-height: 22px;
    /*font-weight: bold;*/
}
ul.post-ser li .tit-post{
    margin-bottom: 0;
}
.cont-post h3 a{
    color: #028ED2;
    text-decoration: none;
    text-transform: uppercase;
}
.cont-post > span{
    font-size: 13px;
    line-height: 19px;
    font-weight: 400;
}

.cont-post .description{
    font-size: 12px;
    font-weight: normal;
}

.cont-post .static{
    font-size: 12px;
    color: #6a6a6a;
}


span.date-post{
    background: url("../img/icon-cld.png") no-repeat scroll left 1px;
    color: #a4a4a4;
    font-size: 13px;
    line-height: 19px;
    display: block;
    padding-left: 22px;
}
.teacher, .introduce{
    background: #eeeeee;
    padding: 80px 0;
}
.box-teacher{
    margin-top: 20px;
}
.box-teacher .slider-tc{
    position: relative;
}
.box-teacher .slider-tc .item-tc{
    float: left;
    text-align: center;
    padding: 0 10px;
}
.box-teacher .slider-tc .item-tc span{
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
}
.box-teacher .slider-tc .owl-controls .owl-prev, .box-teacher .slider-tc .owl-controls .owl-next{
    border-radius: 0;
    width: 40px;
    height: 50px;
    text-indent: -9999px;
    opacity: 1;
    /*margin: 5px 10px;*/
    position: absolute;
    top: 43%;
}
.box-teacher .slider-tc .owl-controls{
    /*bottom: 0;
    margin-top: 10px;*/
    position: static;
}
.box-teacher .slider-tc .owl-controls .owl-prev{
    background: url("../img/ar-st2.png") no-repeat scroll left center;
    left: -20px;
}
.box-teacher .slider-tc .owl-controls .owl-next{
    background: url("../img/ar-st.png") no-repeat scroll right center;
    right: -20px;
}
.avt-teacher{
    margin-bottom: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}
.avt-teacher img{
    display: block;
    border-radius: 50%;
    margin: 0 auto;
}
.introduce{
    background: #fff;
}
.video-ind iframe{
    width: 100%!important;
    height: 260px;
}
.main-comment.owl-theme .owl-controls .owl-page span{
    background: #aeaeae;
    width: 10px;
    height: 10px;
}
.main-comment.owl-theme .owl-controls .owl-page.active span{
    background: #000000;
    width: 10px;
    height: 10px;
    border: none;
}
.main-comment.owl-theme .owl-controls .owl-pagination{
    text-align: right;
}
.cont-comment{
    border: 2px solid #028ED2;
    padding: 10px 25px;
    font-style: italic;
    line-height: 18px;
    margin-bottom: 35px;
    position: relative;
    background: #2AC8D9;
    color: #fff;
}
.cont-comment:after, .cont-comment:before {
    top: 100%;
    left: 20%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.cont-comment:after {
    border-color: rgba(255, 255, 255, 0);
    border-top-color: #2AC8D9;
    border-width: 15px;
    margin-left: -15px;
}
.cont-comment:before {
    border-color: rgba(221, 221, 221, 0);
    border-top-color: #028ED2;
    border-width: 18px;
    margin-left: -18px;
}
.cont-comment p{
    margin-bottom: 0;
    font-size: 13px;
    line-height: 18px;
    font-weight: normal;
}
.avt-author{
    width: 73px;
    height: 73px;
    float: left;
}
.avt-author a{
    display: block;
}
.avt-author img{
    display: block;
    border-radius: 50%;
}
.name-location{
    margin-left: 100px;
    margin-top: 15px;
}
.name-location span{
    display: block;
    font-size: 14px;
    line-height: 20px;
}
.try-out{
    background: #028ed2;
    padding: 60px 0;
}
.tit-try{
    background: url("../img/book.png") no-repeat scroll left 0px;
    height: 62px;
    padding-left: 110px;
}
.tit-try h4{
    font-size: 24px;
    color: #fff;
    line-height: 30px;
    margin-top: 0;
    margin-bottom: 5px;
}
.tit-try p{
    font-size: 14px;
    color: #fff;
    line-height: 20px;
    font-weight: normal;
}
.reg-try{
    margin-top: 10px;
    text-align: right;
}
.reg-try a{
    font-size: 15px;
    line-height: 20px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    border: 2px solid #fff;
    display: inline-block;
    padding: 9px 0;
    width: 100%;
    max-width: 190px;
    height: 42px;
}
.reg-try span{
    display: inline-block;
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    margin: 0 12px;
    font-weight: normal;
}
.main-footer{
    background: #333;
    padding-top: 50px;
}
.tit-box-ft{
    font-size: 18px;
    line-height: 22px;
    color: #E06013;
    position: relative;
    margin-top: 0;
    margin-bottom: 20px;
    padding-bottom: 10px;
    text-transform: uppercase;
}
.tit-box-ft:after{
    border-bottom: 2px solid #fff;
    content: "";
    left: 0;
    bottom: 0;
    width: 35px;
    height: 2px;
    position: absolute;
}
ul.list-menu-ft li{
    list-style: disc inside;
    color: #fff;
    padding: 5px 0;
}
ul.list-menu-ft li a{
    font-size: 12px;
    line-height: 20px;
    color: #eee;
    font-weight: 300;
    /*text-transform: lowercase;*/
}
ul.list-menu-ft li a::first-letter{
    text-transform: uppercase;
}

ul.list-menu-ft li a:first-letter{
    text-transform: uppercase;
}

ul.list-address li{
    list-style: none!important;
}
ul.list-address li span{
    /*display: inline-block;*/
    padding-left: 10px;
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;
}
.social{
    padding: 35px 0 40px 0;
    text-align: center;
}
.social ul li{
    display: inline-block;
    margin: 0 6px;
}
.social ul li a{
    background: #fff;
    color: #141823;
    font-size: 20px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    display: block;
    border-radius: 50%;
}
.tag-ft{
    padding: 25px 0;
    border-top: 1px solid #50555a;
}
.tag-ft a{
    border-right: 1px solid #8e8c8c;
    font-size: 13px;
    line-height: 10px;
    color: #8e8c8c;
    font-weight: normal;
    display: inline;
    padding: 0 7px 0 5px;
}
.tag-ft a:last-child{
    border-right: none;
}
.copyright{
    background: #23272d;
    padding: 30px 0;
    text-align: center;
}
.copyright p{
    color: #f2f2f2;
    font-size: 15px;
    line-height: 21px;
    /* font-weight: bold; */
    text-transform: uppercase;
    margin-bottom: 0px;
}


/*giao vien*/
.col-main-ip{
    width: 75%;
    padding-left: 15px;
    padding-right: 10px;
    float: left;
    position: relative;
}
.col-sb-ip{
    width: 25%;
    padding-right: 15px;
    padding-left: 10px;
    float: left;
    position: relative;
}

.main-content, .sidebar{
    background: #fff;
    padding: 15px;
}
.page-teacher h2{
    color: #039be5;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
}
.page-teacher > p{
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
}
.thumb-tc{
    width: 18.44%;
    padding-right: 10px;
    float: left;
}
.inf-tc{
    width: 81.56%;
    float: left;
    padding-left: 10px;
}
.tit-tc{
    color: #039be5;
    font-size: 15px;
    line-height: 19px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 5px;
    text-align: left;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 320px;
}
.star-view{
    text-align: right;
    font-size: 13px;
    line-height: 15px;
    font-weight: normal;
}
.star-view span{
    display: inline-block;
    vertical-align: top;
}
.star-view span img{
    display: block;
}
span.starting{
    font-size: 15px;
    font-weight: bold;
    line-height: 21px;
    display: block;
}
ul.gen-nat, ul.schedule{
    margin: 10px 0 0 0;
}
ul.gen-nat li:first-child{
    background: url("../img/icon-tc1.png") no-repeat scroll left center;
}
ul.gen-nat li, ul.schedule li{
    padding-left: 23px;
    display: inline-block;
    margin-right: 15px;
}
ul.gen-nat li:last-child{
    background: url("../img/icon-tc2.png") no-repeat scroll left center;
    margin-right: 0;
}
ul.gen-nat li span, ul.schedule li a, .exper{
    color: #039be5;
    font-size: 13px;
    line-height: 19px;
}
ul.gen-nat li span{
    text-transform: capitalize;
}
ul.schedule li:first-child{
    background: url("../img/icon-tc4.png") no-repeat scroll left center;
}
ul.schedule li:nth-child(3){
    background: url("../img/icon-tc3.png") no-repeat scroll left center;
    margin-right: 0;
}
ul.schedule li:nth-child(2){
    background: url("../img/icon-tc5.png") no-repeat scroll left center;
}
.exper span{
    vertical-align: bottom;
    display: inline-block;
    margin: 0 7px;
}
.btn-tc{
    margin-top: 20px;
}
.btn-tc a{
    background: #028ed2;
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
    display: block;
    text-align: center;
    padding: 7px 0;
    margin-bottom: 10px;
}
.btn-tc a:last-child{
    background: #fda53e;
}
.thumb-tc a{
    display: block;
}
.thumb-tc img{
    /*border-radius: 50%;*/
    width: auto;
    max-width: 100%;
}
.all-teacher .box-tc{
    padding: 20px 0;
    border-bottom: 1px solid #d9d9d9;
}
.sidebar{
    background: none;
    padding: 0;
}
.main-sidebar{
    background: #fff;
    margin-bottom: 20px;
}
.main-sidebar h4{
    background: #028ed2;
    padding: 11px;
    font-size: 18px;
    color: #fff;
    margin: 0;
    line-height: 24px;
}

.main-sidebar h4 a{
    color: #fff;
    text-decoration: none;
}

.menu-tc ul li{
    padding: 0 15px;
}
.menu-tc ul li a, .menu-tc ul li span{
    background: url("../img/icon-menutc.png") no-repeat scroll left 19px;
    color: #141823;
    padding: 12px 0 12px 15px;
    display: block;
    font-size: 14px;
    line-height: 21px;
    border-bottom: 1px solid #d9d9d9;
}
.menu-tc ul li:hover{
    background: #028ed2;
}
.menu-pr ul li:hover{
    background: none;
}
.menu-tc ul li a:hover,
.menu-tc ul li.active a{
    background: url("../img/icon-menutc2.png") no-repeat scroll left 19px;
    color: #fff;
    border-bottom: 1px solid #028ed2;
}
.menu-tc ul li:last-child a, .menu-tc ul li:last-child span{
    border-bottom: none;
}
span.price-learn{
    background: url("../img/icon-price-sb.png") no-repeat scroll right center;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    color: #fda53e;
    display: inline-block;
    border: none;
    padding: 0 30px 0 0;
    float: right;
}
.post-hsidebar .post-home{
    padding: 15px;
}
.post-hsidebar .post-home li:last-child{
    margin-bottom: 0;
}
.post-sb-ser{
    padding: 15px;
}
.post-sb-ser .post-ser li:last-child{
    margin-bottom: 0;
}
.post-ser li{
    min-height: 80px;
}
.post-sb-ser .post-ser li h3.tit-post a{
    font-size: 15.5px;
}

/*page int*/
.list-int{
    margin: 30px 0 0 0;
    text-align: center;
}
.list-int li{
    padding: 0 30px;
    margin-bottom: 10px;
    display: inline-block;
    text-align: center;
}
.list-int li span{
    background: #028ed2;
    display: inline-block;
    width: 130px;
    height: 130px;
    line-height: 130px;
    border-radius: 50%;
}
.list-int li h4{
    font-size: 14px;
    line-height: 20px;
    color: #141823;
    font-weight: bold;
    text-transform: uppercase;
}
.img-int img{
    width: 100%;
}
.ss-step-int, .img-int{
    text-align: center;
    margin-bottom: 40px;
}
.cont-int h4{
    color: #2f2f2f;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px;
}
.cont-int p{
    margin-bottom: 20px;
}
.cont-int p a{
    text-decoration: underline;
}
.btn-list a{
    background: #028ed2;
    width: 100%;
    max-width: 195px;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    display: block;
    padding: 10px 0;
    margin: 0 auto 30px auto;
}
.ss-step-int h4{
    width: 100%;
    color: #2f2f2f;
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    border-top: 1px solid #d9d9d9;
    max-width: 395px;
    text-align: center;
    padding-top: 30px;
    margin: 40px auto;
}

/*page frofile*/
.page-profile .col-sb-ip{
    padding-left: 15px;
    padding-right: 10px;
}
.page-profile .col-main-ip{
    padding-left: 10px;
    padding-right: 15px;
    background: #fff;
}

.profile-page .student-static h4 {
    /*min-height: 60px;*/
    line-height: 32px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}


/*page khoa hoc*/
.page-course .main-content{
    padding-top: 0;
}
.page-course .post-home, .page-course .menu-pr ul{
    border: 1px solid #f7f7f7;
    border-top: none;
}
.page-course .post-sb-ser{
    padding: 0;
}
.tit-course{
    font-size: 24px;
    line-height: 30px;
    color: #fff;
    font-weight: bold;
    padding: 20px;
    margin-top: 0;
    margin-bottom: 20px;
    background-size: 100%!important;
}
.pack.style_1 h3{
    background: url("../img/bg-kh1.png") no-repeat scroll left center;
}
.pack.style_2 h3{
    background: url("../img/bg-kh2.png") no-repeat scroll left center;
}
.pack.style_3 h3{
    background: url("../img/bg-kh3.png") no-repeat scroll left center;
}
.pack{
    margin-bottom: 30px;
}
.pack ul li{
    padding-right: 15px;
    padding-left: 15px;
    width: 50%;
    float: left;
}

.pack ul li a{
    display: block;
    width: 100%;
    height: 66px;
    color: #fff;
    margin-bottom: 20px;
    position: relative;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pack.style_2 a .icon{
    display: block;
    position: absolute;
    left: -10px;
    top: -10px;
    width: 86px;
    height: 86px;
    border-radius: 50%;
    border: 10px solid #fff;
    vertical-align: middle;
    text-align: center;
    line-height: 66px;
}

.pack.style_2 a img.icon{
    background: #fff;
}

.pack.style_2 a span.name{
    display: block;
    height: 66px;
    margin-left: 33px;
    padding-left: 53px;
    vertical-align: middle;
    line-height: 66px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pack.style_2 span{
    background: #028ed2;
}


.pack.style_1 a{
    background: url("../img/bg-list-kh2.png") no-repeat scroll left center;
    height: 66px;
    background-size: 100%;
}

.pack.style_1 span.icon {
    display: inline-block;
    width: 48px;
    text-align: center;
    vertical-align: middle;
    line-height: 60px;
}

.pack.style_1 span.name {
    display: inline-block;
    padding-left: 15px;
    line-height: 35px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pack ul li > div{
    background-size: 100% auto!important;
}
.pack ul li .bg-list-kh{
    background: url("../img/bg-list-kh.png") no-repeat scroll left center;
    padding: 23px 5px 23px 24px;
    margin-bottom: 20px;
}
.pack ul li span{
    font-size: 16px;
    line-height: 22px;
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: text-top;
}
.pack ul li span.stt-kh{
    font-weight: bold;
    margin-right: 50px;
}
.pack.style_2 ul li .bg-list-kh{
    background: url("../img/bg-list-kh2.png") no-repeat scroll left center;
    height: 63px;
    padding: 13px 0 13px 17px;
}
.pack.style_2 ul li span.name-kh{
    margin-top: 10px;
}

.pack.style_3 ul{
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    float: left;
    display: block;
}
.pack.style_3 ul li{
    width: 20%;
    float: left;
    padding: 0 5px;
    margin-bottom: 10px;
}

.pack.style_3 ul li a{
    display: block;
    width: 100%;
    height: auto;
    text-align: center;
    vertical-align: top;
}

.pack.style_3 ul li .icon{
    background: #eee;
    width: 117px;
    height: 117px;
    padding: 20px;
    line-height: 60px;
    text-align: center;
    border-radius: 50%;
    border: 10px solid #eee;
    display: block;
    margin-bottom: 10px;
    color: #f16214;
    font-weight: bold;

}

.pack.style_3 ul li .name{
    color: #f16214;
    font-size: 15px;
    line-height: 19px;
    text-transform: uppercase;
    font-weight: normal;
    width: 100%;
    text-align: center;
}

.page-course{
    background: #fff;
}
.int-kh{
    color: #2f2f2f;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    margin: 30px 0 20px 0;
}
.img-dgtd{
    text-align: right;
}
.cont-acc{
    margin-bottom: 15px;
}
.cont-acc span{
    background: url("../img/icon-acc2.png") no-repeat scroll right center;
    font-size: 16px;
    line-height: 22px;
    font-weight: bold;
    color: #fff;
    display: block;
    cursor: pointer;
}
/*.cont-acc1, .cont-acc2, .cont-acc3{
    padding: 5px 10px;
}*/
.click-acc{
    margin-bottom: 1px;
    padding: 7px 10px;
}
.cont-acc1 .click-acc{
    background: #ff9e00;
}
.cont-acc2 .click-acc{
    background: #028ed2;
}
.cont-acc3 .click-acc{
    background: #f05703;
}
.cont-acc .accordion{
    display: none;
}
.active span{
    /*background: url("../img/icon-acc.png") no-repeat scroll right center;*/
}
.left-acc{
    width: 25%;
    float: left;
    padding: 7px 10px;
    margin-bottom: 1px;
}
.left-acc span{
    background: none;
    font-weight: normal;

}
.cont-acc1 .left-acc{
    background: #ff9e00;
}
.cont-acc2 .left-acc{
    background: #028ed2;
}
.cont-acc3 .left-acc{
    background: #f05703;
}
.right-acc{
    float: left;
    background: #eee;
    height: 36px;
    width: 75%;
    position: relative;
}
.bg-rel{
    background: #cccaca;
    height: 36px;
}
.img-dgtd{
    margin-bottom: 30px;
}

/*profile*/
.avt-hv{
    padding: 15px;
}
.thumb-hv img{
    width: 100%;
}
.thumb-hv{
    margin-bottom: 10px;
}
.starting-lv{
    background: #028ed2;
    height: 42px;
    margin-bottom: 10px;
}
.starting-lv span, .level-hv{
    color: #fff;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
}
.starting-lv span{
    display: inline-block;
    padding: 14px 0 14px 14px;
}
.level-hv{
    background: #fda53e;
    float: right;
    width: 85px;
    text-align: center;
    padding: 14px 5px 14px 5px;
}
.up-lv span{
    display: block;
    color: #141823;
    text-align: center;
    margin-bottom: 10px;
}
.up-lv > span:last-child{
    margin-bottom: 0;
}
.progress{
    margin-bottom: 0;
    border-radius: 0;
    height: 12px;
    width: 100%;
}
/*progress*/
.wrap-lv, .wrap-vb, .wrap-rd, .wrap-gm, .wrap-sk, .wrap-lt{
    background: #14bc2c;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
}
.wrap-vb, .wrap-rd, .wrap-gm, .wrap-sk, .wrap-lt{
    margin-bottom: 0;
}
.bar-lv, .bar-lt, .bar-sk, .bar-gm, .bar-rd, .bar-vb{
    background: #d9dbdc;
    position: absolute;
    top: 0;
    left: 0;
}
.tk-hv{
    padding: 15px;
}
.tk-hv p{
    font-weight: bold;
    color: #141823;
    margin-bottom: 0;
    line-height: 25px;
}
.tk-hv span.price-learn{
    vertical-align: middle;
}
.cn-ip{
    text-align: center;
    padding: 15px;
}
.cn-ip h4{
    background: none;
    color: #141823;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
    padding-top: 0;
}
.cn-ip img{
    width: 100%;
}
.menu-pr li{
    padding: 0 15px;
}
.menu-pr li a{
    background: url("../img/icon-tq1.png") no-repeat scroll left 14px;
    color: #141823;
    font-size: 14px;
    line-height: 20px;
    padding: 12px 0 12px 25px;
    display: block;
    border-bottom: 1px solid #d7d8d9;
}
.menu-pr li:nth-child(2) a{
    background: url("../img/icon-tq2.png") no-repeat scroll left 14px;
}
.menu-pr li:nth-child(3) a{
    background: url("../img/icon-tq3.png") no-repeat scroll left 14px;
}
.menu-pr li:last-child a{
    background: url("../img/icon-tq4.png") no-repeat scroll left 14px;
    border-bottom: none;
}
.menu-pr.menu-ql li a{
    background: none;
    padding-left: 0;
}

.menu-pr.menu-ql li i{
    margin-right: 5px;
}


.menu-pr li:hover{
    background: #d7d8d9;
}


.menu-pr.no-background li,
.menu-pr.no-background li a{
    background: none;
}

.menu-pr.no-background li a{
    padding: 12px 0;
}



.tag-link{
    padding: 15px;
}
.tag-link a{
    color: #028ed2;
    text-decoration: underline;
    margin: 0 2px 5px 2px;
}
.imgqc{
    margin-bottom: 15px;
}
.imgqc img{
    width: 100%;
}
.tq-profile, .cld-learn, .pc-learn{
    background: #fff;
    padding: 15px;
    margin-bottom: 15px;
}

.box{
    background: #fff;
    margin-top: 15px;
}

.tq-profile .tit-profile{
    font-size: 21px;
    line-height: 21px;
    margin: 3px 0 0 0;
    font-weight: normal;
}
.tit-profile{
    margin: 3px 0 0 0;
    font-weight: bold;
}
.viewin{
    text-align: right;
}
.viewin span{
    display: inline-block;
    margin-right: 10px;
}
.viewin select{
    padding: 3px 4px;
    border: 1px solid #bababa;
}
select.viewdate{
    width: 100%;
    max-width: 130px;
}
select.view-nb{
    width: 100%;
    max-width: 50px;
}
.top-tq{
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #d9d9d9;
}
ul.int-profile li{
    padding: 5px 0;
}
.int-profile li span{
    display: inline-block;
}
ul.int-profile li .text-first{
    width: 75px;
    font-weight: bold;
}
.pf-progress table{
    width: 100%;
}
.pf-progress table th, .pf-progress table td{
    padding: 5px 0;
}
.pf-progress table th{
    width: 30%;
}
/*.pf-progress table td span{
    font-size: 13px;
    letter-spacing: -0.5px;
}*/
.pf-progress span{
    display: block;
}
.pf-progress span img{
    width: 100%;
}
.cld-learn .tit-profile, .pc-learn .tit-profile, .bg-atc .tit-profile, .tb-ispeak .tit-profile{
    background: url("../img/icon-cldpf.png") no-repeat scroll 0px;
    font-size: 17px;
    line-height: 17px;
    padding-left: 27px;
}
.main-cld-learn, .nb-skill{
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
}
.in-cld-learn, .main-nb{
    overflow: auto;
}
.main-cld-learn table, .main-nb table{
    background: #fff;
    width: 100%;
    min-width: 600px;
}
.main-cld-learn table th, .main-cld-learn table td{
    border: 1px solid #d9d9d9;
    padding: 10px 5px;
    font-size: 13px;
}
.main-cld-learn table tr th:first-child{
    padding: 0 3px;
}
.main-cld-learn table td span{
    display: block;
}
.w5{
    width: 5%;
}
.w13{
    width: 13%;
}
.w18{
    width: 18%;
}
.w14{
    width: 15%;
}
.w22{
    width: 22%;
}
.w30{
    width: 30%;
}
.w15{
    width: 15%;
}
.w12{
    width: 12%;
}
.w10{
    width: 10%;
}
.w16{
    width: 16%;
}
.w19{
    width: 19%;
}
.main-cld-learn table td a.notlearn, .main-cld-learn table td a.cancel, .main-cld-learn table td span.notlearn, .main-cld-learn table td span.cancel{
    background: #028ed2;
    font-size: 13px;
    line-height: 18px;
    color: #fff;
    padding: 5px 0;
    display: block;
    text-align: center;
    margin-bottom: 5px;
}
.main-cld-learn table td a.cancel, .main-cld-learn table td span.cancel{
    background: #fda53e;
    position: relative;
    padding-left: 5px;
    margin-bottom: 0;
}
.main-cld-learn table td a.cancel:before, .main-cld-learn table td span.cancel:before{
    position: absolute;
    content: "x";
    width: 6px;
    height: 10px;
    top: 3px;
    left: 12px;
    font-size: 18px;
}
.cld-learn .page-navi{
    margin: 0 0 5px 0;
}
.bd-learn li span{
    color: #141823;
    display: inline-block;
    width: 80%;
    font-size: 13px;
    line-height: 19px;
    text-transform: uppercase;
}
.bd-learn li{
    width: 50%;
    float: left;
    padding: 10px 0;
    color: #ff0000;
    font-size: 15px;
    line-height: 21px;
    font-weight: bold;
}
.pc-learn .tit-profile{
    background: url("../img/icon-pc.png") no-repeat scroll left 2px;
}
.nb-skill .tit-profile{
    background: url("../img/icon-skill.png") no-repeat scroll left 2px;
}
.nb-skill{
    margin: 30px 0 0 0;
}
.nb-skill table{
    margin-top: 20px;
    width: 100%;
}
.nb-skill table th, .nb-skill table td{
    padding: 7px 20px;
    font-weight: normal;
    font-size: 13px;
    text-transform: uppercase;
    border: 1px solid #d9d9d9;
}
.nb-skill{
    margin-bottom: 0;
}
.bg-atc, .tb-ispeak{
    background: #fff;
    padding: 15px;
    margin-bottom: 15px;
}
.bg-atc .tit-profile{
    background: url("../img/icon-alc.png") no-repeat scroll left 1px;
}
.bg-atc .thumb-tc{
    width: 14.44%;
}
.bg-atc .inf-tc{
    width: 85.56%
}
.bg-atc ul.gen-nat, .bg-atc ul.schedule{
    margin: 7px 0 0 0;
}
.bg-atc ul.gen-nat li, .bg-atc ul.schedule li{
    margin-right: 7px;
}
.btn-cld{
    margin-right: 0!important;
    float: right;
    padding-left: 0!important;
    position: relative;
}
ul.schedule li.btn-cld a{
    display: block;
    background: #028ed2;
    width: 90px;
    padding: 10px 0;
    position: relative;
    bottom: 24px;
    right: 0;
    text-align: center;
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
}
.bg-atc .box-tc{
    padding: 15px 0 0 0;
}
.bg-atc > div:nth-child(2){
    padding-top: 0;
}
.bg-atc .box-tc:last-child{
    border-bottom: none;
    padding-bottom: 0;
}
.tb-ispeak{
    padding: 15px 20px;
}
.tb-ispeak .tit-profile{
    background: url("../img/icon-tb.png") no-repeat scroll left 0;
}
.tit-tb{
    font-size: 14px;
    font-weight: bold;
    margin: 0;
}
ul.all-tb li{
    padding: 0 0 10px 0;
    margin-bottom: 10px;
    border-bottom: 1px solid #d9d9d9;
}
ul.all-tb li p{
    margin-bottom: 0;
}
span.date{
    font-size: 12px;
}
.page-profile .main-sidebar{
    margin-bottom: 15px;
}
.name-pro{
    color: #028ed2;
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-top: 30px;
}
span.namepro{
    color: #585858;
}












/*page navi teacher*/
.page-navi{
    text-align: right;
    margin: 20px 0;
}
.page-navi ul li{
    display: inline-block;
    margin: 0 5px;
}
.page-navi ul li a, .page-navi ul li span{
    background: #919293;
    color: #fff;
    width: 30px;
    height: 30px;
    display: block;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    border-radius: 2px;
    outline: none;
}
.page-navi ul li span{
    background: #0095da;
}
.page-navi ul li.page-next a, .page-navi ul li.page-prev a{
    text-indent: -9999px;
}
.page-navi ul li.page-prev a{
    background: url("../img/prev-navi.png") no-repeat center center #919293;
}
.page-navi ul li.page-next a{
    background: url("../img/next-navi.png") no-repeat center center #919293;
}









@media only screen and (max-width:980px){
    .search-course .form-control, .search-course input.btn{
        width: auto;
        min-width: 190px;
        max-width: 200px;
    }
    .navbar-form{
        text-align: center;
    }
    .navbar-left{
        float: none!important;
        display: block;
    }
    .search-cld{
        float: none;
        display: block;
        margin-bottom: 10px;
        margin-top: 0;
    }
    .search-course input.btn{
        background-position: 10px center;
    }
    .navbar-form select{
        padding-right: 25px;
        overflow: hidden;
    }
    .box-step ul li{
        padding: 0 10px;
    }
    .box-step ul li:nth-child(2), .box-step ul li:last-child{
        padding-left: 5px;
    }
    .box-ctus{
        padding: 0;
    }
    .icon-ct{
        width: 50px;
        height: 50px;
    }
    .icon-ct i{
        font-size: 30px;
        line-height: 50px;
    }
    span.ct-via{
        margin-left: 55px;
        font-size: 20px;
        line-height: 24px;
        margin-top: 12px;
    }
    .way-us img{
        width: 100%;
    }
    /*page gioi thieu*/
    .ss-step-int img{
        width: 100%;
    }
    .list-int li{
        padding: 0 15px;
    }

    /*page khoa hoc*/
    .img-dgtd img{
        width: 100%;
    }
    .pack ul li span.stt-kh{
        margin-right: 20px;
    }
    .btn-cld{
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    ul.schedule li.btn-cld a{
        position: static;
        bottom: auto;
        right: auto;
    }
}

@media only screen and (max-width:860px){
    .search-course input.btn{
        margin-left: -10px;
        margin-top: 20px;
    }
    .box-step{
        padding: 15px;
    }
    .way-us{
        text-align: center;
    }
    .way-us .col-sm-4, .video-ind{
        margin-bottom: 30px;
    }
    #magic-line{
        display: none;
    }
    .reg-try a{
        margin-bottom: 20px;
    }
    .reg-try span{
        display: none;
    }

    /*page-teacher*/
    .tit-tc{
        max-width: 55%;
    }
    /*page gioi thieu*/

    /*page khoa hoc*/
    .pack ul li span.stt-kh{
        margin-right: 15px;
    }
    .pack ul li .bg-list-kh{
        padding-left: 18px;
    }
    .pack ul li span{
        font-size: 14px;
    }
    .main-course2 ul li .bg-list-kh{
        padding-left: 12px;
    }


}
@media only screen and (max-width:767px){
    .nav>li{
        display: block;
    }
    .navbar-nav>li>a:hover, .navbar-nav>li>a:focus{
        background: #039be5;
        color: #fff;
    }
    ul.child-main-menu{
        width: 99%;
        box-shadow: none;
        border-radius: 0;
        border: none;
        position: static;
    }
    ul.child-main-menu{
        margin-left: 15px;
    }
    .search-course .form-control{
        width: 100%;
        min-width: 100%;
        max-width: 100%;
        margin-right: 0;
    }
    .search-course input.btn, ul.regiter{
        margin-left: 0px;
        margin-top: 20px;
    }
    .cont-yw h3{
        font-size: 16px;
    }
    .tit-section{
        font-size: 22px;
    }
    .contact-us, ul.regiter{
        text-align: center;
    }
    .list-yw li{
        float: left;
        width: 50%;
    }
    .list-yw li:first-child{
        padding-right: 10px;
    }
    .list-yw li:last-child{
        padding-left: 10px;
    }
    .cont-yw{
        margin-left: 70px;
    }
    .box-step:after, .box-step:before {
        top: 100%;
        left: 50%;
    }
    .box-step:after {
        border-top-color: #fff;
        border-left-color: transparent;
        margin-top: 0;
        border-width: 15px;
        margin-left: -15px;
    }
    .box-step:before {
        border-top-color: #dadada;
        border-left-color: transparent;
        margin-top: 0;
        border-width: 16px;
        margin-left: -16px;
    }
    .navbar-nav{
        margin-left: 0;
        margin-right: 0;
    }
    .navbar-collapse{
        padding-top: 0;
    }
    .owl-theme .owl-controls{
        bottom: 0;
    }
    .way-us img{
        width: auto;
    }
    .reg-try a{
        margin-bottom: 0;
    }

    /*page teacher*/
    .col-main-ip, .col-sb-ip{
        width: 100%;
        padding: 0 15px;
    }

    /*page gioi thieu*/
    .list-int li{
        padding: 0 10px;
    }
    .main-sidebar ul.post-home{
        border-bottom: none;
    }
    /*page khoa hoc*/
    .pack ul li span.stt-kh{
        margin-right: 50px;
    }
    .pack ul li .bg-list-kh{
        padding-left: 24px;
    }
    
}

@media only screen and (max-width:640px){
    .icon-ct{
        width: 30px;
        height: 30px;
    }
    .icon-ct i{
        font-size: 20px;
        line-height: 30px;
    }
    span.ct-via{
        margin-left: 35px;
        font-size: 15px;
        line-height: 22px;
        margin-top: 3px;
    }
    .way-us, ul.post-home{
        border-bottom: 1px dashed #028ed2;
    }
    ul.post-home{
        margin-bottom: 30px;
    }
    .post-course .col-sm-4:last-child ul.post-home{
        border-bottom: none;
    }
    .tit-try{
        height: auto;
    }
    .tit-try h4{
        font-size: 18px;
        line-height: 20px;
    }
    .tit-try p{
        font-size: 13px;
    }
    .reg-try{
        text-align: center;
    }
    .reg-try a{
        font-size: 13px;
        max-width: 130px;
        line-height: 19px;
        margin-right: 10px;
    }
    .list-menu-ft{
        margin-bottom: 30px;
    }
    ul.list-menu-ft li{
        padding: 3px 0;
    }
    ul.list-menu-ft li a{
        font-size: 12px;
        line-height: 16px;
    }
    .tit-types{
        font-size: 22px;
        line-height: 24px;
    }

    /*page teacher*/
    .thumb-tc, .bg-atc .thumb-tc{
        width: 100%;
        text-align: center;
        padding-right: 0;
        margin-bottom: 15px;
    }
    .inf-tc, .bg-atc .inf-tc{
        width: 100%;
        padding-left: 0;
    }

    /*page gioi thieu*/
    .cont-int h4{
        font-size: 18px;
        line-height: 24px;
    }
    /*page khoa hoc*/
    .pack ul li span.stt-kh{
        margin-right: 25px;
    }
    .pack ul li .bg-list-kh{
        padding-left: 18px;
    }
    .main-course2 ul li .bg-list-kh{
        padding-left: 12px;
    }
}

@media only screen and (max-width:520px){
    .icon-ct{
        width: 20px;
        height: 20px;
    }
    .icon-ct i{
        font-size: 14px;
        line-height: 20px;
    }
    span.ct-via{
        margin-left: 22px;
        font-size: 11px;
        line-height: 16px;
        margin-top: 2px;
    }
    .tit-us{
        font-size: 14px;
        padding: 0 10px;
    }
    .list-yw li{
        float: none;
        width: 100%;
    }
    .list-yw li:first-child{
        padding-right: 0;
    }
    .list-yw li:last-child{
        padding-left: 0;
    }
    .way-us img{
        width: 100%;
    }
    .way-us span{
        font-size: 16px;
        line-height: 22px;
    }
    .divide-course h3.tit-dv, .divide-course h3.tit-dv a{
        font-size: 18px;
        line-height: 24px;
    }
    .contact-us .col-xs-4{
        padding: 0 5px;
    }

    /*page teacher*/
    .tit-tc{
        width: 100%;
        max-width: 100%;
        float: none;
    }
    /*page gioi thieu*/
    .list-int li{
        padding: 0 5px;
    }
    /*page khoa hoc*/
    .pack ul li span.stt-kh{
        margin-right: 5px;
    }
    .pack ul li .bg-list-kh{
        padding-left: 12px;
    }
    .pack ul li{
        padding-right: 5px;
    }
    .pack ul li:nth-child(2n){
        padding-left: 0;
    }
    .pack ul li .bg-list-kh{
        background: #028ed2;
        padding: 5px;
    }
    .page-course .main-content{
        padding: 0;
    }
    .main-course2 ul li .bg-list-kh{
        height: auto;
        background: #ff9e00;
    }
    .pack ul li span{
        display: block;
    }
    .style_2 ul li span.name-kh{
        margin-top: 0;
    }
    .cont-acc span{
        font-size: 11px;
    }
    .left-acc, .click-acc{
        padding: 7px 3px;
    }
    .tit-course{
        background-size: cover!important;
        font-size: 20px;
        line-height: 26px;
    }

    
}

.date-1.text-center.active a {
    background: #FF3F17;
    color: #fff;
}

.date-1.text-center.active span{
    background: transparent;
}

/* TReee course stylee */
.status.lock{
    color: gray;
}

.status.open{
    color: blue;
}


#testimonials{
    padding: 80px 0;
    /*background: url(assets/img/bg_testimonial_block.png) top center;*/
}

/*#testimonials .block-header{
    padding-bottom: 40px;
}

#testimonials .block-title{
    position: relative;
    font-family: arial;
    font-size: 30px;
    color: #fff;
    z-index: 99;
    
}

#testimonials .block-title.ud-line{
    padding-bottom: 30px;
    position: relative;
}*/

#testimonials .block-title.ud-line:after{
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -20px;
    content: "";
    width: 40px;
    height: 3px;
    background: #63bdbc;
}

#testimonials .carousel-indicators {
    top: 0;
    bottom: inherit;
    position: relative;
    display: inline-block;
}

.carousel-indicators li{
    width: 75px; 
    height: 75px; 
    padding: 10px 5px;
    margin: 0;
    text-indent: 0;
    background-color: transparent;
    border: none;
}

#testimonials .carousel-indicators .active{
    width: 95px; 
    height: 95px; 
    padding: 0 5px;
    margin: 0;
    background-color: transparent;
    
}

#testimonials .carousel-indicators .active img{
    border: 1px solid #028ed2;
}

#testimonials .carousel-indicators li img{
    width: 100%;
    border-radius: 50%;
    border: 1px solid #fff;
}

#testimonials .item p{
    color: #4b4f56;
    font-size: 15px;
    padding: 0 20%;
    text-align: center;
}

#testimonials .item p.review{
    margin-bottom: 20px;
}


#testimonials .item p.customer{
    color: #4080ff;
    font-weight: bold;
    font-family: "Segoe Script";
}

#testimonials .item p.position{
    color: #E06013;
    text-transform: uppercase;
}
