

<div id="home-slider" class="slider-container" ng-controller="sliderController">
	<ul class="bxslider" id="home_slider">
		<li ng-repeat="(key, slide) in slides" on-finish-render="ngRepeatFinished">
			<a href="{{slide.link}}">
				<img ng-src="{{_base.api_host}}{{slide.image}}" alt="{{slide.title}}"/>
			</a>
		</li>
	</ul>
</div>

