
<section id="top-footer" class="section-top-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="title-top-footer">
                    <h2>Công Ty Cổ Phần Công Nghệ & Đào Tạo HAMIA.</h2>
                    <hr>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="title-footer-info"><h3>Trụ sở chính</h3></div>
                        <div class="main-footer-info">
                            <p>
                                {{option.company_name}}
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="title-footer-info"><h3>VP Hồ Chí Minh</h3></div>
                        <div class="main-footer-info">
                            <p>
                                {{option.company_address}}
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="title-footer-info"><h3> </h3></div>
                        <div class="main-footer-info">
                            <p>
                                Số 72 Lê Thánh Tôn, Phường Bến Nghé, Quận 1, Thành phố Hồ Chí Minh, Việt Nam.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="bottom-top-footer">
                    <div class="row">
                        <div class="col-md-8">
                            <span><i class="fa fa-phone" aria-hidden="true"></i>Điện thoại: <a href="tel:0968950850">0968.950.850</a></span>
                            <span><i class="fa fa-envelope"></i><a href="mailto:info@iSpeak.vn">info@iSpeak.vn</a></span>
                        </div>
                        <div class="col-md-4">
                            <div class="list-social-circle">
                                <ul class="social-icons">
                                	<li>
										<a href="{{option.facebook_fanpage}}" target="_blank" class="facebook">
											<i class="fa fa-facebook"></i>
										</a>
									</li>
									<li>
										<a href="https://plus.google.com/ispeakvietnam" target="_blank" class="google">
											<i class="fa fa-google-plus"></i>
										</a>
									</li>
									<li>
										<a href="https://youtube.com/ispeakvietnam" target="_blank" class="youtube">
											<i class="fa fa-youtube"></i>
										</a>
									</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fispeakvietnam%2F&tabs&width=274&height=214&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=941040379264170" width="274" height="214" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
            </div>
            <div class="col-md-12">
                <div class="row subscribe-part">
                    <div class="col-md-2">
                        <img src="assets/img/screens/subscribe.png" alt="subscribe" class="img-subscribe-bottom">
                    </div>
                    <div class="col-md-5">
                        <h2>Đăng ký nhận bản tin iSpeak Newsletter</h2>
                        <h4>Cập nhật thông tin học tiếng Anh nhanh nhất</h4>
                    </div>
                    <div class="col-md-5 form-footer-subscribe">
                        <form>
                            <input type="email" placeholder="Nhập vào Email của bạn" class="email-subscribe">
                            <input type="submit" value="Gửi" class="submit-subscribe">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
	.footer-adwords-seo {
	    background: #eee;
	    padding: 30px 0;
	}

	.footer_link {
		color: #333;
		font-size: 11px;
		text-decoration: none;
		text-transform: lowercase;
	}

	.footer-cpy-right {
	    padding: 15px 0 0;
	    background: #008dd5;
	}

	.footer-cpy-right .cpy-right-info {
	    display: inline-block;
	    color: #f5f5f5;
	}

	.footer-cpy-right .cpy-right-info h5 {
	    margin: 0 0 5px;
	    font-size: 12px;
	    font-weight: 500;
	}

	.footer-cpy-right .cpy-right-info p {
	    font-size: 11px;
	    font-weight: 300;
	    margin-bottom: 8px;
	}
</style>

<section id="bottom-footer" class="section-bottom-footer footer-adwords-seo">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
               	<a href="" class="footer_link" ng-repeat="(key, tag) in footer_tags">
                    <span ng-if="!$last">{{tag.name}} /</span>
                    <span ng-if="$last">{{tag.name}}</span>
                </a>
            </div>
        </div>
    </div>
</section>

<div class="footer-cpy-right">
    <div class="container">
        <div class="cpy-right-info">
            <h5>© {{today | date : "y"}} - Bản quyền của Công Ty Cổ Phần Công Nghệ & Đào Tạo Trực Tuyến HAMIA - ispeak.vn</h5>
            <p>Giấy chứng nhận Đăng ký Kinh doanh số 0107640147 do Sở Kế hoạch và Đầu tư Hà Nội cấp</p>
        </div>
    </div>
</div>

<div ng-if="popup_banner" ng-cloak ng-init="popup()" id="home_popup_banner" class="mypopup" style="display:none;max-width: 800px; max-height: 600px;">
    <!-- Add an optional button to close the popup -->
    <a class="home_popup_banner_close mypopup_btn_close" href="#"><i class="fa fa-times-circle fa-2x" aria-hidden="true"></i></a>

    <a href="{{popup_banner.link_to}}" title="{{popup_banner.name}}">
        <img ng-src="{{popup_banner.image_src}}" alt="{{popup_banner.description}}" title="{{popup_banner.name}}">
    </a>
</div>



