<div class="ispeak-login">
    <h1>Đăng nhập</h1>
    <hr class="legend"/>

    <div id="login-status"></div>

    <form id="login-form" action="#" method="POST">
        <div class="textbox-wrap">
            <input name="username" type="text" class="form-control" id="username" placeholder="Tài khoản" required="" aria-required="true">
        </div>
        <div class="textbox-wrap">
            <input name="password" type="password" class="form-control" id="password" placeholder="Mật khẩu" required="" aria-required="true">
        </div>
        <div class="login-form-action clearfix">
            <div class="forgot-pass pull-left">
                <a href="">Quên mật khẩu</a>
            </div>
            <button type="submit" class="btn btn-success pull-right blue-btn btn-login"><i class="fa fa-sign-in"></i> Đăng nhập</button>
        </div>
    </form>
    <div class="clearfix"></div>
    <div class="hrseparate"><span>hoặc đăng nhập bằng</span></div>
    <div class="social-login">
        <a href="" class="btn azm-social azm-btn azm-facebook pull-left">
            <i class="fa fa-facebook"></i> Facebook</a>
        <a href="" class="btn azm-social azm-btn azm-google-plus pull-right">
            <i class="fa fa-google-plus"></i>Google+
        </a>
    </div>
    <hr>
    <div class="text-register"><p>Nếu bạn chưa có tài khoản, vui lòng <br><a href="">đăng ký thành viên</a></p></div>

    <div class="login-load"></div>
    
</div>