

/* =========================== GLOBAL STYLES ============================== */
body {
	color:#000000;
	font-size:14px;
	font-weight:300;
	padding:0;
	line-height:1.3;
	font-family: 'Noto Sans', serif;
	-webkit-font-smoothing:antialiased !important;
	background:#ffffff;
	overflow-x:hidden;
}
a,a:hover,a:focus,.btn:focus {
	text-decoration:none;
	outline:none;
}
img {
	max-width:100%;
}
.navbar{
	border: 0px!important;
}
.text-center{
	text-align: center;
}
.text-left{
	text-align: left;
}
.text-right{
	text-align: right;
}

.relative {
	position:relative;
}
.absolute {
	position:absolute;
}
.container {
	max-width:1136px;
	padding-left:15px;
	padding-right:15px;
	width:100%;
}
.no-padding {
	padding:0;
}
.uppercase {
	text-transform:uppercase;
}
.capitalize {
	text-transform:capitalize;
}
.bold {
	font-weight:700!important;
}
.normal {
	font-weight:normal;
}
.italic {
	font-style:italic;
}
.animated {
	visibility:hidden;
}
.visible {
	visibility:visible;
}
.clear {
	clear:both;
}
.unlist li {
	list-style:none;
}
p {
	line-height: 2;
}
.left{
	float: left;
}
.right{
	float: right;
}
/* ------------- Purchase Now ------------- */
.purchase-button {
	background-color:#000000;
	padding:35px 0px;
}
.purchase-button .slide-btn {
	background-color:#f4a62a;
	font-weight:400;
	margin:0 20px;
	padding:15px 0;
	width:300px;
	max-width:100%;
	display:block;
}
.purchase-button h2 {
	margin:10px 0px;
	font-weight:400;
	text-align:right;
}
.purchase-button .slide-btn i {
	margin-right:15px;
	font-size: 25px;
}
/* ------------- Page Loader Styles ------------- */
#pageloader {
	background-color:#FFFFFF;
	height:100%;
	position:fixed;
	top:0;
	width:100%;
	z-index:9999;
}
.loader-item {
	background:none repeat scroll 0 0 #FFFFFF;
	border-bottom:3px solid rgba(0,0,0,0) !important;
	border-left:3px solid;
	border-radius:200px;
	-moz-border-radius:200px;
	-webkit-border-radius:200px;
	-o-border-radius:200px;
	-ms-border-radius:200px;
	border-right:3px solid;
	border-top:3px solid;
	height:40px;
	left:50%;
	margin:-20px 0 0 -20px;
	position:absolute;
	text-align:center;
	top:50%;
	width:40px;
}
.loader-item h2 {
	color:#CCCCCC;
	font-size:20px;
	margin:0 auto;
}
.colored-border {
	border-color: #f06739;
}
/* ------------- Overlay Styles ------------- */
.overlay {
	display:block;
	position:absolute;
	z-index:20;
	background:rgba(0,0,0,0.75);
	overflow:hidden;
	-webkit-transition:all 0.3s;
	-moz-transition:all 0.3s;
	-o-transition:all 0.3s;
	transition:all 0.3s;
}
a.close-overlay {
	display:block;
	position:absolute;
	top:0;
	right:0;
	z-index:100;
	width:45px;
	height:45px;
	font-size:20px;
	font-weight:700;
	color:#fff;
	line-height:45px;
	text-align:center;
	cursor:pointer;
}
a.close-overlay.hidden {
		display:none;
}
a.expand {
	display:block;
	position:absolute;
	z-index:100;
	width:60px;
	height:60px;
	border:solid 2px #fff;
	text-align:center;
	color:#fff;
	line-height:55px;
	font-weight:700;
	font-size:25px;
	-webkit-border-radius:30px;
	-moz-border-radius:30px;
	-ms-border-radius:30px;
	-o-border-radius:30px;
	border-radius: 30px;
}
/* Products Hover Effect */
.effect2 .overlay {
	top:0;
	left:0;
	right:0;
	width:100%;
	height:0;
}
.effect2 .overlay a.expand {
	left:0;
	right:0;
	top:50%;
	margin:-30px auto 0 auto;
}
.effect2 .img.hover .overlay {
		height: 100%;
}
/* Portfolio Hover Effect */
.effect5 .overlay {
	top:0;
	bottom:0;
	left:0;
	right:0;
	opacity:0;
}
.effect5 .overlay a.expand {
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
	width:100%;
	height:100%;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	-ms-border-radius:0;
	-o-border-radius:0;
	border-radius:0;
	-webkit-transition:all 0.5s;
	-moz-transition:all 0.5s;
	-o-transition:all 0.5s;
	transition:all 0.5s;
}
.effect5 .img.hover .overlay {
		opacity:1;
}
.effect5 .img.hover .overlay a.expand {
	width:60px;
	height:60px;
	-webkit-border-radius:30px;
	-moz-border-radius:30px;
	-ms-border-radius:30px;
	-o-border-radius:30px;
	border-radius: 30px;
}
/* Blog Hover Effect */
.effect6 .overlay {
	top:0;
	bottom:0;
	left:0;
	right:0;
	opacity:0;
}
.effect6 .overlay a.expand {
	left:0;
	right:0;
	top:0;
	margin:0 auto;
	opacity:0;
	-webkit-transition:all 0.5s;
	-moz-transition:all 0.5s;
	-o-transition:all 0.5s;
	transition:all 0.5s;
}
.effect6 .img.hover .overlay {
		opacity:1;
}
.effect6 .img.hover .overlay a.expand {
	top:50%;
	margin-top:-30px;
	opacity: 1;
}
.bg-overlay {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.6);
	/* browsers */
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#7c000000',endColorstr='#7c000000');
	/* IE */
}
.bg-overlay.pattern {
	filter:progid: DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#7c000000',endColorstr='#7c000000');
	/* IE */
}
.orange{
	color: #ffa800!important;
}
/* =========================== HEADER SECTION ============================== */
#home header {
	position:relative;
}

.banner-page{
    background: url("../../img/banner-booking.png") no-repeat scroll center top;
    padding: 25px 0;
    /*height: 113px;*/
}


.breadcrumb {
    text-align: left;
    margin-bottom: 5px;
    margin-top: 10px;
    padding: 0;
    background: transparent;
}

.breadcrumb a, .breadcrumb span {
    color: #fff;
    font-size: 14px;
    font-weight: normal;
}

.breadcrumb > li + li:before {
    color: #fff;
}

h2.tit-page {
    font-size: 24px;
    line-height: 24px;
    color: #2c2c2c;
    margin: 0;
    /*margin-bottom: 80px;*/
    background: transparent;
}


h2.tit-page span {
    background: none;
    color: #fff;
    padding: 0;
    font-weight: bold;
    font-size: 20px;
    white-space: nowrap;
}


/*Booking page*/

body.booking.page #content{
	background-color: #f5f7f8;
	margin-bottom: 0;
	padding-bottom: 40px;
}


.booking-alert{
	padding-right: 15px;
}


.booking-alert .alert{
	border-radius: 0;
} 

.absolut.top-50{
	top: -80px;
}

.booking-alert p{
	color: #222;
	text-align: left;
	line-height: 24px;
	padding-left: 70px;
	background: url(../../img/icon/ico-info.png) 20px center no-repeat;
}


.booking-choose-form input[type=text],
.booking-choose-form select {
	min-width: 200px;
	border-radius: 0;
	font-family: notoSans;
	color: #008dd5;
	font-size: 13px;
}

.booking-choose-form .btn{
	border-radius: 0;
}


.box-teacher{
	border: 1px solid #fff;
	box-shadow: 0px 0px 3px #f2f2f2;
	padding: 30px;
	margin-bottom: 20px;
	background: #fff;
}

.box-teacher .img-gv{
	margin-bottom: 15px;
}


.box-teacher .img-gv img{
	border: 6px solid #fff;
	box-shadow: 0px 0px 12px #aaa;
	background: #888;
}
 

.box-teacher .page-header {
    margin: 0 0 10px;
}

.review .glyphicon{
	color: #ffa800;
}


.box-teacher .page-header a{
	font-size: 22px;
	font-weight: bold;
}

.box-teacher .teacher-metas{
	margin-bottom: 10px;
}

.box-teacher .teacher-metas a{
	color: #008dd5;
	text-decoration: none;
	margin-right: 25px;
}

.box-teacher .teacher-metas a:hover{
	color: #ffa800;
	text-decoration: none;
}

.teacher-info .nav-tabs>li{
	background-color: #008dd5;
	border-top: none;
	margin-top: 4px;
}

.teacher-info .nav-tabs>li:hover{
	background: none;

}

.teacher-info .nav-tabs>li a{
	color: #fff;
	font-weight: bold;
    border-radius: 0;
    padding: 13px 30px;
    margin: 0;
}

.teacher-info .nav-tabs>li a:hover{
	background-color: transparent;
	/*border: none;*/
	color: #333;
}

.teacher-info .nav-tabs>li.active{
	border-top: 1px solid #ddd;
	margin-top: 0;
}

.teacher-info .nav-tabs>li.active a{
	color: #333;
    padding: 15px 30px;
}

.teacher-info .tab-content{
	padding: 20px 30px;
	border: 1px solid #ddd;
	border-top: none;
	float: left;
	width: 100%;
}

.teacher-info .tab-content .table tr,
.teacher-info .tab-content .table td{
	border: none;
	padding-left: 0;
}


.form_datlich{
	margin-bottom: 10px;
	float: left;
}

.form_datlich .time_datlich{
	text-align: center;
	color: #555;
}

.form_datlich .img-lich{
	display: block;
	float: left;
	width: 40px;
	height: 70px;
	background: #e6eef2;
	margin-right: 3px;
}


.form_datlich .img-lich.open{
	background: url(../../img/avaiable-booking.jpg) center center no-repeat;
}

.form_datlich .img-lich.booked{
	background: url(../../img/booked-booking.jpg) center center no-repeat;
}


.book-mark .fa-heart{
	color: #e7237f;
}

.skills{
	margin-top: 20px;
}

.skills .skill-item{
	display: inline-block;
	background: #f6f6f6;
	margin-right: 8px;
	margin-bottom: 8px;
	padding: 3px 5px;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: normal;
}


.title {
	font-family:'Raleway',sans-serif;
	font-weight:300;
	color:#000000;
	text-transform:uppercase;
	display:inline-block;
}

.title h2 {
	border-bottom:1px solid #ccc;
	padding-bottom:20px;
	display:inline-block;
	font-weight:700;
	font-size:33px;
}
.title span {
	font-weight:900;
}
.title h2:before {
	content:"";
	width:8px;
	height:8px;
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	-o-border-radius:50%;
	-ms-border-radius:50%;
	position:absolute;
	margin-top:53px;
}
.title:before {
	content:"";
	width:100px;
	height:1px;
	position:absolute;
	margin-top:76px;
	margin-left:auto;
	margin-right:auto;
}
.desc {
	font-size:18px;
	font-weight:300;
	padding:10px 0px 30px 0;
	color:#777777;
	line-height: 1.8;
}
/* ------------- Logo Styles ------------- */
a{
	transition:all 0.1s ease-in-out 0s;
	-moz-transition:all 0.1s ease-in-out 0s;
	-webkit-transition:all 0.1s ease-in-out 0s;
	-o-transition:all 0.1s ease-in-out 0s;
	-ms-transition:all 0.1s ease-in-out 0s;
}
a.navbar-brand {
	font-family:'Roboto';
	font-size:26px;
	font-style:normal;
	font-weight:300;
	color:#FFFFFF;
	text-transform:uppercase;
}
.logo-letter {
	font-weight: 700;
}
/* ------------- Sticky Container ------------- */
header .sticky-wrapper.is-sticky .navbar,#pages header .sticky-wrapper .navbar {
	z-index:1001;
	background-color:rgba(0,0,0,.7);
}
header .dropdown-menu {
	background-color:rgba(0,0,0,.7);
}
header ul.dropdown-menu {
	margin-top:20px;
	border:0;
}
header .dropdown i {
	font-size:18px;
	margin:0 0px 0 5px;
	vertical-align: middle;
}
header .navbar-collapse.collapse.in{
    border-bottom: 1px solid #ccc;
}

/* ------------- Navigation ------------- */
.top-header{
	position: relative;
	display: block;
}
#header .navbar-nav{
width: 100%;
margin: 0;
}
.logo-header{
	position: relative;
	float: left;
	vertical-align: middle;
 	display : flex;
  	align-items : center;
}
.logo-header span{
	background: #008dd5;
	color: #fff;
	padding: 3px 7px;
	font-size: 12px;
}
.hotline-gateinfo{
	position: relative;
}
.hotline{
	padding-right: 10px;
}
.icon-phone i{
	height: 28px;
	width:28px;
	border-radius: 50%;
	border:1px solid #e13e31;
	color: #e13e31;
	line-height: 28px;
	text-align: center;
	margin: 5px;
}
.info-hotline{
	font-size: 13px;

}
.info-hotline .phone-number{
	font-weight: bold;
	color: #e13e31;
}
.info-hotline .time-phone{
	color: #b0b0b0;
}
.gateinfo:before{
	content: '';
	background: url('../../img/icon/computer.png');
	float: left;
	width: 52px;
	height: 48px;
}
.gateinfo span{
	width: 210px;
	height: 39px;
	background: #e13e31;
	color: #fff;
	font-size: 13px;
	display: block;
	margin-top: 3px;
    margin-left: 20px;
    padding-left: 40px;
    font-weight: bold;
}
header .navbar {
	margin:0;
	padding-top:7px;
}
header .is-sticky .navbar {
	margin:0;
	padding:0px 0;
}
header .navbar-fixed-top {
	border:none;
}
.navbar ul.nav a {
	font-size:13px;
	font-weight:700;
	font-style:normal;
	color:#008dd5;
}
header .navbar-nav>li>a {
	padding: 0px 0px;
    border-bottom: 3px solid #fff;
    margin-left: 5px;
    margin-right: 5px;
    text-transform: uppercase;
    margin-bottom: 7px;
    padding: 7px 10px;
    margin-top: 7px;

}
header .navbar-nav>li>a:hover{
	color:#fff!important;
	background: #00a6e3!important;
}
span.hot-link{
	background: #e13e31;
    color: #fff;
    font-size: 9px;
    padding: 0px 2px;
    position: absolute;
    top: 3px;
    right: -15px;
    line-height: 15px;
    font-weight: normal;
    text-transform: uppercase;
}
header .navbar-nav>li:first-child>a{
	margin-left: 0px;
}
header .navbar-nav>li:last-child>a{
	margin-right: 0px;
}
.navbar ul.nav a:hover,.navbar ul.nav a:focus {
}
.navbar-toggle {
	background-color:#000000;
}
.navbar-toggle .icon-bar {
	background-color:#FFFFFF;
}
.navbar .dropdown a {
	background:none !important;
}
.navbar .dropdown-menu a {
	padding:7px 15px;
}
.navbar-nav i {
	font-size: 20px;
}
/* =========================== SLIDER SECTION ============================== */
.intro-text {
	color:#ffffff;
	text-align:center;
}
.intro-text h1 {
	font-size:55px;
	font-weight:900;
	padding-top:140px;
	text-transform:uppercase;
}
.large_white_bold {
	font-size:35px;
	font-weight:500;
}
.medium_white_light {
	font-size:18px;
}
.slide-btn {
	font-family:'Roboto';
	font-size:18px;
	color:#FFFFFF;
	padding:12px 34px;
	margin:30px 3px;
	font-weight:normal;
	background:transparent;
	border:1px solid #ffffff;
	position:relative;
	transition:all 0.4s ease-in 0s;
	-moz-transition:all 0.4s ease-in 0s;
	-webkit-transition:all 0.4s ease-in 0s;
	-o-transition:all 0.4s ease-in 0s;
	-ms-transition:all 0.4s ease-in 0s;
		animation:point-down 0.5s alternate infinite;
	-o-animation:point-down 0.5s alternate infinite;
	-moz-animation:point-down 0.5s alternate infinite;
	-webkit-animation:point-down 0.5s alternate infinite;
}
.slide-btn a {
	color:#FFFFFF;
}
.slide-btn i {
	padding-left:6px;
}
.slide-btn:hover,.slide-btn:focus {
	background:#FFFFFF;
	border:1px solid #ffffff;
}
.slide-btn:hover a,.slide-btn a:hover {
	color:#000000;
}
.app-icons {
	display:block;
	margin:20px;
}
.app-icons i {
	font-size:35px;
	color:#ffffff;
	margin:4px;
}
.app-icons i:hover {
	transform:rotateX(360deg);
	-ms-transform:rotateX(360deg);
	-webkit-transform:rotateX(360deg);
	color: #000000;
}
/* =========================== WELCOME SECTION ============================== */
.welcome-section {
	position:relative;
}
.welcome-section li {
	clear:both;
	padding-bottom:30px;
	color:#777777;
	text-align:right;
}
.welcome-section i {
	background-image:url(../../img/pattern.png);
	background-color:rgba(0,0,0,.5);
	padding:25px;
	border-radius:50%;
	color:#ffffff;
	margin-bottom:30px;
}
.container.welcome-inner {
	padding-top:60px;
}
.welcome-section ul {
	margin-top:80px;
	padding-left:0px;
}
.welcome-content h5 {
	font-size:16px;
	color:#333333;
	text-transform: uppercase;
}
/* =========================== FEATURES SECTION ============================== */
#features {
	 background-attachment:fixed !important;
	 background-size:cover;
	-o-background-size:cover;
	-moz-background-size:cover;
	-webkit-background-size:cover;
	background-repeat:repeat;
	color:#ffffff;
}
.features-section {
		position:relative;
}
.container.features-inner {
	padding-top:60px;
	padding-bottom:0px;
}
.features-section .title,.features-section h3 {
	color:#FFFFFF;
}
.features-content h5 {
	font-size:16px;
	color:#ffffff;
	text-transform:uppercase;
}
.features-list {
	padding:40px 0 0 0px;
}
.features-list-left {
	text-align:left;
}
.features-list-right {
	text-align:left;
}
.features-list li {
	list-style:none;
	padding:20px 0;
	line-height:2;
	font-size:15px;
	font-weight:300;
	position:relative;
}
.features-list li i {
	display:block;
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	-o-border-radius:50%;
	-ms-border-radius:50%;
		background-color:rgba(0,0,0,.5);
	border-color:rgba(0,0,0,.5);
	width:90px;
	height:90px;
	margin:20px auto;
	line-height:90px;
		-webkit-transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	-ms-transform:all 0.5s ease;
	-o-transform:all 0.5s ease;
	transition:all 0.5s ease;
	text-align:center;
	position:absolute;
	top:10px;
}
.features-list li:hover>i {
	-webkit-transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	-ms-transform:all 0.5s ease;
	-o-transform:all 0.5s ease;
	transition:all 0.5s ease;
	color:#ffffff;
}
.features-list-left li i {
	left:0px
}
.features-list-right li i {
	right:0px;
}
.features-list-left .features-content {
	margin-left:110px;
}
.features-list-right .features-content {
	margin-right:110px;
}
.app-image {
	text-align:center;
	margin:0px auto;
	z-index: 1;
}
/* =========================== ADDITIONAL SECTION ============================== */
#additional {
	background-image:url(../../img/bg/additional-bg.jpg);
	 background-attachment:fixed !important;
	 background-size:cover;
	-o-background-size:cover;
	-moz-background-size:cover;
	-webkit-background-size:cover;
	background-repeat:repeat;
	color:#ffffff;
}
.additional-section {
	position:relative;
}
.circle-bg {
	position:absolute;
	width:80px;
	height:80px;
	background-color:#fff;
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	-o-border-radius:50%;
	-ms-border-radius:50%;
	top:5px;
	left:0px;
	right:0px;
	margin:auto;
	text-align:center;
	font-size:20px;
	padding-top:5px;
	font-weight:700;
	z-index:-1;
	border-top:1px solid #d9e2e9;
}
.additional-title {
	z-index:100;
}
.container.additional-inner {
	padding-top:60px;
	padding-bottom:70px;
}
.additional-section .title {
	color:#FFFFFF;
}
.additional-section h5 {
	padding:0px 10px 5px 0;
		font-size:18px;
	color:#ffffff;
	text-transform:uppercase;
}
.additional-features {
	position:relative;
	color:#FFFFFF;
	line-height:2;
	text-align:center;
}
.additional-features i {
	width:80px;
	height:80px;
	line-height:80px;
	color:#ffffff;
	font-size:40px;
	text-align:center;
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	-o-border-radius:50%;
	-ms-border-radius:50%;
}
.additional-features:hover>i {
	transform:rotate( 360deg);
	-moz-transform:rotate( 360deg);
	-webkit-transform:rotate( 360deg);
	-o-transform:rotate( 360deg);
	-ms-transform:rotate( 360deg);
}
.additional-content {
	padding:15px 30px;
	margin-bottom:30px;
}
.additional-feature-image {
	z-index:1;
	text-align:center;
}
.features-border-top {
	border-top:1px solid;
	margin-top:40px;
}
.features-border-top .col-md-3 {
	margin-top:-40px;
}
.features-border-top .col-md-3:after {
	content:"";
	position:absolute;
	top:40px;
	left:0;
	height:40%;
	width:1px;
}
.features-border-top .right-border:before {
	content:"";
	position:absolute;
	top:40px;
	right:0;
	height:40%;
	width: 1px;
}
/* =========================== PRICING TABLE SECTION ============================== */
.price-table {
	background-color:#FFFFFF;
	border-bottom:2px solid #dce0e3;
}
.container.pricing-inner {
	padding-top:60px;
	padding-bottom:90px;
}
.price-table .desc {
		color:#777777;
}
.price-table .table-row {
	margin-top:50px;
}
.pricing-box {
	background-color:rgba(0,0,0,.005);
	border:1px solid #e4e9ee;
	border-radius:5px;
	margin-bottom:10px;
}
.pricing-title i {
	border-bottom:1px solid #000000;
	margin-bottom:5px;
	padding-bottom:5px;
}
.price-table h3 {
	font-size:26px;
	padding:30px 20px;
	font-weight:800;
	margin:0px;
	border-radius:5px 5px 0 0;
	color:#000000;
	text-transform:uppercase;
	background-color:rgba(0,0,0,.05);
}
.pricing-title.highlight h3 {
	background-image:none;
	color:#ffffff;
}
.pricing-title.highlight i {
	border-bottom:1px solid #ffffff;
}
.pricing-box ul {
	padding-left:30px;
	padding-right:30px;
	margin-bottom:0px;
}
.pricing-box li {
	list-style-type:none;
	padding:15px;
	color:#7a838a;
	font-size:14px;
		border-top:1px solid rgba(0,0,0,.05);
}
.pricing-box .price {
	padding:16px 0px;
	font-size:36px;
}
.pricing-box .price h6 {
	display:inline-block;
	font-size:55px;
	font-weight:900;
}
.pricing-box .price span {
	font-size:13px;
	font-weight:normal;
}
.pricing-more {
	padding:15px 5px;
	text-align:center;
	border-radius:0 0 5px 5px;
	background-color:rgba(0,0,0,.05);
}
.pricing-more i {
	font-size:28px;
}
.pricing-more a {
	padding:10px 5px;
		color:#000000;
	display:block;
	text-transform:uppercase;
	font-weight: 700;
}
/* =========================== SCREENSHOTS SECTION ============================== */
#screenshots {
	background-image:url(../../img/bg/screens-bg.jpg);
	 background-attachment:fixed;
	 background-size:cover;
	-o-background-size:cover;
	-moz-background-size:cover;
	-webkit-background-size:cover;
	background-repeat:repeat;
	color:#ffffff;
	text-align:center;
}
.screenshots {
	position:relative;
}
.screenshots .title {
	color:#FFFFFF;
}
.screenshots-inner {
	padding-top:60px;
	padding-bottom:90px;
}
.screen-img {
	margin:25px;
	text-align:center;
	background-color:rgba(0,0,0,.2);
		border-radius:5px;
}
.screen-img:hover {
	background-color:rgba(0,0,0,.8);
}
.screen-img img {
	border-radius:5px;
	border:10px solid rgba(0,0,0,.3);
}
.screen-img:hover img {
	opacity:.2;
}
.owl-carousel .owl-item {
	cursor:pointer;
	float:left;
}
.screen-img .overlay {
	background: none;
}
/* =========================== OUR ACHIEVEMENT SECTION ============================== */
#counting {
	background:#FFFFFF;
}
.container.counting-inner {
	padding-top:60px;
	padding-bottom:70px;
}
.counting h3 {
	margin:0 auto;
	color:#333333;
	padding:5px 0px;
	font-weight:700;
	text-transform:uppercase;
		font-size:18px;
}
.counting-box i {
	color:#ffffff;
	width:110px;
	height:110px;
	line-height:110px;
	border-radius:50%;
		background-image:url(../../img/pattern.png);
	background-color:rgba(0,0,0,.5);
	margin-bottom:20px;
	margin-top:20px;
}
.fact-number {
	margin:0 0 0px;
	padding:0 0 0px;
}
.fact-number .factor {
	display:inline-block;
	line-height:45px;
	padding:10px 0px 20px 0;
	font-size:60px;
	width:160px;
	font-weight: 900;
}
/* =========================== VIDEO SECTION ============================== */
#demo-video {
	background-image:url(../../img/bg/video-bg.jpg);
	 background-attachment:fixed !important;
	 background-size:cover;
	-o-background-size:cover;
	-moz-background-size:cover;
	-webkit-background-size:cover;
	background-repeat:repeat;
	color:#ffffff;
}
.demo-video {
	position:relative;
}
.container.demo-video-inner {
	padding-top:60px;
	padding-bottom:0px;
}
.demo-video .title {
	color:#ffffff;
}
.video_bg {
	background:url(../../img/video_bg.png) no-repeat center 100%;
	background-size:100%;
	max-width:700px;
	margin:0px auto;
	position:relative;
	padding:70px 0px 60px 0;
	margin-bottom:-30px;
	z-index:10;
}
.video_bg iframe {
	width:100%;
	max-width: 544px;
}
/* =========================== HOW IT WORKS SECTION ============================== */
.how-it-works {
	background:#FFFFFF;
	border-bottom:2px solid #dce0e3;
}
.container.how-it-works-inner {
	padding-top:90px;
	padding-bottom:70px;
}
.how-it-works .header {
	padding-bottom:35px;
}
.how-it-works h3 {
	font-size:22px;
	text-transform:uppercase;
}
.how-it-works ul {
	list-style-type:none;
	padding-left:0px;
}
.how-it-works .about-right {
	padding:0 30px;
}
.about-right .fa-comment-o {
	font-weight:400;
}
.benefits {
	position:relative;
}
.phone-image-right {
	margin-left:-25%;
	position:relative;
}
.how-it-works ul li {
	padding:15px 5px 0px;
}
.how-it-works i {
	float:left;
	color:#000000;
	font-size:35px !important;
	font-weight:600;
	line-height:25px;
	margin:10px 20px 5px 5px;
}
.how-it-works .flaticon-users2 {
	font-size:45px !important;
	margin:10px 10px 5px 5px;
}
.how-it-works .flaticon-share26 {
	margin:10px 20px 5px 9px;
}
.how-it-works .about-right p {
	color:#737a7f;
	font-size:15px;
	line-height:26px;
	font-weight: 300;
}
/* =========================== TESTIMONIALS SECTION ============================== */
.testimonials .testimonials-inner {
	padding-top:50px;
	padding-bottom:0px;
}
.testimonials h3 {
	color:#a8b1ba;
}
.testimonials .feedback {
	margin-top:10%;
	text-align:center;
	color:#777777;
}
.testimonials .feedback p {
	font-size:18px;
	font-weight:300;
}
.testimonials .owl-controls {
	display:none !important;
}
.testimonials .feedback h5 {
	font-size:25px;
	font-weight:600;
	margin-top:30px;
}
bg-text {
	background-color:#999999;
	overflow:hidden;
	padding:20px 20px 100px 20px;
	position:relative;
}
.bg-text:after {
	color:#777777;
	content:attr(data-bg-text);
	display:block;
	font-size:120px;
	font-weight:bold;
	transform:rotate(-15deg);
	line-height:1;
	position:absolute;
	bottom:-15px;
	right:10px;
	opacity: .04;
}
/* =========================== TEAM SECTION ============================== */
#team {
	background-image:url(../../img/bg/team-bg.jpg);
	 background-attachment:fixed !important;
	 background-size:cover;
	-o-background-size:cover;
	-moz-background-size:cover;
	-webkit-background-size:cover;
	background-repeat:repeat;
	color:#ffffff;
}
.team {
	position:relative;
}
.team .container.team-inner {
	padding-top:60px;
	padding-bottom:70px;
}
.team .title {
	color:#FFFFFF;
}
.team .team-box {
	margin:20px auto;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-o-border-radius:3px;
	-ms-border-radius:3px;
	border-bottom:5px solid;
	position:relative;
	max-width:350px;
}
.team .team-box-inner {
	padding:0px;
	position:relative;
}
.team .team-box-inner h3 {
	margin-top:0px;
	color:#ffffff;
}
.team .team-box-inner p {
	padding:5px 5px 7px 5px;
	color:#ffffff;
}
.team .social-icon.top,.team .social-icon.bottom {
	left:0;
	margin:auto;
	padding:13px 0;
	position:relative;
	right:0;
	text-align:center;
}
.team .social-icon i {
	font-size:15px;
	line-height:35px;
	margin:0 7px;
	border-radius:50px;
	-moz-border-radius:50px;
	-webkit-border-radius:50px;
	-o-border-radius:50px;
	-ms-border-radius:50px;
	color:#FFFFFF;
	width:35px;
	height:35px;
}
.team-box-inner .about-member {
	opacity:0;
	text-align:center;
	position:absolute;
	top:0;
	bottom:0px;
	left:0;
	right:0px;
		height:300px;
}
.team-box-inner .about-member .member-details {
	position:relative;
	top:50%;
	-webkit-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	transform:translateY(-50%);
}
.team-box-inner:hover img {
		opacity:.1;
}
.team-box-inner:hover .team-thumbnail {
	background-color:rgba(0,0,0,.8);
}
.team-box-inner:hover .about-member {
		opacity:1;
}
.facebook {
		background-color:#204385;
}
.twitter {
		background-color:#2aa9e0;
}
.linkedin {
		background-color:#02669a;
}
.google {
		background-color:#d3492c;
}
.pinterest {
		background-color:#ca2128;
}
.youtube {
		background-color:#eb2429;
}
.vimeo {
		background-color:#20b7ec;
}
.flickr {
		background-color: #f14c8e;
}
/* =========================== NEWS SECTION ============================== */
.blog .blog-box {
	margin-bottom:10px;
}
.blog .blog-inner {
	padding-top:60px;
	padding-bottom:80px;
}
.blog .blog-box.img {
	display:inline-block;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
	-khtml-border-radius:50%;
}
.blog .blog-box img {
			width:80px;
	height:80px;
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	-o-border-radius:50%;
	-ms-border-radius:50%;
	text-align:center;
}
.blog .title-top {
	margin:0px;
}
.blog .effects .img {
	margin-bottom:0px;
}
.blog-image.img .img-icon {
	font-size:40px;
	width:80px;
	height:80px;
	line-height:80px;
	border-radius:50%;
	text-align:center;
	border:1px solid #333;
}
.blog-content {
	padding:8px 0px 45px 20px;
	text-align:left;
	margin-left:100px;
}
.blog-content h2 {
	font-weight:700;
		margin-top:0;
	font-size:20px;
	text-transform:uppercase;
}
.blog-content h2 a:hover {
	color:#000000;
}
.blog-content p {
	line-height:26px;
	color:#717b82;
}
.blog-content .comments {
		padding:5px 5px 15px 5px;
}
.blog .btn {
	padding:7px 15px 8px;
	font-weight:normal;
	margin-top:10px;
	font-size:15px;
}
.blog .slide-btn {
	background-color:#000000;
}
.blog .btn i {
	vertical-align:text-bottom !important;
}
.blog .btn:hover {
	color:#FFFFFF !important;
}
.blog .load-post .btn {
			background-image:url(../../img/pattern.png);
	background-color:rgba(0,0,0,.5);
	padding:15px 25px;
		color:#FFFFFF;
}
.blog .load-post .btn:hover {
	color:#FFFFFF;
				background-image:none;
}
.blog .blog-scroll-section .effects .img {
	position:absolute;
	overflow:hidden;
	margin:0px auto;
	padding:10px;
		width:100px;
	height:100px;
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	-o-border-radius:50%;
	-ms-border-radius:50%;
	border-top:1px solid #333;
	border-bottom:1px solid #333;
}
.blog-image.img.overlay {
	border-radius:50% !important;
	-moz-border-radius:50% !important;
	-webkit-border-radius:50% !important;
	-o-border-radius:50% !important;
	-ms-border-radius:50% !important;
}
.news-info div {
	display:inline-block;
	padding-right:10px;
}
.news-info div .fa {
	padding-right: 5px;
}
/* =========================== SKILL SECTION ============================== */
.skill .skill-inner {
	padding-top:50px;
	padding-bottom:70px;
}
.skill h3 {
	color:#a8b1ba;
}
.piechart {
	position:relative;
	display:inline-block;
	text-align:center;
	margin:35px 0px;
	width:100%;
}
.piechart canvas {
	position:absolute;
	top:0;
	left:46%;
	margin-left:-97px;
	color:#E26853;
}
.piechart span {
	border-radius:100%;
	-moz-border-radius:100%;
	-webkit-border-radius:100%;
	-o-border-radius:100%;
	-ms-border-radius:100%;
	color:#FFFFFF;
	display:block;
	font-size:60px;
	font-weight:500;
	height:162px;
	left:50%;
	line-height:200px;
	margin-bottom:25px;
	margin-left:-75px;
	position:relative;
	top:5px;
	width:162px;
	z-index:2;
}
.piechart span:after {
	content:'%';
	font-size: 60px;
}
/* Load More */
.load-more {
	display:none;
}
.load-more.active {
		display: block;
}
/* =========================== CLIENT SECTION ============================== */
.container.client-inner {
	padding-top:60px;
	padding-bottom:60px;
}
.client1,.client2 {
	padding:15px 0px;
	color:#717b82;
}
.client1 span,.client2 span {
	font-size:15px;
	color:#717b82;
	font-style:normal;
	font-weight:normal;
}
.client-inner h5 {
	font-size:16px;
	color:#495258;
	font-weight:700;
}
.client-inner h3 {
	font-weight:600;
}
.client-inner p {
	font-size:15px;
	line-height:26px;
}
.clients .client-logo .divider {
	float:left;
	margin:-23px 25px 0 20px;
}
.clients .client-logo .logo-top,.clients .client-logo .logo-bottom {
	padding:5px 30px;
}
.clients .client-logo .logo-top img,.clients .client-logo .logo-bottom img {
	margin:15px 35px;
}
.clients .client-logo .logo-top img,.clients .client-logo .logo-bottom img {
		filter:url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.9999 0.9999 0 1 0\'/></filter></svg>#grayscale");
	/* for Webkit browsere,Chrome 19+,Safari 6+... */ 	-webkit-filter:grayscale(0.5);
		 /* for IE6+*/ 	 -moz-filter:grayscale(0.5);
		 -ms-filter:grayscale(0.5);
		 -o-filter:grayscale(0.5);
		 filter:grayscale(0.5);
		 opacity:0.65;
		 filter:gray;
}
.clients .client-logo .logo-top img:hover,.clients .client-logo .logo-bottom img:hover {
	filter:url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0,1 0\'/></filter></svg>#grayscale");
		/* for Webkit browsere,Chrome 19+,Safari 6+... */ 	-webkit-filter:grayscale(0);
		/* for IE6+*/ 	filter:gray;
		opacity:1;
	-moz-filter:grayscale(0);
		-ms-filter:grayscale(0);
		-o-filter:grayscale(0);
		filter: grayscale(0);
}
/* =========================== TWITTER FEED SECTION ============================== */
.twitter-feed {
	text-align:center;
	padding-bottom:15px;
}
.twitter-feed .owl-buttons {
	display:none;
}
.tweet {
	padding:12px 0px 5px;
}
.twitter-feed i {
	margin:-35px 0;
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	-o-border-radius:50%;
	-ms-border-radius:50%;
	padding:10px;
	color:#FFFFFF;
}
.twitter-feed .owl-pagination,.twitter-feed .icon-twitter,.twitter-feed .tweet_time,.twitter-feed .username {
	display:none;
}
.twitter-feed .tweet_text {
	color:#FFFFFF;
	font-family:'Raleway',sans-serif;
	font-size:14px;
	font-weight:300;
	font-style:italic;
}
.twitter-feed .tweet_user a,.tweet_text a {
	text-decoration:underline;
}
.twitter-feed .tweet_user a,.tweet_text a,.twitter-feed .tweet_text,.username {
		color: #FFFFFF;
}
/* =========================== SUBSCRIBE SECTION ============================== */
#subscribe {
	background-image:url(../../img/bg/subscribe-bg.jpg);
	 background-attachment:fixed !important;
	 background-size:cover;
	-o-background-size:cover;
	-moz-background-size:cover;
	-webkit-background-size:cover;
	background-repeat:repeat;
	color:#ffffff;
}
.subscribe {
	position:relative;
}
.container.subscribe-inner {
	padding-top:60px;
	padding-bottom:80px;
}
.subscribe .title {
	color:#FFFFFF;
}
.form-control-lg {
	font-size:18px;
	height:60px;
	line-height:30px;
	padding:15px 25px;
}
.subscribe-form-submit {
	border-bottom-left-radius:0;
	border-top-left-radius:0;
	position:absolute;
	right:0;
	top:-1px;
	width:150px;
	color:#ffffff;
}
.form-horizontal .subscribe-form-input.has-feedback .form-control-feedback {
	right:150px;
	top:13px !important;
}
.btn-lg {
	padding:18px 25px;
}
.subscribe .form-control::-moz-placeholder {
	color:#b4c3d2 !important;
	opacity:0.98 !important;
	font-weight:300!important;
}
.subscribe .form-control::-webkit-input-placeholder {
		color:#b4c3d2 !important;
	opacity:1;
}
.subscribe .btn.bg-inverse:hover,.subscribe .btn.bg-inverse:focus {
	color:#ffffff;
	opacity: .8;
}
/* =========================== CONTACT US SECTION ============================== */
.contact {
	background:url(../../img/contact.jpg);
}
.container.contact-inner {
	padding-top:60px;
	padding-bottom:80px;
}
.contact .header {
	padding-bottom:15px;
}
.contact .form-control {
	 	background-image:url(../../img/pattern.png);
	background-color:rgba(0,0,0,.8);
	opacity:0.60;
	color:#ffffff !important;
	border:1px solid #000000;
	height:60px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-o-border-radius:3px;
	-ms-border-radius:3px;
}
.contact .form-message {
	color:#FFFFFF;
	padding:5px 0 10px;
	text-align:center;
}
.forms .error,.forms .error:focus {
	border:1px solid #d99898;
}
.contact textarea.form-control {
	height:200px;
}
.contact .btn {
	margin-top:5px;
}
.contact .form-horizontal .form-group {
	margin:5px 0px;
}
.contact .form-control::-moz-placeholder {
	color:#ffffff !important;
	opacity:0.98 !important;
}
.contact .form-control:focus {
	color:#ffffff !important;
	opacity:1 !important;
}
.contact .form-control::-webkit-input-placeholder {
		color:#ffffff !important;
	opacity:1;
}
.contact .btn {
	width:100%;
	height:60px;
	padding:16px 0px;
	color:#FFFFFF;
	font-size:18px;
	font-weight:normal;
	border:0px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-o-border-radius:3px;
	-ms-border-radius:3px;
}
.contact .btn i {
	margin:0 12px;
}
.contact .btn:hover {
	background-color:#FFFFFF !important;
}
.contact .btn:hover a,.contact .btn:focus a,.contact .btn a {
		color: #FFFFFF;
}
/* =========================== DOWNLOAD NOW ============================== */
.download-now {
		background-image:url(../../img/pattern.png);
	background-color:rgba(0,0,0,.8);
	position:relative;
}
.download-now .btn i {
	font-size:30px;
	margin-left:10px;
	margin-right:10px;
}
.download-now .slide-btn {
	font-size:20px;
	background-color:rgba(0,0,0,.3);
	border-color:rgba(0,0,0,.3);
}
.download-now .btn {
	margin:10px 10px;
	padding:20px 40px 20px 20px;
	font-size:20px;
	font-weight:300;
	text-transform:uppercase;
	color:#ffffff;
}
.download-now .btn.iphone {
	margin:0px 5px;
	padding:20px 20px 20px 40px;
}
.container.download-now-inner {
	padding-top:60px;
	padding-bottom:60px;
}
.iphone {
	color:#fff;
}
.iphone:hover,.btn.bg-color:hover {
	color:#fff;
		border-color:rgba(0,0,0,.1);
	background-color: rgba(0,0,0,.8);
}
/* =========================== FOOTER SECTION ============================== */
/* =========================== Social Media ===========================*/
.social-media {
	text-align:center;
	border-top:1px solid rgba(0,0,0,.3);
	padding-top:30px;
}
.social-media i {
	width:70px;
	height:70px;
	line-height:70px;
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	-o-border-radius:50%;
	-ms-border-radius:50%;
	margin:5px;
	font-size:20px;
	color:#ffffff;
	background-color:rgba(0,0,0,.3);
	border-color: rgba(0,0,0,.3);
}
/* =========================== Copyrights ============================== */
.copyright {
		background-image:url(../../img/pattern.png);
	background-color:rgba(0,0,0,.8);
	color:#FFFFFF;
	position:relative;
}
.copyright p,.copyright a {
	font-size:14px;
	padding-top:15px;
	font-weight:normal;
	color:#d9e2e9;
}
.copyright .copyright-social-icon i:hover,.copyright .copyright-social-icon i,.team .social-icon i,.team .social-icon i:hover,.contact .btn:hover,.contact .btn,.blog .btn,.pricing-more:hover,.pricing-more,.service-more:hover,.service-more,.blog-single .btn,.blog-single .btn:hover,.social-media i:hover,.social-media i,.app-icons i:hover,.app-icons i,.additional-features:hover i,.additional-features i,.pricing-box:hover,.pricing-box,.screen-img:hover,.screen-img,.team-box-inner .about-member,.team-box-inner:hover .about-member,.team-box-inner:hover img,.team-box-inner img,.welcome-section li:hover i,.welcome-section li i,header .is-sticky .navbar,header .navbar {
	transition:all 350ms ease-in-out 0s;
	-moz-transition:all 350ms ease-in-out 0s;
	-webkit-transition:all 350ms ease-in-out 0s;
	-o-transition:all 350ms ease-in-out 0s;
	-ms-transition:all 350ms ease-in-out 0s;
}
.pricing-box:hover,.screen-img:hover,.welcome-section li:hover i {
	transform:scale(1.1);
	-moz-transform:scale(1.1);
	-webkit-transform:scale(1.1);
	-o-transform:scale(1.1);
	-ms-transform: scale(1.1);
}
/* =========================== PAGES ============================== */
/* ------------- Blog ------------- */
.blog-outer {
	margin:20px 0 0;
	padding:45px 0 15px;
}
#blog-outer a {
	text-decoration:none !important;
}
.blog-outer .blog-inner {
	margin:30px 0px 45px;
	border:1px solid #CCCCCC;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-o-border-radius:3px;
	-ms-border-radius:3px;
	padding:10px 0px;
	box-shadow:0 0 0 4px #f0f0f0;
	-moz-box-shadow:0 0 0 4px #f0f0f0;
	-webkit-box-shadow:0 0 0 4px #f0f0f0;
}
.blog-outer .blog-inner img {
	padding-bottom:10px;
}
.blog-outer .blog-status ul {
	font-size:13px;
	list-style:none outside none;
	background:#f9f9f9;
	border-top:1px solid #f0f0f0;
	border-bottom:1px solid #f0f0f0;
	padding:10px 0px;
	margin-left:-15px;
	margin-right:-15px;
	text-align:right;
}
.blog-outer .blog-status .blog-date {
	padding:10px 0px;
}
.blog-outer .blog-status .blog-date .span-inner {
	font-size:16px;
}
.blog-outer .blog-status .blog-title {
	font-size:24px;
	border-left:1px solid #CCCCCC;
}
.blog-outer .blog-status li {
	display:inline;
	padding:0 20px;
}
.blog-outer .blog-status p {
	padding:10px 0 5px;
	line-height:26px;
	color:#717b82;
}
.blog-outer .blog-status i {
	margin:5px 8px;
}
.blog-outer .blog-social {
	padding:10px 0px 0px;
}
.blog-outer .blog-inner-bottom .social-title {
	padding:3px 0 0 0;
}
.blog-outer .blog-social i {
	font-size:20px;
	line-height:33px;
	margin:0 7px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
	-ms-border-radius:5px;
	background-color:#CCCCCC;
	color:#FFFFFF;
	width:33px;
	text-align:center;
	height:33px;
}
.blog-outer .btn a {
	color:#FFFFFF;
}
.blog-inner-bottom {
	border-top:1px solid #CCCCCC;
	padding:0px 8px;
}
.blog-outer .blog-social i:hover {
	color:#FFFFFF;
}
.blog-outer .blog-status .read-more:hover {
	text-decoration:underline;
}
.blog-outer .post-video iframe {
	width: 100%;
}
/* ------------- Blog Right Part Sidebar ------------- */
.blog-outer .sidebar {
	margin:30px 0px;
	padding:0px 0px 0px 20px;
}
.blog-outer .sidebar a {
	color: #666666;
}
/* Blog Search Box */
.blog-outer .sidebar .form-control {
	border-right:hidden !important;
	box-shadow:none;
	height:40px;
	background:none;
	border-radius:none;
}
.blog-outer .input-group .form-control,.blog-outer .input-group-addon {
	border-radius:0px;
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
	-o-border-radius:0px;
	-ms-border-radius:0px;
}
.blog-outer .sidebar .form-control:focus {
	border:1px solid #CCCCCC !important;
	border-right:hidden !important;
	box-shadow:none;
}
.blog-outer .form-control::-moz-placeholder {
	color:#999999 !important;
	background-color:none;
}
.blog-outer .input-group-addon {
	background:none;
	border-left: hidden;
}
/* Sidebar Social */
.sidebar-social {
	padding:40px 0px 10px;
}
.sidebar-social ul {
	padding-left:0px;
}
.sidebar-social span {
	display:inline-block;
	padding:0 9px 6px;
}
.sidebar-social li {
	border:1px solid #CCCCCC;
	margin:13px 0px;
	list-style-type:none;
	box-shadow:0 0 0 4px #f0f0f0;
	-moz-box-shadow:0 0 0 4px #f0f0f0;
	-webkit-box-shadow:0 0 0 4px #f0f0f0;
}
.sidebar-social li a i {
	float:right;
	color:#999;
	font-size:15px;
	line-height:25px;
}
.sidebar-social li i {
	font-size:25px;
	padding:8px 0px;
	margin-right:5px;
	text-align:center;
	width:43px;
	height:43px;
	color:#FFFFFF;
	display:inline-block;
}
.fa-twitter {
	background-color:#54c8f9;
}
.fa-facebook {

}
.fa-linkedin {
	background-color:#2d95d2;
}
.fa-google-plus {

}
.fa-pinterest {
	background-color: #d94134;
}
/* Sidebar Facebook */
.sidebar-facebook {
	margin:30px 0px;
	padding:10px 0px 10px;
	border:1px solid #CCCCCC;
	box-shadow:0 0 0 4px #f0f0f0;
	-moz-box-shadow:0 0 0 4px #f0f0f0;
	-webkit-box-shadow:0 0 0 4px #f0f0f0;
}
.sidebar-facebook .facebook-inner {
	padding:15px 24px 25px;
}
.sidebar-facebook h4 {
	padding:0 10px;
}
.sidebar-facebook ul {
	padding-left:0px;
	margin:15px 5px;
	border-top:1px solid #CCCCCC;
	border-bottom:1px solid #CCCCCC;
}
.sidebar-facebook li {
	margin:5px 2px;
	display:inline-block;
	list-style-type:none;
}
.sidebar-facebook .fa-facebook {
	background-color:#3f61a9;
}
.sidebar-facebook i {
	font-size:18px;
	padding:3px 0px;
	margin:0 10px;
	text-align:center;
	width:20px;
	height:20px;
	color: #FFFFFF;
}
/* Twitter Sidebar */
.sidebar .twitter-feed {
	background-color:#FFFFFF !important;
	padding:10px 0px 5px;
	position:relative;
	border:1px solid #CCCCCC;
	box-shadow:0 0 0 4px #f0f0f0;
	-moz-box-shadow:0 0 0 4px #f0f0f0;
	-webkit-box-shadow:0 0 0 4px #f0f0f0;
}
.sidebar .twitter-feed i {
	text-align:center;
	background-color:#FFFFFF !important;
	margin:0 auto;
	color:#3498db;
}
.sidebar .tweet {
	padding:5px 0px;
}
.sidebar .twitter-feed .owl-buttons {
	display:inherit;
}
.sidebar .owl-theme .owl-controls .owl-buttons div:before {
	font-size:12px;
	line-height:32px;
	color:#000000;
	width:20px;
}
.sidebar .owl-buttons .owl-next {
	right:41%;
}
.sidebar .owl-buttons .owl-prev {
	left:41%;
}
.sidebar .owl-carousel .owl-item {
	padding:10px 20px;
}
.sidebar .owl-theme .owl-controls {
	margin-top:0px;
}
.sidebar .owl-theme .owl-controls .owl-buttons div {
	position:absolute;
	top:-22px;
	padding:0px;
}
.sidebar .owl-theme .owl-controls .owl-buttons .owl-prev,.sidebar .owl-theme .owl-controls .owl-buttons .owl-next {
	color:#000000 !important;
	height:35px;
	width:30px;
}
.sidebar .twitter-feed .tweet_text,.sidebar .username {
	font-size:12px;
	font-weight:500;
	color:#666666;
	font-style:italic;
}
/* Blog Categories */	.blog-outer .categories {
	margin:30px 0px;
}
.blog-outer .categories ul {
	list-style:none outside none;
	padding:10px 0px;
	text-align:left;
}
.blog-outer .categories li {
	padding:10px 0 10px 5px;
	transition:all 0.6s ease 0s;
}
.blog-outer .categories li:hover {
	background:#f3f3f3;
	transition:all 0.6s ease 0s;
}
.blog-outer .categories i {
	float: right;
}
/* Blog Tags */
.blog-outer .tags {
	margin:40px 0;
}
.blog-outer .tags ul {
	padding-left:0px;
}
.blog-outer .tags li {
	display:inline-block;
	margin:2px;
	padding:5px 7px;
	border:1px solid;
	transition:all 0.4s ease 0s;
}
.blog-outer .tags li:hover {
	background:#CCCCCC;
	transition:all 0.4s ease 0s;
}
.blog-outer .tags li:hover a {
	color:#FFFFFF !important;
}
.blog-outer .tags h4,.blog-outer .categories h4,.blog-outer .recent-comments h4,.blog-outer .archives h4 {
	border-bottom:1px solid #d9e1f0;
	font-size:18px;
	font-weight:700;
	margin:0 0 8px;
	padding: 0 0 10px;
}
/* Blog Recent Comments and Archives */
.blog-outer .recent-comments {
	margin:50px 0;
}
.blog-outer .sidebar .recent-comments p,.blog-outer .sidebar .archives p {
	padding:15px 0px;
	margin:0px;
	line-height:26px;
	border-bottom:1px dashed #CCCCCC;
	font-size:14px;
}
.blog-outer .archives p i {
	float:right;
	font-size: 15px;
}
/* ------------- Blog Single Page ------------- */
blockquote {
	border-left:0;
}
.blog-single blockquote {
	border-left:5px solid;
	margin:50px 0px;
	padding:30px 20px;
	font-size:13px;
}
.blog-single blockquote img {
	float:left;
	margin:-20px 20px 0 0;
}
.blog-single blockquote h3 {
	margin:5px 0px;
}
.blog-single .blog-status p {
	padding:10px 0px 5px;
}
.blog-single .form-section {
	padding:20px 0px;
}
.blog-single .btn:hover {
	background-color:#CCCCCC;
}
.blog-single blockquote .author-name {
	color:#26455F;
	font-size:16px;
	font-weight:bold;
	margin-bottom:0;
	padding:0;
	position: relative;
}
/* Comments */
.comments {
	padding:20px 0px;
}
.image-circle {
	border-radius:500px;
	-moz-border-radius:500px;
	-webkit-border-radius:500px;
	-khtml-border-radius:500px;
	-ms-border-radius:500px;
	-o-border-radius:500px;
}
.comment-wrap {
	background-color:#f6f6f6;
	display:block;
	margin:30px 0px;
	padding:25px 29px;
	position:relative;
}
.comment-reply {
	margin-left:30px;
	border-left:5px solid;
}
.comment-wrap .image-holder {
	float:left;
	margin-right:16px;
	position:relative;
	width:61px;
	z-index:30;
}
.comment-wrap .name {
	font-size:16px;
	font-weight:bold;
	margin-bottom:0;
	padding:0;
	position:relative;
}
.comment-wrap .date {
	font-size:12px;
	font-weight:300;
	padding:0 0 10px;
}
.comment-wrap .message {
	font-size:14px;
}
.comment-wrap i {
	padding: 0px 8px;
}
/* ------------- Blog Single Contact Form ------------- */
.blog-single .form-control {
	border:0px;
	height:40px;
	border-radius:0px;
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
	-o-border-radius:0px;
	-ms-border-radius:0px;
	border:1px solid #CCCCCC;
	box-shadow:none;
}
.blog-single textarea.form-control {
	height:130px;
}
.blog-single .form-control:focus {
	border:1px solid #CCCCCC !important;
}
.blog-single .form-horizontal .form-group {
	margin:20px 0px;
}
.blog-single .btn {
	width:130px;
	background-color:#000000;
	padding:7px 10px;
	font-size:16px;
	margin-top:0px;
	color:#ffffff;
	font-weight:normal;
	height:40px;
	border:0px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-o-border-radius:3px;
	-ms-border-radius:3px;
}
.blog-single .btn:hover {
	color: #FFFFFF;
}
/* ------------- Blog Grid ------------- */
.grid-posts {
	margin:10px 0px;
	padding:0 15px;
	width:33.3%;
}
.blog-grid .blog-status li {
	padding:0 5px;
}
.blog-grid .blog-status ul {
	text-align:center;
	margin-left:-15px;
	margin-right:-15px;
}
.blog-grid .blog-inner {
	padding:10px 0px;
	margin:0px !important;
}
.blog-grid .embed-container,.blog-timeline .embed-container {
		position:relative;
	padding-bottom:56.25%;
		overflow:hidden;
		max-width:100%;
		height:225px;
}
.blog-grid .embed-container iframe,.blog-grid .embed-container object,.blog-grid .embed-container embed,.blog-timeline .embed-container iframe,.blog-timeline .embed-container object,.blog-timeline .embed-container embed {
		position:absolute;
		top:0;
		left:0;
	width:100%;
		height:100%;
}
.blog-grid .social-title i,.blog-timeline .social-title i {
	margin:5px 7px;
	text-align:left;
}
.blog-grid .flexslider,.blog-timeline .flexslider {
	background:none !important;
	border:0px;
	border-radius:0px;
	box-shadow:none;
}
.blog-grid .blog-status .flexslider ul {
	border:0px;
	background:none;
	padding:0px 10px;
}
.blog-grid .flex-direction-nav-on-top .flex-direction-nav {
	right:16px;
}
.blog-grid .blog-social i,.blog-timeline .blog-social i {
	margin:0 4px;
}
.blog-grid .blog-social,.blog-timeline .blog-social {
	padding: 10px 4px 0;
}
/* ------------- Blog Timeline ------------- */
.blog-timeline .flex-direction-nav-on-top .flex-direction-nav {
	right:16px;
}
.blog-timeline-event .slides li {
	padding:0 10px !important;
}
.blog-timeline .blog-status .flexslider ul {
	border:0px;
	background:none;
	padding:0 5px;
}
.timeline-title {
	display:block;
	margin:10px auto;
	text-align:center;
}
.timeline-title2 {
	display:block;
	margin:40px auto 11px;
	text-align:center;
}
.timeline-title span,.timeline-title2 span {
	border-radius:3px;
	color:#fff;
	padding:8px 15px;
}
.blog-timeline .blog-inner {
	box-shadow:0 0 0 4px #dddddd;
}
.blog-timeline-left {
	border-right:5px solid #ddd;
}
.blog-timeline-event-left {
	position:relative;
	width:97%;
	padding:0 20px;
}
.blog-timeline-event-left:before {
	margin-left:-12px;
	right:-44px;
}
.blog-timeline-event-left:before {
	margin-left:-12px;
	right:-41px;
}
.blog-timeline-event-left:before {
	border:4px solid #ddd;
	border-radius:50px;
	content:"";
	height:20px;
	margin-left:-12px;
	position:absolute;
	right:-45px;
	top:13px;
	width:20px;
	z-index:10;
}
.blog-timeline-event-left:after {
	border-color:transparent transparent transparent #dddddd;
	border-width:14px 0 14px 20px;
	right:0px;
}
.blog-timeline-event:after {
	border-style:solid;
	content:"";
	height:0;
	position:absolute;
	top:9px;
	width: 0;
}
/* Timeline Right */
.blog-timeline-right {
	padding-top:100px;
}
.blog-timeline-event-right {
	margin-left:3%;
	padding:0px 20px;
	position:relative;
	width:97%;
}
.blog-timeline-event-right:before {
	left:-32px;
	margin-left:-12px;
}
.blog-timeline-event-right:before {
	left:-29px;
	margin-left:-12px;
}
.blog-timeline-event-right:before {
	border:4px solid #ddd;
	border-radius:50px;
	content:"";
	height:20px;
	left:-34px;
	margin-left:-12px;
	position:absolute;
	top:13px;
	width:20px;
	z-index:10;
}
.blog-timeline-event-right:after {
	border-color:transparent #dddddd transparent transparent;
	border-width:14px 20px 14px 0;
	left:0px;
}
.blog-timeline-event:after {
	border-style:solid;
	content:"";
	height:0;
	position:absolute;
	top:9px;
	width: 0;
}
/* Pagination */
.pagination {
	display:block;
	margin:0px auto;
	text-align:center;
}
.pagination ul {
	display:inline-block;
	margin:20px auto;
	padding:0;
}
.pagination ul>li {
	display:inline;
}
.pagination ul>li>a,.pagination ul>li>span {
	color:#555555;
	float:left;
	line-height:24px;
	padding:3px 12px 6px;
	text-decoration:none;
	-moz-transition:background-color 0.2s linear 0s,color 0.2s linear 0s;
	-webkit-transition:background-color 0.2s linear 0s,color 0.2s linear 0s;
	-khtml-transition:background-color 0.2s linear 0s,color 0.2s linear 0s;
	-o-transition:background-color 0.2s linear 0s,color 0.2s linear 0s;
	-ms-transition:background-color 0.2s linear 0s,color 0.2s linear 0s;
	transition:background-color 0.2s linear 0s,color 0.2s linear 0s;
}
.pagination ul>.disabled>span,.pagination ul>.disabled>a,.pagination ul>.disabled>a:hover,.pagination ul>.disabled>a:focus {
	border-radius:0;
	color:#FFFFFF;
}
.pagination ul>.active>a,.pagination ul>.active>a:hover,.pagination ul>.active>a:focus,.pagination ul>.active>span {
	background-color:#666666 !important;
	color:#FFFFFF;
	cursor:default;
}
.pagination ul>li>a,.pagination ul>li>span {
	color:#FFFFFF;
}
.pagination ul>li>a:hover,.pagination ul>li>a:focus {
	background-color: #BBBBBB !important;
}
/* -------------- PORTFOLIO ------------------ */
#portfolio {
	background:#f2f6fa;
	padding-bottom:80px;
	border-bottom:2px solid #dce0e3;
	overflow-x:hidden;
}
.container.work-inner {
	padding-top:60px;
	padding-bottom:20px;
}
.work {
		padding:0;
}
.effects .work-image {
	margin-bottom:3px;
		box-shadow:-2px -0.4px 0px 1px #f2f6fa;
	-moz-box-shadow:-2px -0.4px 0px 1px #f2f6fa;
	-webkit-box-shadow:-2px -0.4px 0px 1px #f2f6fa;
	-o-box-shadow:-2px -0.4px 0px 1px #f2f6fa;
	-ms-box-shadow:-2px -0.4px 0px 1px #f2f6fa;
	position:relative;
}
.work-image img {
	width:100%;
	height:100%;
}
.portfolio-items .mix {
	display: none;
}
/* ------------- FAQ ------------- */
.faq {
	margin-top:60px;
	padding-bottom:90px;
}
.faq h3 {
	padding:0 0 10px 0;
}
.faq .panel-group {
	margin:10px 0px;
}
.faq .panel-group .panel {
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	-o-border-radius:2px;
	-ms-border-radius:2px;
	margin:3px 0px;
}
.faq .panel-heading {
	padding:15px;
	background:none;
}
.faq .panel-default {
	border-color:#CCCCCC;
}
.faq .panel-title a {
	text-transform:capitalize;
	line-height: 25px;
}
/* Faq Left Part */
.faq .left-part .panel-group .panel {
	border:0px;
	box-shadow:none;
}
.faq .left-part .faq-panel .accordion-toggle:before {
	padding:4px 6px;
	margin-left:-12px;
	content:"\f068";
	color:#FFFFFF;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-o-border-radius:3px;
	-ms-border-radius:3px;
	font-family:"fontawesome";
	transition:all ease 0.6s;
}
.faq .left-part .faq-panel .accordion-toggle.collapsed:before {
	content:"\f067";
}
.faq .left-part .panel-body {
	background:none;
	color:#1f1f1f;
	line-height:26px;
	padding:10px 25px 10px 35px;
}
.faq .left-part .panel-title h4 {
	margin-left:10px;
}
.faq .right-part .panel-body {
	padding:10px 25px 10px 15px;
	line-height:26px;
}
.faq-copy {
	padding:20px 0px 10px;
	box-shadow: 0px 1px 4px rgba(0,0,0,0.1);
}
/* ------------- Shortcodes ------------- */
#header-top #top-section-sticky-wrapper.is-sticky .top-container {
	padding:5px 55px 10px;
}
#header-top .title-row {
	margin-left:0px;
	margin-right:0px;
}
#header-top {
	background-color:#FFFFFF;
}
#header-top .top-container {
	padding:15px 10px;
}
.shortcodes {
	margin-top:50px;
	margin-bottom:50px;
}
.shortcodes .tab-menu {
	padding:30px 8px;
}
.shortcodes .tab-menu i {
	margin-right:5px;
	font-size:15px;
}
.shortcodes .tab-menu a {
	color:#1f1f1f;
}
.shortcodes .tab-menu a:hover {
	background:none;
}
.shortcodes .tab-menu p {
	padding:20px 20px;
	line-height:26px;
}
.shortcodes .tab-menu h4 {
	padding:0px 10px;
}
.shortcodes .tab-content {
	border:1px solid #ccc;
	border-top:none;
	margin:0px 10px;
}
.shortcodes ul {
		padding-top:10px;
	margin:0px 10px;
}
.shortcodes .nav-tabs>li.active>a,.shortcodes .nav-tabs>li.active>a:hover,.shortcodes .nav-tabs>li.active>a:focus {
	background-color:#FFFFFF;
	border-color:#CCC #CCC rgba(0,0,0,0);
	border-image:none;
	border-style:solid;
	border-width:1px;
	border-radius:0px;
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
	-o-border-radius:0px;
	-ms-border-radius:0px;
	font-weight:500;
	cursor:default;
}
.shortcodes .nav-tabs>li.active>a:focus {
	border-top:2px solid;
}
.shortcodes .nav-tabs>li.active>a {
	border-top:2px solid;
}
.shortcodes .nav-tabs {
	border-bottom: 1px solid #ccc;
}
/* Shortcode Accordion */
.shortcodes .accordion h4 {
	font-weight:500;
	text-transform:capitalize;
}
.shortcodes .accordion .panel-title,.shortcodes .accordion .panel-body {
	font-size:15px;
}
.shortcodes .short-code .accordion-toggle:before {
	padding:4px 6px;
	margin-left:-12px;
	content:"\f068";
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-o-border-radius:3px;
	-ms-border-radius:3px;
	font-family:"fontawesome";
	transition:all ease 0.6s;
}
.shortcodes .short-code .accordion-toggle.collapsed:before {
	content:"\f067";
}
.shortcodes .accordion {
	padding:10px 5px;
}
.shortcodes .panel-body {
	padding:10px 25px 10px 15px;
	line-height:26px;
}
.shortcodes .panel-default .panel-heading {
	background-color:#f3f3f3;
	border-color:#DDDDDD;
	color:#000000;
}
.shortcodes .panel-heading {
	padding:13px 15px;
}
.shortcodes .panel-group .panel {
	box-shadow:none;
}
.shortcodes .accordion .accordion-inner {
	padding: 13px 5px;
}
/* Buttons */
.shortcodes .button-inner {
	padding:20px 0px;
}
.shortcodes .progressbar h4 {
	padding:20px 0px;
}
.shortcodes .progressbar .progress {
	background-color:#F5F5F5;
	border-radius:0px;
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
	-o-border-radius:0px;
	-ms-border-radius:0px;
	box-shadow:0 1px 2px rgba(0,0,0,0.1) inset;
	height:25px;
	margin-bottom:30px;
	overflow:hidden;
}
.shortcodes .progressbar .progress span {
	font-size:14px;
	float:right;
	font-weight:bold;
}
.shortcodes .panels h4 {
	padding:20px 0px;
}
/* Testimonials */	.shortcodes .testimonial h4 {
	padding:20px 0px;
}
.shortcodes .testimonial .testimonial-inner .testimonial-content:before {
	content:"\f10d";
	font-size:18px;
	font-weight:300;
	font-family:"fontawesome";
	left:7px;
	opacity:0.5;
	position:absolute;
	top:0px;
}
.shortcodes .testimonial .testimonial-inner .testimonial-content:after {
	bottom:-13px;
	content:"\f0d7";
	display:block;
	font-family:"fontawesome";
	font-size:2em;
	height:8px;
	left:33px;
	line-height:0;
	position:absolute;
	text-shadow:0 2px 0 #EEEEEE;
}
.shortcodes .testimonial .testimonial-inner .testimonial-content {
	background:#f3f3f3;
	border:1px solid #E8E8E8;
	border-bottom:2px solid;
	border-radius:0px;
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
	-o-border-radius:0px;
	-ms-border-radius:0px;
	box-shadow:0 0 20px rgba(0,0,0,0.04) inset;
	margin:0 0px 10px;
	padding:30px 25px 15px;
	line-height:26px;
	position:relative;
	transition:all 0.3s linear 0s;
}
.shortcodes .testimonial .testimonial-inner .testimonial-content:hover {
	color:#fff;
	border-bottom:2px solid;
	transition:all 0.3s linear 0s;
}
.shortcodes .testimonial .testimonial-inner .testimonial-content img {
	float:left;
	padding-top:25px;
	border:2px solid #fff;
}
.shortcodes .testimonial .testimonial-inner .testimonial-author {
	margin-left:10px;
	text-align:left;
}
.shortcodes .testimonial .testimonial-inner .testimonial-author span {
	font-weight:600;
}
.shortcodes .testimonial .testimonial-inner,.shortcodes .testimonial .testimonial2-inner {
	margin-top: 10px;
}
/* Testimonial2 Inner */
.shortcodes .testimonial .testimonial2-inner .testimonial-content:after {
	bottom:-13px;
	content:"\f0d7";
	display:block;
	font-family:"fontawesome";
	font-size:2em;
	height:8px;
	left:33px;
	line-height:0;
	position:absolute;
	text-shadow:0 2px 0 #EEEEEE;
}
.shortcodes .testimonial .testimonial2-inner .testimonial-content {
	background:#f3f3f3;
	border:1px solid #E8E8E8;
	border-bottom:2px solid;
	border-radius:0px;
	box-shadow:0 0 20px rgba(0,0,0,0.04) inset;
	margin:0 0px 10px;
	padding:5px 15px 5px;
	position:relative;
	transition:all 0.3s linear 0s;
}
.shortcodes .testimonial .testimonial2-inner .testimonial-content:hover {
	color:#fff;
	border-bottom:2px solid;
	transition:all 0.3s linear 0s;
}
.shortcodes .testimonial .testimonial2-inner .testimonial-content img {
	float:left;
	margin:20px 15px 20px 0;
	border:2px solid #fff;
}
.shortcodes .testimonial .testimonial2-inner .testimonial-content p {
	text-align:center;
	padding:15px;
	line-height:26px;
}
	.shortcodes .testimonial .testimonial2-inner .testimonial-author {
	margin-left:10px;
	text-align:left;
}
.shortcodes .testimonial .testimonial2-inner .testimonial-author span {
	font-weight:600;
}
/* Testimonials 3 */	.shortcodes .testimonial3-inner .carousel h4 {
	color:#666;
	text-align:center;
	padding:0px;
}
.shortcodes .testimonial3-inner .carousel h5 {
	color:#666;
	text-align:center;
}
.shortcodes .testimonial3-inner .carousel-indicators {
	bottom:60px;
}
.shortcodes .testimonial3-inner .carousel-indicators li {
	margin:0px;
	height:15px;
	width:15px;
	border:2px solid #CCC;
	background-color:#CCCCCC;
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	-o-border-radius:50%;
	-ms-border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	-o-border-radius:50%;
	-ms-border-radius:50%;
}
.shortcodes .testimonial3-inner .item-descripion {
	text-align:center;
	color:#666;
	padding:40px 30px 20px;
	line-height:26px;
}
.shortcodes .testimonial3-inner .item-img {
	float:left;
	text-align:center;
	padding:30px 30px;
	margin:0px 20px;
}
.shortcodes .testimonial3-inner img {
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	-o-border-radius:50%;
	-ms-border-radius:50%;
}
.shortcodes .testimonial3-inner .carousel-inner p:before {
	content:"\f10d";
	color:#666;
	font-family:"fontawesome";
	font-size:18px;
	font-weight:300;
	left:-10px;
	opacity:0.5;
	position:relative;
	top:0;
}
.shortcodes .shortcode-title {
	padding: 20px;
}
/* Fun Facts */
.shortcodes .fact-top {
	padding:30px 0px 0px;
}
.shortcodes .fact-margin {
	margin-bottom:10px;
	margin-top: 20px;
}
/* Skills */
.shortcodes .skill {
	background:none;
}
.shortcodes .skill .shortcode-title {
	padding:0px 10px 20px;
}
.shortcodes .skill h3 {
	color:#000;
	font-weight:500;
}
.shortcodes .skills-inner h3 {
	padding:20px 0px;
}
.shortcodes .piechart {
	margin: 0px;
}
/* Carousel */
.shortcodes .carousel h4 {
	padding:20px 0px;
}
.shortcodes .carousel img {
	border:4px solid #CCC;
}
.shortcodes .carousel .carousel slide .carousel-control.right {
	background-image:none;
	background-repeat:repeat-x;
	left:auto;
	right:0;
}
.shortcodes .carousel .carousel slide .carousel-control.left {
	background-image:none;
	background-repeat:repeat-x;
}
.shortcodes .carousel .carousel-content {
	margin-top:-20px;
	text-align:left;
	padding:15px;
}
.shortcodes .carousel .carousel-content a {
	margin:20px 0px;
}
.shortcodes .carousel .carousel-indicators {
	bottom:20px;
}
.shortcodes .carousel-indicators li {
	background:none repeat scroll 0 0 #CCC;
	border:2px solid;
	border-radius:0px;
	height:15px;
	margin:0;
	width:15px;
}
.shortcodes .carousel-indicators li.active {
	border-color:#CCCCCC;
}
.shortcodes .carousel .carousel-content p {
	text-align:justify;
	line-height:26px;
}
.shortcodes .carousel .carousel-content a {
	padding:8px;
	color:#FFF;
	text-transform:uppercase;
}
.shortcodes .carousel .carousel-content h4 {
	padding: 5px 0px 0px 0px;
}
/* Alert */
.shortcodes .alert {
	padding-top:20px;
	margin-top:15px;
}
.shortcodes .alert .alert-top {
	padding: 20px auto 10px;
}
/* Dark */
.dark-bg {
	background-color:#5a6f84;
}
.dark {
	color:#777777;
}
.dark h2 {
	color:#ffffff !important;
}
.dark .desc {
	color:#777777;
}
.dark i {
	color:#777777;
}
.white {
	color:#FFFFFF!important;
}
/*------------ispeak---------*/
.transition{
	-webkit-transition:all 0.5s;
	-moz-transition:all 0.5s;
	-o-transition:all 0.5s;
	transition:all 0.5s;
}
.main-logo{
	margin-bottom: 30px;
}
h1.logo{
	padding-top: 5px;
	text-align: left;
}
h1.logo span{
	font-size: 14px;
	font-weight: normal;
	background: #1da7e1;
	padding: 3px 10px;
	text-transform: none;
	border-radius: 3px;
    vertical-align: middle;
}
.text-blue{
	color: #1199d3;
}
.text-white{
	color: #fff;
}
.main-title-section h2{
	font-weight: bold;
}

.bg-red{
	background: #e1313d;
}
.bg-blue{
	background:#008dd5;
}
.box{
	background: #fff;
	padding: 15px;
	/*-webkit-box-shadow: 0px 6px 37px -8px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 6px 37px -8px rgba(0,0,0,0.15);
	box-shadow: 0px 6px 37px -8px rgba(0,0,0,0.15);*/
}
.box .col-md-3.ispeak-box-link{
	padding-left: 15px;
	padding-right: 0px;
}
.box .ispeak-link-img{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: block;
}
.box .ispeak-link-img span{
	position: absolute;
    width: 100%;
    height: 60px; 
    display: block;
    top: 50%;
    left: 0px;
    text-align: center;
    color: #fff;
    /* padding-top: 40%; */
    margin-top: -30px;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 0 0 3px #fff;
}
.box .ispeak-link-img span.icons{
	padding-left: 20%;
}
.box .ispeak-link-img span.icons i{
	width: 50px;
    height: 50px;
    position: absolute;
    border-radius: 50%;
    border: 2px solid #fff;
    text-align: center;
    line-height: 50px;
    padding-left: 7px;
    left: 18%;
    top: 50%;
    margin-top: -25px;
}
.box .ispeak-link-img:hover span{
	background-color: none;
}
.box .ispeak-login{
	position: relative;
}

.box .ispeak-login h1, h1.ispeak-title{
	font-size: 18px;
	font-weight: bold;
	color: #008dd5;
	margin-top: 0px;
	text-transform: uppercase;
}
.box .ispeak-login hr{
	margin-top: 10px;
	margin-bottom: 10px;
}
.box .ispeak-login hr.legend, .step-text hr.legend{
	width: 50px;
	height: 3px;
	background: #008dd5;
	margin-left: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.step-to-learn{
	padding: 4%;
}
.row-timeline{
    width: 100%;
    position: relative;
    display: block;
    border-left: 1px solid #e2ebef;
    float: left;
    padding-top: 15px;
    padding-bottom: 15px;
    transition: all .5s ease-in-out;
}
.row-timeline:first-child{
	padding-top: 0px;
}
.row-timeline:last-child{
	padding-bottom: 0px;
}
.ispeak-timeline{
	margin-top: 20px;
}
.textbox-wrap .form-control{
	border-radius: 0px;
	box-shadow:0px;
	margin-bottom: 10px;
}
.forgot-pass a{
	font-size: 13px;
	line-height: 30px;
}
.ispeak-login .blue-btn{
	background: #008dd5;
	border-radius: 0px;
	padding: 7px 15px;
	border: 1px solid #008dd5;
}
.ispeak-login .blue-btn:hover{
	background: #086a9c;
	border: 1px solid #086a9c;
}
.hrseparate{
	 margin-top: 20px;
    width: 100%;
    height: 1px;
    background: #ccc;
    text-align: center;
    font-size: 13px;
    position: relative;
    padding-top: -10px;
    display: block;
}
.hrseparate span{
	    padding: 3px 5px;
    background: #fff;
    top: -10px;
    position: absolute;
    width: 160px;
    left: 20%;
}
.azm-btn {
    height: 40px;
    padding: 10px 10px;
    font-size: 13px;
    line-height: 18px;
    font-weight: 300;
    border-radius: 0px;
    color: #fff;
    width: 48%;
}
.social-login{
	margin-top: 15px;
	position: relative;
	overflow: hidden;
}
.azm-facebook {
    background: #4862a3;
}
.azm-google-plus {
    background:#ef6565;
}

.azm-btn i {
    padding-right: 27px;
    font-size: 21px;
    line-height: 21px;
    vertical-align: top;
}
.text-register{
	font-size: 13px;
	text-align: center;
}
.text-register p{
    margin-bottom: 0px;
    line-height: 19px;
}
.title-ispeak, .title-ispeak-nobottom{
	width: 100%;
	text-align: center;
	position: relative;
	padding-bottom: 10px;
}
.title-ispeak h2 ,.title-ispeak-nobottom h2{
	margin-top: 0px;
	font-size: 22px;
	color: #008dd5;
	font-weight: bold;
	text-shadow: 0 0 3px #fff;
	text-transform: uppercase;
}
.title-ispeak-nobottom h1{
	color: #fff;
}
.skills-inner{
	padding-top: 45px;
	padding-bottom: 10px;
}
.title-ispeak:after{
	content: '';
	width: 48px;
	height: 3px;
	background: #008dd5;
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	bottom: 0px;
}
.group-service {
    padding: 25px 15px;
    text-align: center;
    /*background: #f5f7f8;*/
    background: #ebf0f3;
    margin-bottom: 15px;
    transition: all .3s ease-in-out;
}
.group-service:hover{
	background: rgba(0, 141, 213, 0.73);
}
.group-service:hover a, .group-service:hover p, .group-service:hover span{
	color: #fff;
}
.ispeak-main-services{
	position: relative;
	overflow: hidden;
	margin-top: 30px;
	margin-bottom: 30px;
}
.group-service .icon-service{
	min-height: 140px;
    position: relative;
    vertical-align: middle;
    text-align: center;
    line-height: 130px;
}
.group-service .icon-service img{
	vertical-align: middle;
	transition: all .3s ease-in-out; 
}
.group-service:hover .icon-service img{
	transform: scale(1.1);
}
.group-service .title-link{
	font-size: 18px;
	color: #333333;
	font-weight: bold;
	min-height: 70px;
}
.group-service .content{
	color: #333;
	font-size: 13px;
	line-height: 15px;
	min-height: 140px;
}
.ispeak-timeline .col-md-12{
	padding-right: 0px;
}
.row-timeline img{
    transition: all .3s ease-in-out;
}
.row-timeline:hover img{
    transform: scale(1.1);
}
.timeline-number{
    position: relative;
    height: 100%;
    min-height: 85px;
    width: 5%;
    margin-left: -4%;
}
.timeline-number .number{
    height: 25px;
    width: 25px;
    margin-left: -13px;
    text-align: center;
    border-radius: 50%;
    background: #008dd5;
    border: 2px solid #fff;
    line-height: 20px;
    color: #fff;
    position: absolute;
    top: 30%;
}
.left-timeline{
	width: 95%;
}
.icon-timeline{
    float: left;
    width: 21%;
}
.timeline-text{
	float: left;
	width: 79%;
	padding-left: 5%;
}
.timeline-text .timeline-title{
	font-size: 15px;
	text-align: left;
	font-weight: bold;
	line-height: 23px;
}
.timeline-text .timeline-content{
	text-align: left;
	font-size: 13px;
	margin-bottom: 0px;
}
.icon-click.normal{
	display: inline-block;
	height: 40px;
	width: 40px;
	background: url('../../img/icon/click-icon.png') no-repeat;
	background-size: 100% 100%;
	vertical-align: middle;
	margin-right: 10px;
}
.icon-box-image img{
	-webkit-transition: -webkit-transform 2s ease-in-out;
  transition: transform 2s ease-in-out;
}
.icon-box:hover img{
	-webkit-transform: rotate(360deg);
  	transform: rotate(360deg);
}
.btn-ispeak{
	padding: 7px 45px;
	border-radius: 45px;
	line-height: 40px;
	font-size: 25px;
	font-family: 'Noto Serif', serif;
	background-color: #da2b2b!important;
	-webkit-box-shadow: 0px 11px 53px -11px rgba(218,43,43,1);
	-moz-box-shadow: 0px 11px 53px -11px rgba(218,43,43,1);
	box-shadow: 0px 11px 53px -11px rgba(218,43,43,1);
}
.btn-ispeak:hover{
	background-color: #1da7e1!important;
	color: #fff;
	border: 1px solid #1da7e1;
}
h1.ispeak-header-h1{
	color: #94771e;
	font-size: 27px;
	padding-top: 0px;
	margin-top: 10px;
	font-weight: normal;
	text-transform: none;
}

.adv-price h1.price-header{
	font-size: 50px;
	padding-top: 0px;
	text-align: center;
	color:#e41235;
	text-transform: none;
	font-weight: bold;
}
.adv-price h1.price-header span{
	color: #94771e;
	font-size: 25px;
	font-weight: normal;
	border-top:1px solid #94771e;
	border-bottom:1px solid #94771e;
	vertical-align: top;
    margin-top: 10px;
    line-height: 60px;
}
.promotion-section{
	background: #f9f8f4;
	margin-bottom: -45px;
}
.box.promotion-program{
	display: block;
	margin-top: -105px;
	margin-bottom: 50px;
	z-index: 999;
}
.promotion-text h1{
	font-size: 35px;
	font-weight: bold;
	margin-top: 5px;
	color: #da2b2b;
}
.promotion-text .btn{
	color: #fff;
}
ul.list-promotion{
	list-style: none;
	position: relative;
	margin-top: 20px;
	display: block;
}
ul.list-promotion li:before{
	content: "";
	background: url('../../img/icon/list-promotion.png');
	height: 22px;
	width: 22px;
    position: absolute;
    left: 10px;
}
ul.list-promotion li{
	vertical-align: text-top;
	margin-top: 15px;
	margin-bottom: 15px;
}
.promotion-features{
	position: relative;
	margin-top: 50px;
	margin-bottom: 50px;
}
.icon-box-text h1{
	font-size: 23px;
    font-weight: bold;
    line-height: 30px;
    min-height: 60px;
}
.icon-box-text span{
	font-size: 14px;
}

/*----------skills section------*/
.skills-section{
	padding-top: 25px;
	padding-bottom: 25px;
}
.container-skills{
	width: 60%;
	margin: 0 auto;
}
.detail-skill-icon{
	color: #fff;
	-webkit-transition: background-color 500ms ease-out 1s;
    -moz-transition: background-color 500ms ease-out 1s;
    -o-transition: background-color 500ms ease-out 1s;
    transition: background-color 500ms ease-out 1s;
}
.icon-skill{
    width: 69px;
    height: 69px;
    border-radius: 50%;
    border: 2px solid #fff;
    display:block;
    font-size: 40px;
    text-align: center;
    float: left;
    line-height: 67px;
}
.skill-text{
	font-size: 20px;
	line-height: 69px;
	padding-left: 10px;
}

.course-link a{
	position: relative;
	overflow: hidden;
	width: 100%;
	display: block;
}
.course-link a .course-link-hover{
	position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    text-align: center;
    color: #fff;
    padding-top: 10%;
    font-size: 15px;
    font-weight: bold;
    text-shadow: 0 0 3px #fff;
}
.course-link-hover-front{
	position: absolute;
    width: 100%;
    text-align: center;
    height: 100%;
    top: 0;
    font-weight: bold;
    color: #fff;
    background: transparent;
    background-color: rgba(44, 62, 80,.3);
    padding-top: 35px;
    text-shadow: 0 0 3px #fff;
}
.bg-transparent-green{
	background-color: rgba(57, 201, 159,.9);
}
.bg-transparent-red{
	background-color: rgba(244, 103, 103,.9);
}
.bg-transparent-purple{
	background-color: rgba(162, 93, 221,.9);
}
.bg-transparent-yellow{
	background-color: rgba(223, 185, 55,.9);
}

.course-section{
	background: #f5f7f8;
	padding-top: 50px;
}
.course-inner .col-md-12:first-child{
	margin-bottom: 25px;
}
.teacher-ispeaks{
	margin-top: 25px;
}
.box-course{
	width: 100%;
    background: #fff;
    padding: 15px;
    text-align: left;
    padding-top: 25px;
}
.box-course-title h2{
	font-size: 22px;
	font-weight: bold;
	color: #008dd5;
	margin-top: 0px;
}
hr.box-course-legend{
	text-align: left;
	width: 50px;
	height: 2px;
	background: #008dd5;
	margin-left: 0px;
	margin-top: 16px;
}

.box-course-link{
	position: relative;
	overflow: hidden;
	margin-bottom: 20px;
}
.box-course-link:last-child{
	margin-bottom: 0px;
}
.box-course-link-img{
	width: 29%;
	float: left;
}
.box-course-text{
	width: 69%;
	float: right;
	padding-left: 5px;
	border-bottom: 1px solid #f0f0f0;
	padding-bottom: 7px;
}
.box-course-link:last-child .box-course-text{
	border-bottom: none;
	padding-bottom: 0px;
}
.box-course-text .title-link{
	font-size: 15px;
	font-weight: bold;
	color:#333;
	display: block;
	line-height: 20px;
	min-height: 35px;
}
.box-course-text .title-link:hover{
	color:#5dcf83;
}
.count-student{
	margin-top: 7px;
}
.count-student, .level-student{
	color: #999999;
}
.box-course-text .text-detail{
	font-size: 13px;
}
.listen-text{
	width: 65%;
	float: left;
}
.box-course-text .btn-ispeak-small{
	width: 33%;
    float: right;
    background: #ebebeb;
    color: #999999;
    padding: 5px;
    font-size: 13px;
    text-align: center;
    margin-top: 30px;
}
.box-course-text .btn-ispeak-small.joined{
	background: #f4af37;
	color: #fff;
}
.box-course-text .btn-ispeak-small:hover{
	background: #5dcf83;
	color: #fff;
}
.pass-course-listen{
	font-size: 11px;
}
.pass-course-listen i{
	padding-right: 5px;
}
.pass-course-listen.begining{
	color:#4caf50;
}
.pass-course-listen.notyet{
	color: #e13e31;
}
.pass-course-listen.finish{
	color: #71909f;
}
.listen-text .timing{
	font-size: 11.5px;
}
.listen-text .timing i{
	font-size: 14px;
	padding-right: 4px;
}
.subject-course-listen{
	font-size: 13px;
	margin-top: 9px;
	margin-bottom: 9px;
}
.thumbnail{
	border:0px;
}
/*----------end skills section------*/
/* Carousel Control */
.control-box {
    text-align: right;
    width: 100%;
    position: absolute;
    top: 30%;
    }
    .carousel-control{
            background: #666;
		    border: 0px;
		    display: inline-block;
		    font-size: 34px;
		    font-weight: 200;
		    line-height: 17px;
		    opacity: 0.5;
		    padding: 4px 10px 0px;
		    position: static;
		    height: 30px;
		    width: 30px;
		    border-radius: 50%;
        }
.carousel-inner>.item{
	overflow: hidden;
}
.row-fluid .span3 {
    width: 23.404255319148934%;
}
.thumbnails{
	position: relative;
	overflow: hidden;
	margin-left: 0px;
	margin-right: 0px;
    padding: 0px;
}
.teacher-ispeaks .carousel-inner li{
	list-style: none;
}
.teacher-img a{
	position: relative;
	overflow: hidden;
	color: #fff;
}
.teacher-img a img{
	display: inherit!important;
}
.teacher-img hr{
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
}

.teacher-intro{
	padding: 7px;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    background: #008dd5;
    margin-top: -15px;
    z-index: 9999;
    display: block;
    -webkit-transition: background-color 500ms ease-out 1s;
    -moz-transition: background-color 500ms ease-out 1s;
    -o-transition: background-color 500ms ease-out 1s;
    transition: background-color 500ms ease-out 1s;
}
.teacher-intro:hover{
	background: #5dcf83;

}
.teacher-intro span{
	display: block;
}
.teacher-intro span:first-child{
	text-transform: uppercase;
}
.teacher-intro span:last-child{
	font-style: italic;
	font-size: 12px;
}

.teacher-intro span.teacher-name {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.caption .introduce-self{
	text-align: center;
    font-size: 13px;
    min-height: 80px;
    line-height: 18px;
}
.count-level-teacher{
	position: relative;
	overflow: hidden;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 13px;
	text-align: center;
}
.count-class{
	border-right: 1px solid #ccc;
	padding-right: 7px;
}
.star-level{
	padding-left: 5px;
}
.star-level span , .star-level i{
	color: #bbbbbb;
}
.schedule-videos{
	text-align: center;
	padding-bottom: 10px;
}
.schedule-videos a{
	
	color: #008dd5;
	font-size: 13px;
	
}

.schedule-videos a:hover{
	color: #ffb11d;
}
.schedule-videos .schedule{
	padding-right: 10px;
}
.schedule-videos i{
	padding-right: 5px;
}

/*-----------clients-sections--------*/
.clients-section{
	padding-top: 25px;
	padding-bottom: 25px;
}
.quotes-clients:before{
	content: '“';
	font-size: 60px;
	color: #008dd5;
	line-height: 30px;
	height: 20px;
    display: block;
}
.content-quote{
	font-size: 13px;
}
.content-quote p{
	line-height: 21px;
}
.clients-person{
	position: relative;
	overflow: hidden;
	margin-top: 20px;
}
.img-clients-person{
	float: left;
	width: 54px;
	height: 54px;
	border-radius: 50%;
	overflow: hidden;
}
.client-name-address{
	width: 77%;
	float: left;
	margin-left: 2%;
	border-top: 1px solid #eaeaea;
	padding-top: 5px;
}
.client-name-address span{
	display: block;
	font-size: 13px;
	color: #333333;
}
.client-name-address span.clients-name{
	font-weight: bold;
}
/*-----------end-clients-section------*/
/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
}
/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
	transform: rotateY(180deg);
}

.flip-container, .front, .back {
}

/* flip speed goes here */
.flipper {
	transition: 1s;
	transform-style: preserve-3d;
	
	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}

#nghe{
  -vendor-animation-duration: 2s;
  -vendor-animation-delay: 1s;
  -vendor-animation-iteration-count: infinite;
}

.introduce-inner{
	position: relative;
	padding-top: 50px;
	padding-bottom: 30px;
}
.img-introduce{
    position: absolute;
    bottom: 0;
    right: -40px;
    z-index: 99;
}
.img-introduce img{
	max-width: 80%;
}
.box-introduce{
	position: relative;
	padding: 15px;
	border: 3px solid #fff;
	color: #fff;
}
.box-introduce h1{
	font-weight: bold;
	text-transform: uppercase;
	font-size:68px;
	font-family: 'SFU Function Condensed Heavy';
	letter-spacing: -4px;
}
.box-introduce h1.slide-btn{
	background: none;
	margin: 0;
	padding: 0;
	border: none;
}
.box-introduce h2{
	font-family: 'SFU Function Condensed Heavy';
	font-weight: bold;
	text-transform: uppercase;
	font-size: 30px;
}
ul.list-features-inner{
    text-align: left;
    list-style: none;
    border-left: 2px solid #eb6068;
    padding-left: 30px;
}
ul.list-features-inner li{
	line-height: 35px;
}
.list-features{
	margin-top: 30px;
	padding-left: 70px;
	padding-right: 70px;
}
.below-box-introduce{
	font-size: 12px;
	color: #fbcdcd;
	margin-top: 40px;
}
.level-section{
	display: block;
	position: relative;
	margin-top: 40px;
	margin-bottom: 40px;
}
.charts{
	display: block;
	position: relative;
	height: 290px;
    font-size: 10px;
    text-align: center;
    margin-top: 70px;
}
.charts span {
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
}
.charts__chart {
    background-color: #7f8c8d;
    width: 100%;
    height: 2em;

}
.charts--vertical .charts__chart {
    width: 4rem;
    height: 100%;
    display: inline-block;
    position: relative;
}
.charts--vertical .charts__chart:hover{
    transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transition: all 350ms ease-in-out 0s;
    -moz-transition: all 350ms ease-in-out 0s;
    -webkit-transition: all 350ms ease-in-out 0s;
    -o-transition: all 350ms ease-in-out 0s;
    -ms-transition: all 350ms ease-in-out 0s;
}
.charts--vertical .charts__chart.width-p3{
	width: 12rem;
}

.charts--vertical .charts__percent {
    display: table;
    position: relative;
    top: 2%;
    color: #fff;
    width: 100%;
    text-align: center;
}

.charts.charts--vertical .chart--p5 {
    height: 5%;
}
.charts.charts--vertical .chart--p10 {
    height: 10%;
}
.charts.charts--vertical .chart--p15 {
    height: 15%;
}
.charts.charts--vertical .chart--p20 {
    height: 20%;
}
.charts.charts--vertical .chart--p25 {
    height: 25%;
}
.charts.charts--vertical .chart--p30 {
    height: 30%;
}
.charts.charts--vertical .chart--p35 {
    height: 35%;
}
.charts.charts--vertical .chart--p40 {
    height: 40%;
}
.charts.charts--vertical .chart--p45 {
    height: 45%;
}
.charts.charts--vertical .chart--p50 {
    height: 50%;
}
.charts.charts--vertical .chart--p55 {
    height: 55%;
}
.charts.charts--vertical .chart--p60 {
    height: 60%;
}
.charts.charts--vertical .chart--p65 {
    height: 65%;
}
.charts.charts--vertical .chart--p70 {
    height: 70%;
}
.charts.charts--vertical .chart--p75 {
    height: 75%;
}
.charts.charts--vertical .chart--p80 {
    height: 80%;
}
.charts.charts--vertical .chart--p85 {
    height: 85%;
}
.charts.charts--vertical .chart--p90 {
    height: 90%;
}
.charts.charts--vertical .chart--p95 {
    height: 95%;
}
.charts__chart.chart--green, .line-chart .point-chart.point-green{
	background: #5dcf83;
}
.charts__chart.chart--red, .line-chart .point-chart.point-red{
	background: #f46767;
}
.charts__chart.chart--yellow, .line-chart .point-chart.point-yellow{
	background: #edc755;
}
.charts__chart.chart--blue, .line-chart .point-chart.point-blue{
	background: #55a4ed;
}
.charts__chart.chart--cyan, .line-chart .point-chart.point-cyan{
	background: #48c5bb;
}
.charts__chart.chart--purple, .line-chart .point-chart.point-purple{
	background: #b44eda;
}
.charts__chart.people-chart:before{
	width: 100%;
	height: 50px;
	text-align: center;
	content: '';
	background: url('../../img/icon/people.png') no-repeat;
	background-position: center center;
	position: absolute;
	top: -55px;
	left: 0px;
	background-size: contain;
}
.charts__chart.winner-chart:before{
	width: 100%;
	height: 50px;
	text-align: center;
	content: '';
	background: url('../../img/icon/cupwin.jpg') no-repeat;
	background-position: center center;
	position: absolute;
	top: -55px;
	left: 0px;
}
.line-chart{
	width: 76%;
	display: block;
	margin-top: 20px;
	height: 2px;
	background: #ccc;
	margin: 20px auto;
	position: relative;
}
.line-chart:after{
	border-left: 10px solid #cccccc;
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    content: '';
    left: 100%;
    top: -4px;
    position: absolute;
}
.line-chart .point-chart{
	width: 10px;
	height: 10px;
	position: absolute;
	border-radius: 10px;
	background: #ccc;
	top: -5px;

}
.line-chart .point-chart span{
	font-size: 12px;
    text-transform: none;
    margin-top: 10px;
    display: block;
    width: 110px;
    text-align: center;
    margin-left: -50px;
}

.line-chart .point-chart.point-p10{
	left: 10%;
}
.line-chart .point-chart.point-p25{
	left: 25%;
}
.line-chart .point-chart.point-p40{
	left: 40%;
}
.line-chart .point-chart.point-p55{
	left: 55%;
}
.line-chart .point-chart.point-p70{
	left: 70%;
}
.line-chart .point-chart.point-p85{
	left: 85%;
}
.clearfix{
	clear: both;
}
.features-section{
	background: #1da7e1;
	margin-top:60px;
	display: block;
}
.features-section .container.features-inner{
	padding-top: 30px;
}
.compare-box{
	padding: 0px;
	display: block;
	position: relative;
	margin-top:40px;
}
.header-compare{
	background: #f3f1e9;
	color: #000;
	display: block;
	overflow: hidden;
	position: relative;
}
.header-compare .left-part, .header-compare .right-part{
	width: 50%;
	float: left;
	text-align: center;
	vertical-align: middle;
	padding-top: 10px;
	padding-bottom: 10px;
}
.header-compare .compare-part{
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	height: 100%;
	width: 50px;
	background: #da2b2b;
	color: #fff;
	line-height: 100%;
	text-align: center;
	display: block;
	line-height: 79px;
}
.row-compare{
	color: #000;
	position: relative;
	display: block;
	border-bottom: 1px solid #f1f0ea;
	padding-top: 25px;
	padding-bottom: 20px;
	overflow: hidden;
	min-height: 165px;
}
.row-compare .left-part, .row-compare .right-part{
	width: 50%;
	float: left;	
}
.row-compare .left-part{
	padding-left: 20px;
	padding-right: 60px;
}
.row-compare .right-part{
	padding-left: 60px;
	padding-right: 20px;
}
.line-compare{
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	width: 1px;
	height: 100%;
	background: #f1f0ea;
	top: 0px;
}
.line-compare .compare-part img{
    width: 86px;
    height: 86px;
    display: block;
    margin-left: -43px;
    margin-top: 30px;
    max-width: 86px;
}
.line-compare .compare-part span{
	width: 86px;
	margin-left: -43px;
	font-weight: bold;
    text-align: center;
    display: block;
}

ul.list-compare {
    list-style: none;
    position: relative;
    margin-top: 20px;
    display: block;
}
ul.list-compare li {
    vertical-align: text-top;
    margin-top: 15px;
    margin-bottom: 15px;
    position: relative;
}
ul.list-compare.list-success li:before {
    content: "";
    background: url('../../img/icon/success.png') no-repeat;
    height: 10px;
    width: 10px;
    position: absolute;
    left: -20px;
    top:5px;
}
ul.list-compare.list-failed li:before{
	content: "";
    background: url('../../img/icon/failed.png') no-repeat;
    height: 10px;
    width: 10px;
    position: absolute;
    left: -20px;
    top:5px;
}
.features-span{
	font-size: 20px;
	color: #da2b2b;
}

.features-section .privacy{
	padding: 10px;
	background: #1387b8;
	margin-top: 40px;
	margin-bottom: 40px;
}
.features-section .privacy .header-privacy h1{
	font-size: 25px;
	font-weight: bold;
	line-height: 40px;
}
.features-section .privacy .body-privacy{
	height: 260px;
	overflow-y:scroll;
	padding-right: 10px;
}
.scroll-overflow::-webkit-scrollbar{
	width:5px;
	background-color:#1ea1d8;
} 
.scroll-overflow::-webkit-scrollbar-thumb{
	background-color:#a9e6ff;
	border-radius:10px;
}
.scroll-overflow::-webkit-scrollbar-thumb:hover{
	background-color:#a9e6ff;
	border:1px solid #a9e6ff;
}
.scroll-overflow::-webkit-scrollbar-thumb:active{
	background-color:#a9e6ff;
	border:1px solid #a9e6ff;
} 

.register-section{
	padding-top: 40px;
    background-image: url(../../img/bg/register-bg.jpg);
    background-attachment: fixed !important;
    background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-position: 0 0;
    background-repeat: repeat;
    min-height: 323px;
    max-height: 323px;
    position: relative;
}
.register-section hr{
	background: #d9d9d5;
	border-bottom: 1px solid #fff;
}

.apply-register{
	width: 80%;
	margin: 0 auto;
}
.icon-box-register{
	display: block;
	position: relative;
}
.icon-box-register img{
	float: left;
}
.icon-box-register p{
	float: left;
	font-size: 20px;
	padding-left: 10px;
	line-height: 35px;
}
.icon-box-register p .inline{

}
.strikethrough {
  position: relative;
}
.strikethrough:before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  right: 0;
  border-top: 1px solid;
  border-color: inherit;

  -webkit-transform:rotate(5deg);
  -moz-transform:rotate(5deg);
  -ms-transform:rotate(5deg);
  -o-transform:rotate(5deg);
  transform:rotate(5deg);
}
.icon-box-register p .features{
	font-size: 30px;
	color: #da2b2b;
	font-weight: bold;
}
.icon-arrow-register img{
	padding-top: 30%;
}
.messenger-counting p{
	font-size: 20px;
	line-height: 35px;
}
.messenger-counting p .counting{
	font-size: 25px;
	color: #fff;
	background: #1da7e1;
	font-weight: bold;
	padding: 2px 6px;
	border-radius: 2px;
}
.messenger-counting p .counting .factor{
	color: #fff;
	padding: 0px;
	font-size: 25px;
	width: auto;
}
.btn-ispeak .all-text-btn{
	display: inline-block;
	position: relative;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 30px;
}
.btn-ispeak .all-text-btn .below-text-btn{
	display: block;
	text-align: center;
	font-size: 15px;
	text-transform: none;
}
.icon-click.larger {
    display: inline-block;
    height: 57px;
    width: 57px;
    background: url('../../img/icon/click-icon.png') no-repeat;
    background-size: 100% 100%;
    vertical-align: top;
    margin-right: 10px;
}
.messenger-counting .slide-btn.btn-ispeak{
	margin-top: 20px;
}
.advisory-section{
	background: #008dd5;
}
.form-advisory{
	width: 40%;
	margin: 30px auto;
}
.form-advisory .form-group label{
	font-weight: normal;
	text-align: left;
}
.form-advisory .form-group input[type="submit"]{
	background: #f4af37;
	border-radius: 0px;
	border: 1px solid #f4af37;
	font-size: 15px;
	padding: 7px 25px;
}
.form-advisory .form-group input[type="submit"]:hover{
	background: #5dcf83;
	border: 1px solid #5dcf83;
}
.form-advisory .form-control {
	border-radius: 0px;
}
.section-top-footer, .section-bottom-footer{
	background: #ddd;
}
.section-top-footer{
	padding-top: 23px;
	border-bottom: 1px solid #ccc;
	padding-bottom: 20px;
}
.title-top-footer h2{
	margin-top: 8px;
	font-weight: bold;
	font-size: 18px;
	color: #333;
}
.title-top-footer hr{
	width: 51px;
	margin-left: 0px;
	height: 3px;
	background: #333;
}
.title-footer-info h3{
	font-size: 14px;
    text-transform: uppercase;
    margin-top: 0px;
}
.main-footer-info p{
	line-height: 22px;
}
.bottom-top-footer span{
	font-size: 13px;
}
.bottom-top-footer span i{
	font-size: 15px;
	color: #b4bfc4;
	padding-right: 10px;
}
ul.social-icons{
	list-style: none;
	padding-left: 0px;
}
ul.social-icons li{
	display: inline-block;
	padding-left: 0px;
	margin-right: 10px;
}
ul.social-icons li a{
	width: 35px;
	height: 35px;
	border-radius: 50%;
	color: #fff;
	text-align: center;
	line-height: 35px;
    display: inline-block;
}
ul.social-icons li a:hover{
	background: #5dcf83!important;
}
.bottom-top-footer span:last-child{
	padding-left: 10px;
}
.footer-section{
	margin-bottom:30px;
}

.footer-info{
    display: block;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.footer-info .icon{
	float: left;
	font-size: 26px;
	color: #aaaaaa;
}
.title-bottom-footer h2{
	font-size: 18px;
}
.keyword-related{
	position: relative;
	overflow: hidden;
	width: 100%;
}
.keyword-related .main-subject-keyword{
	width: 10%;
	float: left;
}
.keyword-related .main-subject-keyword h3{
	font-size: 13px;
	font-weight: bold;
	margin-top: 0px;
}
.keyword-related .link-keyword-footer{
	width: 90%;
	float: left;
}
.link-keyword-footer a{
	color: #333;
}
.link-keyword-footer a:hover{
	color: #008dd5;
}
.footer-info .info-footer{
	float: left;
	padding-left: 10px;
}

.footer-info .info-footer span{
	display: block;
}

.footer-info .info-footer span.main-info{
	font-weight: bold;
	font-size: 20px;
	color: #333333;
}
.subscribe-part{
	background: #008dd5;
	color: #fff;
}
.img-subscribe-bottom{
	margin-top: -25px;
	margin-left: 10%;
}
.subscribe-part{
	margin-top: 25px;
}
.subscribe-part h2{
	margin-top: 10px;
	margin-bottom: 5px;
	font-size: 22px;
	font-weight: bold;
}
.subscribe-part h4{
	margin-bottom: 10px;
}
.form-footer-subscribe{
	margin-top: 15px;
}
.form-footer-subscribe .email-subscribe{
	margin: 0;
    border: none;
    background: #f7f7f7;
    padding: 8px 10px;
    font-size: 14px;
    width: 79.1%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    float: left;
}
.form-footer-subscribe .submit-subscribe{
    padding: 8px 10px;
    background: none;
    font-size: 14px;
    text-transform: uppercase;
    border: none;
    background: #f4af37;
    color: white;
    width: 20%;
    margin: 0;
}
.form-footer-subscribe .submit-subscribe:hover{
	background: #67b459;
}
@keyframes point-down {
	from {
		top:0;
	}
	to {
		top:5px;
	}
}
@-webkit-keyframes point-down {
	from {
		top:0;
	}
	to {
		top:5px;
	}
}
@-moz-keyframes point-down {
	from {
		top:0;
	}
	to {
		top:5px;
	}
}
@-o-keyframes point-down {
	from {
		top:0;
	}
	to {
		top:5px;
	}
}
@keyframes highlight {
	to {
		background: lightblue;
	}
}


.login-load {
	display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: #f2f2f2 url(../../img/ajax-loading.gif) center center no-repeat;
}

.bg_white{
	background: #fff !important;
}

.mypopup {
    transform: scale(0.8);
}
.popup_visible .mypopup {
    transform: scale(1);
}

.progress-bar {
    color: #333;
} 


/* Page account */

.page.account{
	background: #f7f7f7;
}

.profile-header {
    /*margin-top: -125px;*/
    margin-top: -75px;
    background: #fff;
    padding: 15px;
}

.profile-header .img-warp img{
	margin-top: -100px;
}

.profile-header p{
	line-height: 28px;
	margin-bottom: 0;
	font-size: 12px;
}

.profile-header .student-name{
	margin-top: 20px;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	display: block;
}

.student-name.icon{
	position: relative;
}

.student-name.ico-kid::after{
	content: "";
	position: absolute;
	top: 0;
	right: -30px;
	display: block;
    height: 15px;
    width: 35px;
    background: url(../../img/ico-kid.png) center left no-repeat;
}

.profile-header .box-overview{
	border-top: 1px solid #ddd;
    padding-top: 15px;
}

.border-right{
	border-right: 1px solid #ddd;
    margin-right: -15px;
    padding-right: 15px;
}

.border-l-r {
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 15px;
    padding-right: 15px;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
}


ul.int-profile li{
	font-size: 12px;
}

ul.int-profile li .text-first{
	font-weight: normal;
}

ul.int-profile li .int-pp{
	font-weight: bold;
}

.pf-progress td{
	font-size: 12px;
}

#statics{
	margin-bottom: 20px;
}

#statics .block{
	color: #fff;
	font-size: 12px;
	min-height: 175px;
}

#statics .btn{
	background: transparent;
	color: #fff;
	border-color: #fff;
}

#statics .block.bg-success {
    background: #39c99f;
}

#statics .block.bg-warning {
    background: #f5c543;
}

#statics .block.bg-danger {
    background: #e65347;
}

.up-lv{
	margin-top: 15px;
	margin-bottom: 5px;
}

.wrap-lv{
	height: 24px;
	text-align: left;
	color: #fff;
	background: #39c99f;
	padding-left: 5px;
	font-size: 14px;
}

.wrap-lv .bar-lv.progress{
	height: 24px;
}

.no-padding-l-r {
    padding-left: 0;
    padding-right: 0;
}